.shortcode-bg {
    position: relative;
    background-color: #f5f5f5;
    padding: 22px 15px;
    margin-bottom: 15px;
}
.shotcodwraper {
    border: solid 1px #a9a9a9;
    padding: 20px;
    margin-bottom: 20px;
}
.hori {
    margin-bottom: 20px;
    border-color: #eaeaea;
    border-style: solid none none;
    border-width: 1px 0 0;
    height: 0;
    margin: 30px 0;
}