.main table:not(.no-defult) {
  @extend .table;
  @extend .table-bordered;
  width: 100% !important;
  border-collapse: collapse;
}

.main table {
  a {
    color: $color-default;
  }
}

.table th, .main table:not(.no-defult) th, .table td, .main table:not(.no-defult) td{
  padding: 0.4rem 0.75rem;
  text-align: center;
}



