.main table:not(.no-defult) {
  @extend .table;
  @extend .table-bordered;
  width: 100% !important;
  border-collapse: collapse;
  overflow: auto;
}

.main table {
  a {
    color: $color-default;
  }
  &,
  a {
    font-size: 14px;
  }
}

.table th,
.main table:not(.no-defult) th,
.table td,
.main table:not(.no-defult) td,
.table thead th, .main table:not(.no-defult) thead th {
  padding: 0.4rem 0.75rem;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #9c9c9c;
}

%table-sticky {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  z-index: 1;
  white-space: normal;
}


.tb-fixed-head thead th{
  @extend %table-sticky;
  top: 0;
  z-index: 2;
  background: #eee;
}
.tb-fixed-head tbody td:first-child{
  @extend %table-sticky;
  @media(max-width: 768px){
      left: 0;
      background: #eee;
  }
}

.template-indicator table{
  table-layout: fixed;
} 

.template-indicator thead button {
    background: transparent;
    border: none;
    color: #000;  
    margin: 0 auto;
    padding: 0;
    font-size: 13px;
    font-weight: 500;
}
.template-indicator thead th {
    padding: 12px 5px;
    font-size: 13px;
    text-align: center;

}
.template-indicator .MuiSelect-select.MuiSelect-select{
  text-align:left;
  padding-left: 9px 15px 10px;
}
.template-indicator .MuiPaper-elevation4{
  padding: 15px;
}
.template-indicator .MuiToolbar-gutters{
  padding: 0;
}
.template-indicator .MuiInputBase-input{
  border: 1px solid #808080;
  border-radius: 5px;
}
.template-indicator .MuiInput-root{
  border: 1px solid #4a4a4a;
  margin-bottom: 0 !important;
}
.template-indicator .MuiInput-root .MuiInputBase-input{
    padding: 9px 15px 10px;
}
.fixed{
  top:0;
  position:fixed;
  width:auto;
  display:none;
  border:none;
}

#main-pivot-points-indicator {
  .more-indicator-filter {
    margin-bottom: 20px;
  }
  .col-md-5 {
    &.text-right {
      text-align: center!important;
    }
  }
}

.template-indicator, .main-indicator-filters-content {

  .MuiToolbar-gutters {
    .MuiTablePagination-spacer + p {
      @media(max-width: 767px) {
            width: 100%;
          }
    }
  }

  .MUIDataTableHead-responsiveStacked-36 {
    display: table-header-group!important
  }

  .MuiToolbar-root {
    @media(max-width: 767px) {
      flex-flow: row wrap;
    }

    .MuiInputBase-input {
      border: 1px solid #808080!important; 
    }
    .MUIDataTableToolbar-left-15 {
      @media(max-width: 767px) {
        flex: 100%!important;
      }
      .CustomSearchRender-main-90 {
          position: relative;
        .MuiSvgIcon-root {
          position: absolute;
          margin: 0!important;
          left: 10px;
          top:10px;
        }
        .CustomSearchRender-searchText-91 {
            flex:1!important;
            .MuiInputBase-input {
              padding: 10px 10px 10px 40px!important;
            }
          }
      }
      .CustomSearchRender-main-28 {
          position: relative;
        .MuiSvgIcon-root {
          position: absolute;
          margin: 0!important;
          left: 10px;
          top:10px;
        }
        .CustomSearchRender-searchText-29 {
            flex:1!important;
            .MuiInputBase-input {
              padding: 10px 10px 10px 40px!important;
            }
          }
      }
     
      .MUIDataTableSearch-main-28 {
          position: relative;
        .MUIDataTableSearch-searchIcon-29 {
          position: absolute;
          margin: 0!important;
          left: 10px;
          top:10px;
        }
        .MUIDataTableSearch-searchText-30 {
            flex:1!important;
            .MuiInputBase-input {
              padding: 10px 10px 10px 40px!important;
            }
          }
      }
    }
    .MUIDataTableToolbar-actions-17 {
      @media(max-width: 767px) {
        flex: 100%!important;
        text-align: left!important;
        margin-top: 20px!important;
      }

      .MuiInputBase-root {
        @media(max-width: 767px) {
          width: 185px!important;
        }
      }

      span {
         @media(max-width: 767px) {
          width: 100%;
          float: left;
        }
      }
      button {
        &.MuiButton-root {
          @media(max-width: 767px) {
            float: right;
          }
        }
      }
    }
  }
  .MUIDataTable-responsiveBase-5 {
    width: 100%;
    position: static!important;
  }

  table {
    &.MuiTable-root {
      &.MUIDataTable-tableRoot-4 {
        // table-layout: auto !important;
      }
    }

    tr {
      position: relative !important;

      th {
        background: #f7fdfa;
        font-weight: bold !important;
        color: #000000;
        text-transform: uppercase;
        width: 122px;


        .MUIDataTableHeadCell-data-55, span {
          font-weight: bold !important;
          color: #000000;
          text-transform: uppercase;
        }

        button {
          background: transparent!important;
          color: #000000!important;
          &:hover {
            background: transparent!important;
          }
          &:focus {
            background: transparent!important;
            box-shadow: none!important;
          }

          span {
            &.MuiButton-label {
              position: relative;
              &:after {
                content: '';
                position: absolute;
                right: -15px;
                border: 5px solid transparent;
                top: 7px;
                border-top-color: #000000;
              }
            }
          }
        }

         &:nth-child(2) {
            width: 90px;

             button {
               span {
                 &.MuiButton-label {
                  &:after {
                      right: -3px;
                  }
                 }
               }
             }
        }

        &:nth-child(3) {
          width: 90px;
        }
      }
      th[aria-sort="ascending"], th[aria-sort="descending"] {
          span {
             &.MuiButton-label {
              &:after {
               display: none;
              }
             }
          }
        }

      th,
      td {
        &:first-child {
          position: sticky !important;
          left: 0 !important;
          background: #ffffff!important;
          z-index: 999;

          &:before, &:after {
            content: "";
            position:absolute;
            top:0;
            width: 1px;
            height: 100%;
            background: #9c9c9c;
          }
          &:before {
            left: 0;
          }
          &:after {
            right: 0;
          }
        }
      }

      td {
        display: table-cell !important;

        .MUIDataTableBodyCell-stackedCommon-77 {
          width: 100%!important;
        }

        .MUIDataTableBodyCell-cellHide-73 {
          display: none !important;
        }
      }
    }
  }

  .MuiInput-root {
    border: 0 !important;
    &:before, &:after {
      display: none!important;
    }
  }
}

.MUIDataTableFilterList-root-33 {
  margin-bottom: 20px !important;
}
