.main table:not(.no-defult) {
  @extend .table;
  @extend .table-bordered;
  width: 100% !important;
  border-collapse: collapse;
}

.main table {
  overflow: auto;
  a {
    color: $color-default;
  }
}

.table th, .main table:not(.no-defult) th, .table td, .main table:not(.no-defult) td{
  padding: 0.4rem 0.75rem;
  text-align: center;
  // border: 1px solid #212425;
}


@media only screen and (max-width: 579px) {
  table thead tr th:first-child,
  table tbody tr td:first-child {
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    left: 0;
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    white-space: normal;
    z-index: 9;
    box-shadow: 2px 1px 5px 0px #dfdfdf;
    background: #eee;
  }
}

