/*===================================
	3.6 Blog
===================================*/
.blog-info{
	.info{
		display: inline-block;
		padding-#{$right}: 30px;
		vertical-align: middle;
		text-transform: capitalize;
		color: #555;
		font-weight: 300;
		&:last-child{
			padding-#{$right}: 0;
		}
		a{
			color: #555;
			&:hover{
				color: $primary_color;
			}
		}
		i{
			margin-#{$right}: 0;
			line-height: 24px;
		}
	}
	.blog-date{
		height: 60px;
		width: 60px;
		padding-#{$right}: 0;
		background: $primary_color;
		text-align: center;
		position: relative;
		top: 0;
		z-index: 9;
		#{$left}: 0;
		p{
			position: relative;
			font-weight: 600;
			margin-bottom: 0;
			color: #fff;
			a{
				color: #fff !important;
				font-weight: 600;
				&:hover{
					color: #000;
				}
			}
		}
		.date{
	   	    margin-top: -6px;	
		}
		.month{
			margin-top: 10px;
		}
		&:before{
			content:"";
			position: absolute;
			border: 1px solid #fff;
			top: 5px;
			bottom:5px;
			#{$left}:5px;
			#{$right}:5px;
		}		
	}
}
.blog-video{
	position: relative;
}
.blog-date.default-format{
    width: auto;
    height: auto;
    p{
    	padding: 10px 17px 12px;
    }
}
.blog-media ~ .blog-info{
	.blog-date{
		position: absolute;
		top: 20px;
		#{$left}: 20px;		
	}	
}
.archive .layout-packery {
	.blog-media {
	    padding-#{$right}: 0;
	    overflow: hidden;
	    width: 100%;
	}
	.blog-info .blog-date{
		display: none;
	}
	&.blog-packery .blog-post-info{
		margin-top: 0;
	}
}
.post-single{
	.blog-info{
		.blog-date{
			margin-#{$right}: 19px;	
		}	
	}	
}
.single-post{
	.blog-info{
		.blog-date{
			margin-#{$right}: 19px;	
		}	
	}	
	.blog-media ~ .blog-info{
		.blog-date{
			margin-#{$right}: 0;		
		}	
	}
	.blog-video {
	  	height: 450px;
	    position: relative;
	    &.blog-audio{
	    	height: 200px;
	    }
	}
}
.post-name{
	a{
		color: #000;
    	letter-spacing: -0.3px;
		color: #282828;
		font-size: 20px;
		font-weight: 600;
		&:hover{
			color: $primary_color;
		}	
	}
}

.blog-item {
	position: relative;
	margin-bottom: 30px;
	.read-more {
	    padding: side-values(0px 0 34px);
	    text-align: center;
	    a{
	    	color: $primary_color;
	    	&:hover{
	    		color: #282828;
	    	}
	    }
	}
}
.grid-item{
	&.col-md-3,&.col-sm-4{
		.blog-info {
			.blog-date {
				padding-#{$right}: 10px;
			} 
		}
	}
}
.grid-isotope{
	&.blog-grid{
		.col-md-6, .col-md-12{
			.blog-media, .blog-post-info{
			  float: $left;
			  width: 100%;
			}
			.blog-media ~ .blog-post-info,.blog-media{
				width: 50%;
			}
			.blog_post_desc p {
			  max-height: 144px;
			  overflow: hidden;
			}
			.blog-media{
			  padding-#{$right}: 15px;
			  position: relative;
			  z-index: 1;
			}
			.blog-post-info {
			  padding-#{$right}: 30px;
			  height: 372px;
			}
			.info-bottom{
			    bottom: 0;
			    position: absolute;
			    width: calc(100% + 15px);
				margin: side-values(0 -30px);
				.info-tag{
					padding-#{$left}: 35px;
				}
			}
			.info-top{
			    margin-#{$right}: -11px;
			    text-align: $right;
			}
		}
		.col-md-3{
			.blog_post_desc p {
			  max-height: 120px;
			  overflow: hidden;
			}
		}
	}
}
.blog-grid, .blog-masonry {
	.blog-content, .blog-item {
	  float: $left;
	  width: 100%;
	}
	.blog-item{
		-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		-moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.1);
		box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	}
	.blog-post-info {
	  padding-#{$left}: 15px;
	  padding-#{$right}: 15px;
	  position: relative;
	}
	.blog-info .info {
		padding-#{$right}: 15px;
		&:last-child, &.blog-date{
			padding-#{$right}: 0;
		}
	}
	.blog_post_desc {
	  	padding-#{$left}: 4px;
	  	p{
		  	margin-bottom: 0;
	  	}
	}
	.info-top{
	    text-align: center;
	    padding-top: 14px;	
	}
	.blog-post-title {
	    padding: side-values(18px 0 16px);
	    text-align: center;
	    border-bottom: 1px solid #ededed;
	    margin-bottom: 14px;
	}
	.info-bottom{
	  	background: #f5f5f5 none repeat scroll 0 0;
	    margin: side-values(0 -15px);
	    padding-bottom: 7px;
	    padding-top: 8px;
		.info-tag{
			padding-#{$left}: 15px;
		}
	}
}
.blog-list{
	.blog-media{
	  padding-#{$left}: 24px;
	}
	.blog-media a::before{
		content: none; 
	}
	.blog-date {
	  position: relative;
	  #{$left}:0;
	  top: 0;
	}
	.blog-post-info {
	  background: #fff none repeat scroll 0 0;
	  margin-top: 0;
	  padding: side-values(26px 31px 27px);
	  position: relative;
	  z-index: 10;
	  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	  -moz-box-shadow:    0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	  box-shadow:         0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	}
	.blog-media ~ .blog-post-info{
		margin-top: -52px;
		margin-#{$right}: 20px;
	}
	.blog-media ~ .blog-info{
		.blog-date {
		  #{$left}: 44px;
		  position: absolute;
		  top: 20px;
		}		
	}
	.post-name {
	    padding-bottom: 11px;
	}
	.blog_post_desc {
		p{
			margin-bottom: 13px;
		}
	    padding-bottom: 0;
	    // border-bottom: 1px solid #ededed;
	    // margin-bottom: 14px;
	}
	.blog_post_desc + .blog-info{
	    border-top: 1px solid #ededed;
	    padding-top: 14px;	
	    clear: both;	
	}
}
.blog_post_desc{
	 .entry-content {
	    padding-bottom: 10px;
	}
    .page-links{
		> *:not(.page-links-title) {
		    background: $primary_color;
		    border: 1px solid $primary_color;
		    color: #fff;
		    padding: 4px 0px;
		    height: 30px;
		    width: 30px;
		    text-align: center;
		    margin: 0 3px 12px;
		    display: inline-block;
		} 
    	.screen-reader-text{
    		display: none !important;
    	}		   	
    } 	
}

.author-box,.post-comments{
	clear: both;
}
.info-cat,.info-tag{
	&:hover{
		i{
			color: $primary_color;
		}
	}
}
.show-space.blog-packery{
	margin:side-values(0 -15px);
}
.blog-container .blog-packery.blog-style2 .blog-post-title .post-name a {
    font-size: 20px;
    line-height: 30px;
    color: #282828;
    &:hover{
    	color: $primary_color;
    }
}
.blog-packery{
	.grid-item:nth-child(2n){
		.blog-media,
		.blog-img{
			order:2;
			margin-top: 20px;
		}
		.blog-post-info {
			order:1;
		}
		.blog-post-info {
			margin-top: 0;
		}
	}
	.info-tag{
		text-transform: capitalize;
		color: #b3b3b3;
		font-size: 14px;
		font-weight:300;
		line-height: 20px;
		margin-bottom: 5px;
		margin-top:-3px;
		a{
			color: #b3b3b3;
		}
		&:hover{
			color: $primary_color;
			a{
				color: $primary_color;
			}
		}
	}
	.blog-item{
		float: $left;
	  	width: 100%;
	  	padding: 0;
		margin: 0;
		list-style: none;
	  -ms-box-orient: horizontal;
	  display: -webkit-box;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: -moz-flex;
	  display: -webkit-flex;
	  display: flex;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	}
	.blog-img{
		display: inline-block;
	}
	.blog-post-info {
		display: inline-block;
		margin-top: 32px;
	}
	.post-name {
	    margin-top: -5px;
	    border-bottom: 1px solid #ebebeb;
	    padding-bottom: 20px;
	    margin-bottom: 11px;
	}
	&.blog-style2{
		.post-name{
			margin-top: 0;
			padding-bottom:0;
			border-bottom: none;
			margin-bottom: 3px;
		}
		.grid-item:nth-child(2n) .blog-img {
		    margin-top: 0;
		}
	}
	.blog_post_desc {
	    padding-top: 9px;
	    p{
	    	margin-bottom: 9px;
	    	max-height: 70px;
	    	overflow: hidden;
	    }
	}
	.read-more {
		a {
		    font-size: 15px;
		    padding-#{$left}: 3px;
		}
	}
	.blog-item:hover{
		.blog-img{
			a:before{
				@include transform(none);
				height: 100%;
				width: 100%;
				opacity: 0.35
			}
			a:after{
				height: 100%;
				width: 100%;
				opacity: 0.35;
			}
		}
	}
	.blog-img{
		overflow: visible;
		&:before{
			width: 0;
			height: 0;
			position: absolute;
			content: none;
			z-index: 1;
			border-style: solid;
		}
		a{
			&::before {
			  	height: 0;
			  	width: 0;
			  	@include transform(none);
			}
			&::after {
			  	height: 0;
			  	width: 0;
			  	z-index: 9;
			    #{$right}: 0;
			    position: absolute;
			    bottom: 0; 
			    background: $primary_color;
			    content: "";
			    @include transitions(all 0.3s ease-in-out 0s);
			}
		}
	}
}
.layout-packery{
	.blog-item{
		background: #f5f5f5;
	}
	.blog-media{
		padding-#{$right}: 15px;
	}
	.blog-post-info{
		padding: side-values(0 15px);
	}
	.image_size1{
		.blog-media{
			padding-#{$right}: 0;
		}
		.info-top {
		    margin-top: 0;
		}
	}
	.image_size2{
		.blog-media{
			padding-#{$right}: 0;
			padding-#{$left}: 15px;
		}
		.blog-info .blog-date {
		  #{$left}: auto;
		  #{$right}: 20px;
		}
	}
	.info-top {
	  margin-bottom: 15px;
	  margin-top: 15px;
	}
	.post-name {
	  border-bottom: none;
	  margin-bottom: 0;
	  margin-top: 0;
	  padding-bottom: 0;
	}
	.blog-item .read-more {
	  padding-bottom: 20px;
	  text-align: $left;
	}
	.info-bottom {
	  padding-bottom: 15px;
	}
}
// Home Blog 
.blog-img{
	position: relative;
	z-index: 1;
	a{
		display: block;
		overflow: hidden;
		position: relative;
		&::before {
		  height: 100%;
		  #{$left}: 0;
		  position: absolute;
		  top: 0;
		  z-index: 1;
		  width: 100%;
		  background: $primary_color;
		  content: "";
		  @include transform(rotate(90deg) scale(0));
		  @include transitions(all 0.3s ease-in-out 0s);
		}
	}
}
.blog-item:hover{
	.blog-img{
		a:before{
			@include transform(rotate(0) scale(1));
			opacity: 0.7;
		}
	}
}
.container-fluid {
	.grid_style_4 .blog-img img{
		width: 100%;
	}
}
.blog-container{
	.blog-item .read-more {
	 	display: inline-block;
	  	padding: side-values(0);
	  	text-align: $left;
	  	a{
	  		font-weight: 500;
	  		&:hover{
	  			i{
	  				margin-#{$left}: 15px;
	  			}
	  		}
	  	i{
	  		margin-#{$left}: 10px;
	  		@include transitions(all 0.3s ease-in-out 0s);
	  	}
	  }
	}
	.blog-date {
	  	.date{
	  		margin-top: -2px;
	  		margin-bottom: 0;
	  	}
	  	a {
		  	color: #acacac;
		  	font-weight: 500;
		  	font-size: 13px;
		  	&:hover{
		  		color: $primary_color;
		  	}
		  	i{
		  		margin-#{$right}: 7px;
		  	}
		}
	}
	.blog-post-title {
	    border-bottom: medium none;
	    text-align: $left;
	    .post-name a{
	    	font-size: 24px;
	    	line-height: 30px;
	    	color: #000;
	    	&:hover{
	    		color: $primary_color;
	    	}
	    }
	}
	.blog_post_desc {
	    padding-#{$left}: 0;
	}

	.blog-grid {
		.blog-item{
		  	-webkit-box-shadow: none;
	  		-moz-box-shadow:    none;
	  		box-shadow:         none;
		}
		.blog-post-info {
			padding: side-values(0);
		}
		.blog-post-title {
		    padding: side-values(26px 0 1px);
		}
		.blog_post_desc {
		    border-bottom: 1px solid #ebebeb;
		    overflow: hidden;
		    margin-bottom: 11px;
		    padding-bottom: 4px;
		    p{
			    margin-bottom: 12px;
		    }
		}
		.blog-date {
		  	display: inline-block;
		  	float: $right;
		}
		.blog-post-title .post-name {
		  height: 100%;
		}
	}
	.grid_style_2{
		.blog-content{
			text-align: center;
			.blog-date {
			    float: none; 
			    padding-top: 10px;
			}
			.blog-post-info {
			  	padding: side-values(18px 18px 16px 18px);
			  	background: #f5f5f5;
			  	margin-top: -40px;
			    margin-#{$left}: 10px;
			    margin-#{$right}: 10px;
			    position: relative;
			    z-index: 10;
			}
			.blog-post-title {
			  text-align: center;
			  padding: side-values(8px 0 18px);
			  border-bottom: 1px solid #ebebeb;
			}
			.blog-item:hover{
				.blog-img a::before {
					height: 100%;
					opacity: 0.5;
				}
			}
		}
		.blog-img a::before {
		  bottom: 0;
		  height: 0;
		  opacity: 0;
		  top: auto;
		  @include transform(none); 
		}
		.read-more a {
		    text-transform: uppercase;
		    i{
		    	display: none;
		    }
		}
	}
	.grid_style_3{
		.blog-media{
			padding-#{$left}: 30px;
			z-index: 9;
		}
		.blog-post-info {
		  background: #f5f5f5 none repeat scroll 0 0;
		  padding: side-values(217px 30px 24px);
		  margin-top: -192px;
		  margin-#{$right}: 30px;
		}
		.blog-post-title {
		    padding-top: 8px;
		}
		.blog-date {
		  float: none;
		  i{
		  	display: none;
		  }
		}
	}
	.grid_style_4{
		.blog_post_desc {
		    padding-bottom: 9px; 
		    height: 100%;
		}
		.blog-content{
			&:hover{
				.blog-post-title .post-name a{
					color: $primary_color;
				}
			}
		}
		.blog-post-title .post-name a{
			color: #000;
		}
		.blog-img a{
			&:before{
				content:none;
			}
		}
	}
	.grid_style_5{
		.col-lg-6, .col-lg-12{
			.blog-media, .blog-post-info {
				float: $left;
			    width: 50%;
			}
			.post-name {
			    max-height: 60px;
			    overflow: hidden;
			}
			.blog_post_desc {
			  	p {
				    max-height: 75px;
				    overflow: hidden;
				}
			}
		}
		.col-lg-4, .col-lg-3{
			.blog-post-info {
			    padding: side-values(0 15px 15px);
			}
		}
		&.show-space {
			.col-lg-6, .col-lg-12{
				.blog-media{
				    padding-#{$right}: 15px;
				}
				.blog-post-info {
				    padding-#{$left}: 15px;
				    padding-#{$right}: 15px;
				}
			}
		}
		.blog-item:hover{
			.blog-img a::before{
				@include transform(scale(1));
			}
		}
		.blog-item{
			background: #fff;
		}
		.blog-img a::before{
			@include transform(scale(0));
		}
		.blog-date {
		  float: none;
		  padding-top: 26px;
		}
		.post-name {
		    max-height: 60px;
		    overflow: hidden;
		}
		.blog_post_desc {
		  border-bottom: medium none;
		  margin-bottom: 0;
		  padding-bottom: 0;
		  	p {
			    margin-bottom: 7px;
			}
		}
		.blog-post-title {
		    padding: side-values(8px 0 11px);
		}
		&.blog-grid .blog_post_desc {
		  height: 100%;
		}
	}
}
.load-more .fa-spin{
	color: $primary_color;
	margin-#{$left}: 7px;
}

#blog-loadmore {
  background: #f0f0f0 none repeat scroll 0 0;
  border: medium none #f0f0f0;
  border-radius: corner-values(0);
  color: #8b8a8a;
  font-weight: 400;
  margin-top: 0;
  padding: side-values(22px 20px 18px);
  text-transform: uppercase;
  width: 100%;
  &:hover{
  	color: $primary_color;
  }
}
.category-design{
	footer{
		padding-top: 50px;
	}
}

.category{
	#main + .vc_row{
		margin-top: 90px;
	}
	.vc_row + footer{
		padding-top: 0;
	}
}
.has_overlay:before {
    content: "";
    background: #d19f68;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}
.quote_section{
	blockquote{
		border-#{$left}:0;
		padding: side-values(0);
		margin-bottom: 55px;
		color: #000;
	}
}
.arrows-custom{
	.slick-arrow{
		height: 36px;
		width: 36px;
		background: #fff;
		color: #2d2d2d;
		border:1px solid #fff;
		position: absolute;
		top:50%;
		@include transform(translateY(-50%));
		&:hover{
			background: $primary_color;
			color: #fff;
			border-color:$primary_color;
		}
		&.btn-next{
			#{$right}:-1px;
			z-index: 1;
		}
		&.btn-prev{
			#{$left}:0;
		}
	}
	.slick-dots {
	  	list-style: outside none none;
	  	padding: side-values(0);
	  	margin: side-values(0);
	  	text-align: center;
	  	position: absolute;
		bottom: 0;
		width: 100%;
	  	li{
	  		display: inline-block;
	  		&.slick-active{
	  			button{
	  				background: $primary_color;
	  			}
	  		}
	  		button{
	  			border: none;
	  			background: #fff;
	  			padding: side-values(0);
	  			width: 10px;
	  			height: 10px;
	  			margin: side-values(0 3px);
	  			text-indent: -9999em;
	  			border-radius: corner-values(50%);
	  		}
	  	}
	}
}
.blog-gallery{
	margin: side-values(0);
	z-index: 5;
	.slick-arrow {
	  display: block;
	  font-size: 34px;
	  line-height: 44px;
	}
	.slick-arrow.btn-prev {
	  #{$left}: 5px;
	}
	.slick-arrow.btn-next {
	  #{$left}: auto;
	  #{$right}: 5px;
	}
	.blog-img:before{
		border-style: none;
	}
	.slick-dots{
		position: absolute;
		bottom: 20px;
		li{
			margin: side-values(0);
			height: auto;
			width: auto;
			button:before{
				content: none;
			}
		}
	}
}
.blog-media{
	.quote_section {
		padding: side-values(100px 15px 15px);
		background: #f5f5f5;
		blockquote {
			margin-bottom: 20px;
		  	i{
		  		color: $primary_color;
		  		font-size: 42px;
		  	}
		  	span{
		  		font-size: 16px;
		  		content: #000;
		  	}
		}
		.author_info{
			color: $primary_color;
		}
	}
	figure{
		padding: side-values(100px 15px 15px);
		background: #f5f5f5;
	}
	.post_link {
		color: #000;
		font-size: 16px;
    	font-style: italic;
		&:hover{
			color: $primary_color;
		}
		i{
	  		color: $primary_color;
	  		font-size: 42px;
	  	}
	}
}
.quote_section blockquote{
	margin-top: 0;
}
blockquote {
	font-style: italic;
    padding: side-values(0 27px 0);
    margin: side-values(24px 0 24px);
    font-size: 14px;
    border-#{$left}: 4px solid $primary_color;
    border-#{$right}:none;
}
.blog_post_desc {
	color: #282828;
	.list-items {
	    list-style-type: none;
	    padding-#{$left}: 17px;
	    padding-top: 5px;
	    margin-bottom: 24px;
	    li{
	    	margin-bottom: 12px;
	    }
	}
}
.grid-item .blog_post_desc{
	color: #696969;
}
.profile-bottom{
	position: relative;
	.comment-awaiting-moderation{
		position: absolute;
		top: -80px;
		#{$left}:130px;
		color: #58a839;
	}
}
label.error{
	color: #ff0000;
}
// Single Post
.single-post .wrappe{
	padding-bottom: 67px;
}
.side-breadcrumb + .wrapper .post-single{
	.blog-post-title{
		display: none;
		.post-name h3 {
		    color: #282828;
		    font-size: 18px;
		    font-weight: 600;
		    margin-top: 28px;
		    border-bottom: 1px solid #ededed;
		    padding-bottom: 18px;
		}
	}
}
.post-single {
	margin-bottom: 67px;
	.comment-form-rating{
		display: none;
	}
	.quote_section blockquote{
		margin-top: 30px;
	}
	.blog-info {
	    padding-top: 14px;
	    border-bottom: 1px solid #ededed;
	    padding-bottom: 17px;
	}
	.blog-content{
		margin-bottom: 27px;
	}
	.blog_post_desc{
		padding-top: 26px;
	}
   	.addthis_sharing_toolbox{
   		padding: side-values(12px 0 7px);
   		border-top:1px solid #e6e5e5;
   		border-bottom:1px solid #e6e5e5;
   	}
   	.share-links{
   		margin-bottom: 66px;
   	}
   	.commentlist{
   		margin-bottom: 66px;
   	}
   	.blog-item {
   		margin-bottom: 28px;
   		.post_link{
	   		margin-bottom: 60px;
	   	}
   }
   .blog-media figure,
   .blog-media .quote_section{
   	padding-top: 15px;
   }
}
.addthis_sharing_toolbox{
	.lab{
		display: inline-block;
		float: $left;
		margin-top: 7px;
		margin-#{$right}: 13px;
	}
	.f-social{
		overflow: hidden;
		ul{
			list-style-type: none;
			padding-#{$left}: 0;

		}
		li{
			float: $left;
			margin-#{$right}: 5px;
			display: inline-block;
			a{
				height: 38px;
			    width: 23px;
			    text-align: center;
			    display: block;
			    line-height: 35px;
			    font-size: 16px;
			    color: #c5c5c5;
			    border: none;
			    &:hover{
			    	border-color: $primary_color;
			    	color: $primary_color;
			    }
			}
		}
	}
}

.comment-reply-title,
.post-comments .widget-title,
#comments .widget-title {
    font-size: 24px;
    text-transform: uppercase;
    padding: side-values(30px 0 16px);
    border-bottom: 3px solid #f4f4f4;
    position: relative;
    margin-bottom: 49px;
    font-weight: 700;
    font-family: Asap;
    color: #282828;
	&:before{
		background: $primary_color;
		height: 3px;
		width: 97px;
		content: "";
		position: absolute;
		#{$left}:0;
		bottom: -3px;
	}
}

.comment-body{
	.comment-author{
		margin-#{$left}: 5px;
		display: inline-block;
		position: relative;
		z-index: 1;
		&:before{
			content: "";
			height: 100%;
			z-index: -1;
			width: 100%;
			opacity: 0.3;
			background: -moz-linear-gradient(0deg, $primary_color 0%, $primary_color2 100%,$primary_color2  100%);
			background: -webkit-linear-gradient(0deg, $primary_color 0%, $primary_color2 100%,$primary_color2  100%);
			background: linear-gradient(0deg, $primary_color 0%, $primary_color2 100%,$primary_color2  100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color', endColorstr='$primary_color2',GradientType=1 );
			position: absolute;
			top:5px;
			bottom: 5px;
			#{$right}: 5px;
			#{$left}:-5px;
		}
	}
	.comment-author + .profile-bottom{
		.comment-bottom {
			margin-top: -72px;
		}
	}
	.comment-bottom {
		margin-top: 0;
	}
	.comment-bottom {
		font-size: 14px;
		position: relative;
		padding: side-values(24px 40px 27px 87px);
	    border: 1px solid #e8e8e8;
	    margin-#{$left}: 41px;
	    min-height: 158px;
	    overflow: hidden;
	    .info-content{
	    	.profile-name{
			    text-transform: uppercase;
			    font-weight: 600;
			    display: inline-block;
			    float: $left;
			    color: #282828;
	    	}
	    	.date-cmt{
	    		float: $left;
	    		padding-#{$left}: 30px;
	    		position: relative;
	    		&:before{
	    			content: "";
	    			background: #555;
	    			height: 13px;
	    			width: 1px;
	    			position: absolute;
	    			#{$left}: 16px;
	    			top:6px;
	    		} 
	    	}
	    }
	    .profile-desc{
	    	float: $left;
	    	width: 100%;
	    	margin-top: 23px;
	    }
	    .links-info{
	    	position: absolute;
	    	bottom: 30px;
	    	#{$left}:27px;
	    	a{
	    		color: #424242;
	    		&:hover{
	    			color: $primary_color;
	    		}
	    	}
	    }
	}
}
.pingback{
	.comment-body .comment-bottom {
	    padding-left: 30px;
	    padding-right: 30px;
	    margin-#{$left}: 0;
	    min-height: auto;
	}
}
.commentlist{ 
	padding-#{$left}: 2px;
	li{
		padding-bottom: 30px;
		&:last-child{
			padding-bottom: 0;
		}
	}
	.children{
		li:last-child{
			padding-bottom: 0;
		}
	}
}
.comment-reply-title{
	a{
		font-size: 15px;
		position: absolute;
		#{$right}:0;
	    bottom: 23px;
	    text-transform: capitalize;
	    font-family: Open Sans;
	}
}
.commentlist ul.children {
    padding-top: 30px;
}
.comment-form{
	padding-top: 2px;
	.form-row{
		margin-bottom: 20px;
	}
}
.comment-submit{
	margin-top: 10px;
	.btn{
		padding: side-values(15px 38px);
		min-width: 165px;
		&.btn-icon i {
		    margin-#{$left}: 15px;
		}
	}
}
.comment-textarea{
	.form-row textarea {
	  height: 120px;
	}
}
.info-form{
	width: 44.5%;
}
.comment-textarea{
	width: 55.5%;
}
.form-row label.error {
  font-size: 13px;
  margin-bottom: 0;
}
.pagination{
	margin: side-values(41px 0 0);
}
.page-numbers{
	list-style-type:none;
	padding-#{$left}: 0;
	margin-bottom:0;
	li{
		display: inline-block;
		margin-#{$right}: 7px;
		text-align: center;;
		&:last-child{
			margin-#{$right}: 0
		}
		.page-numbers{
			cursor: pointer;
			height: 36px;
			width: 36px;
			line-height: 35.5px;
			font-size: 13px;
			color:#2d2d2d;
			display: block;
			border:1px solid #ebebeb;
			&:hover,
			&.current{
				color:#fff;
				border-color: $primary_color;
				background: $primary_color;
			}
		}
		
	}
}
.pagination-content{
	width: 100%;
	float: $left;
}
.paginationtype-2{
	list-style: none;
	padding: side-values(13px 22px 11px);
	position: relative;
	margin-bottom: 0;
	width: 100%;
	float: $left;
	background: #f0f0f0;
	margin-bottom: 67px;
	li{
		display: inline-block;
		&.pagination_button_next {
		 	float: $right;
		 	a{
		 		span{
					margin-#{$left}: 6px;
					margin-#{$right}: 0;
				}
		 	}
		}
		a{
			cursor: pointer;
			height: 36px;
			color: #8b8a8a;
			font-size: 12px;
			font-weight: 600;
			text-transform: uppercase;
			line-height: 36px;
			display: block;
			text-align: center;
			&:hover{
				color: $primary_color;
			}
			span{
				margin-#{$right}: 6px;
			}
		}
	}
}
.comment-bottom .profile-desc li{
	padding-bottom: 0;
}
#comments{
	clear: both;
}
.blog-item iframe {
  width: 100%;
}
.btn-viewmore{
  margin-top: 50px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .comment-submit{
		margin-top: 3px;
	}
}
@media(max-width:1199px){
	.blog-packery.blog-style2{
		.grid-item{
			margin-bottom: 40px;
			&:nth-child(2n) {
				.blog-media,
				.blog-img{
					order:1;
					margin-top:0;
				}
				.blog-post-info {
					margin-top:32px;
				}
			}
			&:nth-child(2n+1) .blog-post-info {
				order:2;
			}
		}
	}

}
@media (min-width: 992px){
	.blog-grid {
		.blog-post-title{
		  	.post-name{
			  height: 50px;
			  overflow: hidden;
			}
		}
		.blog_post_desc{
		  height: 144px;
		  overflow: hidden;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.grid-isotope{
		&.blog-grid, &.blog-masonry {
			.col-md-6, .col-md-12{
				.blog-post-info {
				  padding-#{$right}: 15px;
				  padding-#{$left}: 0;
				}
				.info-bottom{
					margin: side-values(0 -15px);
					.info-tag{
						padding-#{$left}: 15px;
					}
				}
				.info-top{
				    margin-#{$right}: 0;
				}
				.post-name a {
				  font-size: 16px;
				}
			}
		}
	}
	.blog-container .grid_style_5 {
		.blog-date {
		  padding-top: 10px;
		}
		.blog-post-title {
		    padding-bottom: 0; 
		}
		.post-name a { 
		  font-size: 18px;
		  line-height: 28px;
		}
	}
	.layout-packery .blog_post_desc p {
	  max-height: 75px;
	  overflow: hidden;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.blog-container .grid_style_5 .col-lg-6 .blog-media, 
	.blog-container .grid_style_5 .col-lg-12 .blog-media {
	  padding-#{$right}: 0 !important;
	  width: 100%;
	}
	.blog-container .grid_style_5 .col-lg-6 .blog-media, 
	.blog-container .grid_style_5 .col-lg-6 .blog-post-info, 
	.blog-container .grid_style_5 .col-lg-12 .blog-media, 
	.blog-container .grid_style_5 .col-lg-12 .blog-post-info {
	  width: 100%;
	  padding-bottom: 15px;
	}
	.blog-container .grid_style_5 .blog-date {
	  padding-top: 10px;
	}
}
@media (min-width: 768px){
	.iframe_video_container {
	  height: 100%;
	  position: relative;
	  width: 100%;
	}
	.blog-packery .blog-video{
		iframe{
			position: static;
		}
	}
	.blog-video{
		iframe{
			width: 100%;
			position: absolute;
			top: 0;
			#{$left}: 0;
			height: 100%;
		}
	}
}
@media (max-width: 991px){
	.archive .layout-packery {
		.blog-img{
			width: 100%;
			img{
				width: 100%;
			}
		}
	}
	.grid-isotope{
		&.blog-grid, &.blog-masonry {
			.col-md-6, .col-md-12{
				.blog-post-info,
				.blog-media {
				    width: 100%;
				    height: 100%;
				}
				.blog-media {
				    padding-#{$right}: 0;
				}
				.blog-post-info {
				  padding-#{$right}: 15px;
				  padding-#{$left}: 15px;
				}
				.info-bottom{
					margin: side-values(0 -15px);
					position: static;
    				width: calc(100% + 30px);
					.info-tag{
						padding-#{$left}: 15px;
					}
				}
				.info-top{
				    margin-#{$right}: 0;
				    text-align: center;
				}
			}
		}
	}
	.grid-isotope.blog-grid .col-md-6 .blog-media ~ .blog-post-info, 
	.grid-isotope.blog-grid .col-md-6 .blog-media, 
	.grid-isotope.blog-grid .col-md-12 .blog-media ~ .blog-post-info, 
	.grid-isotope.blog-grid .col-md-12 .blog-media {
	  width: 100% !important;
	}
	.blog-packery .grid-item {
	  	width: 100%;
	  	margin-bottom: 40px;
		&:nth-child(2n){
			.blog-img{
				order:1;
				margin-top: 0;
			}
			.blog-post-info {
				order:2;
				margin-top: 31px;
			}
		}
		&:last-child{
			margin-bottom: 0;
		}
	}
	.post-single {
		margin-bottom: 17px;
	}
}
@media (max-width: 767px){
	.blog-item .blog-media {
		img{
			width: 100%;
		}
		a:before,
		a:after{
			content: none;
		}
	}
	.commentlist ul.children {
	    padding-#{$left}: 20px;
	}	
	.single-post .blog-info .info {
	    margin-bottom: 10px;
	}
	.blog-container {
		.blog-post-title {
			padding-top: 0;
			.post-name a {
			  font-size: 18px;
			  line-height: 24px;
			}
		}
		.grid_style_5 .col-xs-12.grid-item {
		  width: 100%;
		}
	}
	.layout-packery {
		.blog-item .blog-post-info {
		  padding-top: 0 !important; 
		}
		.info-top {
		  margin-bottom: 0;
		}
		.image_size1 .blog-item .blog-post-info {
		  padding-top: 0;
		}
	}
}
@media (max-width: 600px){
	.blog-entries-wrap.blog-packery .grid-item {
		.blog-media,
		.blog-post-info {
		  width: 100%;
		}
		.blog-item .blog-post-info {
		    margin-top: 29px;
		}
		.blog-media:before{
			border-width: 0 10px 10px 10px;
			border-color: transparent transparent #f5f5f5;
			#{$right}: auto;
			#{$left}: 50%;
			top: auto;
			bottom: 0;
			@include transform(translateX($translateX));
		}
	}
	.gallery-slide .item .gallery_content {
	    padding-bottom: 35px !important;
	}
	.blog-container .grid_style_5 .col-lg-6 .blog-media, 
	.blog-container .grid_style_5 .col-lg-6 .blog-post-info, 
	.blog-container .grid_style_5 .col-lg-12 .blog-media, 
	.blog-container .grid_style_5 .col-lg-12 .blog-post-info {
	  width: 100%;
	}
	.blog-container .grid_style_5.show-space .col-lg-6 .blog-media, 
	.blog-container .grid_style_5.show-space .col-lg-12 .blog-media {
	  padding-#{$right}: 0;
	}
	.layout-packery {
		.blog-media {
		  padding-#{$right}: 0;
		}
		.image_size2 .blog-media {
		  padding-#{$left}: 0;
		}
	}
	.blog-list .blog-media + .blog-post-info {
	  margin-top: -20px;
	}
}
@media (min-width: 600px) and (max-width: 767px){
	.col-xs-12.grid-item{
		width: 50%;
	}
	.blog-list, .blog-packery{
		.col-xs-12.grid-item{
			width: 100%;
		}
	}
	.blog-container {
		.grid_style_3 .blog-post-info {
		  margin-top: -135px;
		  padding-top: 160px;
		}
	}
	.layout-packery {
		.blog_post_desc p {
		  margin-bottom: 5px;
		  max-height: 75px;
		  overflow: hidden;
		}
		.blog-post-title {
		  padding: side-values(10px 0 0);
		}
		.blog-item .read-more {
		  padding-bottom: 6px;
		}
	}
}
@media (max-width: 523px){
	.profile-bottom .comment-awaiting-moderation {
	  top: -55px;
	}
}
@media (max-width: 480px){
	.control-type2{
		.slick-slider{
			margin-bottom: 15px;
		}
	}
	.blog-list .blog-media~.blog-post-info {
	  margin-top: -20px;
	}
	.profile-bottom .comment-awaiting-moderation {
	  font-size: 12px;
	  line-height: 13px;
	  top: -50px !important;
	}
	.tab-pane.post-comments .comment-respond {
	    margin-top: 20px;
	}
	.commentratingbox {
	    float: $left;
	    margin-bottom: 20px;
	}
	.comment-reply-title, .post-comments .widget-title, #comments .widget-title{
		margin-bottom: 35px;
	}
	.blog-container .grid_style_5 .col-lg-6 .post-name, 
	.blog-container .grid_style_5 .col-lg-12 .post-name,
	.blog-container .grid_style_5 .col-lg-6 .blog_post_desc p, 
	.blog-container .grid_style_5 .col-lg-12 .blog_post_desc p {
	  	max-height: 100%;
	}
	.blog-container .grid_style_5.blog-grid .blog-post-info {
	  	padding-bottom: 15px;
	}
}
@media (max-width: 375px){
	.blog-container {
		.grid_style_3 .blog-post-info {
		  margin-top: -135px;
		  padding-top: 160px;
		}
	}
}

.ie-11, .ie-10, .ie-9{
	.blog-packery .blog-img {
	    overflow: hidden;
	}
}