/*===================================
	3.11 Content
===================================*/
.box_about .ult-easy-separator-wrapper{
	#{$left}: 22.7%;
	bottom: -40px !important;
}
.brand-content .slick-arrow:hover{
	border:none;
}
.tp-caption.rev-btn{
	background:$primary_color !important;
	&:hover{
		background:#fff !important;
	}
}
.woocommerce .form-row input[type="radio"] {
    height: auto !important;
    width: auto !important;
}
label.radio{
    padding-#{$left}: 20px;	
}
@media print {
  a[href]:after {
    content: none !important;
  }
}
.icon_box_content.type_2:hover .icon_box_title h3{
	color:#fff;
}
.portfolio_single{
	.portfolio_title{
		padding: side-values(25px 0 12px);
	}
}
.recipesearch-results{
	ul{
		padding: side-values(20px 19px 13px);
	    list-style: none;
	    box-shadow: 0 14px 36px 2px rgba(0,0,0,0.05);
		> li{
			margin-bottom: 13px;
			> a{
				text-transform: capitalize;
			}
		}
		.recipe_search_img{
			// float: $left;
		    padding-#{$right}: 20px;
		    height: auto;	
		    max-width: 100px;
		    display: inline-block;		
		}
	}
}
.woosearch-results{
	ul{
		padding: side-values(20px 19px 13px);
	    list-style: none;
	    box-shadow: 0 14px 36px 2px rgba(0,0,0,0.05);
	    max-height: 300px;
	    overflow-y: scroll;
		> li{
			margin-bottom: 13px;
			> a{
				text-transform: capitalize;
			}
			.product-img{
				> a{
					padding: 10px;
    				display: block;
				}
			}
			.price del span,.price .amount {
			    font-size: 14px;
			}
		}
		.widget_add_to_cart{
			a{
			    font-size: 14px;
			    text-transform: capitalize;
			    border: none;
			    border-radius: 0;
			    display: inline-block;
			    height: 36px;
			    line-height: 38px;
			    width: auto;
			    background: none;
    			color: #282828 !important;
			    > span:first-child{
			    	display: none;
			    }
			    .add_cart_list {
				    display: block;
				}
				.add_to_cart_button.loading:after,
				.single_add_to_cart_button.loading:after {
				    content: "";
				    #{$left}: auto;
    				#{$right}: -20px;
				}				
			}
		}
		.search_img{
			// float: $left;
		    padding-#{$right}: 20px;
		    height: auto;	
		    max-width: 100px;
		    display: inline-block;		
		}
	}
}
.bg_left_gradient{
	position:relative;
	margin-bottom: 0 !important;
	&:before{
		content: '';
		position: absolute;
		background: #58d9cd; /* For browsers that do not support gradients */
	    background: -webkit-linear-gradient($primary_color2, $primary_color); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient($primary_color2, $primary_color); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient($primary_color2, $primary_color); /* For Firefox 3.6 to 15 */
	    background: linear-gradient($primary_color2, $primary_color); /* Standard syntax */
		bottom: 0;
		#{$right}: -30px;
		#{$left}: 0;
		top:96px;
		opacity: 0.5;
	}
}
//end
.ares.tp-bullets{
	top: 50% !important;
	#{$left}:50px !important;
}
.ares .tp-bullet{
	height: 19px;
	width: 19px;
	opacity: 0.5;
	background:#fff;
	.tp-bullet-title{
		display: none;
	}
	&:hover,
	&.selected{
		opacity: 1;
		background:$primary_color;
	}
}
.rev-btn.button-slide1{
	background:$primary_color !important;
	&:hover{
		background: #fff !important;
	}
}
.tt-instagram{
	.uvc-sub-heading > a{
		color: $primary_color;
		&:hover{
			color: #000;
		}
	}
}
.gallery_paginations {
	ul{
		padding-#{$left}:0;
		list-style-type:none;
	}
}
.title_over_top{
	text-transform: uppercase;
	background: #FFF;
	top: -54px;
	z-index: 99;
	#{$left}:0;
	#{$right}:0; 
	position: absolute;
	height: 80px;
	line-height: 115px;
	width: 400px;
	margin: 0 auto;     
}
.iconbox_style3{
	.type_2 .icon_box_desc p{
		color: #282828; 
	}
	.type_2.icon_box_content .icon_box i::before{
		    -webkit-text-fill-color: #80bb01;
	}
	.icon_box_content:hover .icon_box{
		background: transparent; 
	}
}
.banner_fresh_box{
	.vc_custom_heading{
		position: relative;
		z-index: 99;  
	}
	.wpb_single_image.vc_align_right {
	    position: absolute;
	    #{$right}: 0;
	    top: 2px;
	    z-index: 9; 
	}
}
.title_box_banner{
	font-weight: 600; 
}
.ultbox_tabs_style2{
	.ult_tabs .ult_tabmenu.style1{
		background: transparent; 
		margin-bottom: 27px; 
		li.ult_tab_li{
			padding: 28px;
			&:first-child{
				padding-#{$left}: 0; 
			}
			 a{
			 	&:before{
			 		top: 28px;
			 	}
			 }
		}
	} 
	.banner-type5 {
	    float: $left;
	    width: 390px;
	}
	.arrowpress-products{
		clear: $right;
	    float: $right;
	    width: calc(100% - 390px);
	}
	.ult_tabs .ult_tab_min_contain .ult_tabitemname{
		padding: 0;
	}
}
.box_contact{
	.vc_icon_element.vc_icon_element-outer .vc_icon_element-inner{
		position: absolute;
	}
	.vc_icon_element-inner:hover .vc_icon_element-icon{
		background: transparent; 
	}
	.vc_icon_element{
		margin-bottom: 0;
	}
	.vc_icon_element-inner{
		#{$left}: 0;
	    margin: side-values(0 auto);
	    position: absolute;
	    top: -25px;
	    #{$right}: 0;
		&:before{
			background: transparent;
		}
	}
	.vc_icon_element-icon{
		&:before{
			-webkit-text-fill-color: none;
    		-webkit-background-clip: transparent;
		}
	}
	.wpb_text_column{
		padding-top: 40px;
		p{
			color: #000;
			font-size: 15px;
			padding: side-values(0 55px);
			line-height: 18px;
		}
		a{
			color: $primary_color;
			font-size: 24px;
			font-weight: 600;
			line-height: 30px;
		}
	}
	.ult-content-box-container {
		border: 1px solid #ebebeb;
		border-top: 0;
		position: relative;
	}
	.ult-content-box{
		&:before{
			width: 136px;
			height: 1px;
			top: 0;
			#{$left}: 0;
			content: '';
			position: absolute;
			background: #ebebeb;
		}
		&:after{
			width: 136px;
			height: 1px;
			top: 0;
			#{$right}: 0;
			content: '';
			position: absolute;
			background: #ebebeb;
		}
	}
}
.icon_box_content{
	overflow: hidden;
	margin-bottom: 40px;
	&:hover{
		.icon_box_title h3{
			color: $primary_color;
		}
		&.icon_style2{
			.icon_box {
				i{
					color: #fff !important;
				}
			}
		}
		&.icon_style4.icon_style3{
			.icon_box {
				background: #fff;
				i{
					color: $primary_color !important;
					background: #fff;
				}
			}
		}	
	}
	&.text-left{
		.icon_box{
			float: $left;
			margin-#{$right}:25px;
		}
	}
	&.text-right{
		.icon_box{
			float: $right;
			margin-#{$left}:25px;
		}
	}
	&.icon_style2{
		margin-bottom: 32px;
		&.text-left .icon_box {
		    margin-#{$right}: 31px;
		}
		.icon_box_desc {
		    padding-top: 16px;
		}
		.icon_box {
			background:none;
			height: 84px;
			width: 84px;
			border:1px solid $primary_color;
			i{
				height: 84px;
				width: 84px;
				line-height: 84px;
				margin:side-values(-1px);
				color: $primary_color;
				background: none;
				font-family: "Linearicons-Free" !important;	
			}
		}
		.icon_box_title h3{
			margin-top:3px;
			text-transform:uppercase;
		}
	}	 
	&.icon_style3{
		position:relative;
		z-index: 1;
		.icon_box {
			background:$primary_color;
			height: 71px;
			width: 71px;
			border:1px solid $primary_color;
			i{
				height: 69px;
				width: 69px;
				line-height: 69px;
				margin:side-values(0);
				color: #fff;
				background: none;
			}
		}
		.icon_box_title h3{
			margin-top:-1px;
		}
		&:hover{
			.icon_box {
				background:#fff;
				border-color: $primary_color;
				i{
					background:#fff;
					color: $primary_color;
				}
			}
		}
	}
	&.icon_style4.icon_style3{
		margin-bottom: 34px;
		.icon_box {
			margin-#{$right}: 19px;
			background: $primary_color;
			border: 1px solid $primary_color;
			i{
				color: #fff;
				background: $primary_color;
			}
		}
	}	
}
.ult-animation .icon_style1 .icon_box i{
	font-size:30px;
	line-height:60px;
}
.icon_box{
	position: relative;
	display: inline-block;
	height: 61px;
	width: 61px;
	border-radius: corner-values(50%);
	color: $primary_color;
	i{
		height:59px;
		width: 59px;
		display: block;
		margin:side-values(1px);
		border-radius: corner-values(50%);
		background:#fff;
		line-height: 60px;
		text-align:center;
		font-size: 30px; 
	}
}
.icon_style1 .icon_box{
	background: -moz-linear-gradient(0deg, $primary_color2 0%, $primary_color 100%,$primary_color  100%);
	background: -webkit-linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
	background: linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color2', endColorstr='$primary_color',GradientType=1 );
	&:before{
		background: -webkit-gradient(linear, $left top, $left bottom, from($primary_color), to($primary_color2));
	    -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
	}
}
.icon_box_info {
  overflow: hidden;
}
.icon_box_title{
	overflow: hidden;
	h3{
		font-weight:bold;
		line-height: 20px;
		color: #282828;
		font-size: 15px;
	}
}
.icon_box_desc {
	padding-top: 12px;
	color: #282828;
	p{
		color: inherit;
		font-size: 14px;
	}
}
.box-icon-right,
.box-icon-left{
	z-index:1;
	position:relative;
	.icon_box-container:last-child {
		.icon_box_content {
			margin-bottom: 36px;
		}
	}
}
.img-abs-center{
	position:absolute;
	bottom:-18px;
	width: 100%;
	margin-bottom:0 !important;
	#{$left}:110px;
}
.ie-11,.ie-10,.ie-9,.ie-8,.ie-7,.ie-5{
	.vc_icon_element-inner .vc_icon_element-icon::before{
		color:$primary_color;
	}
	.vc_icon_element-inner:hover .vc_icon_element-icon::before{
		color:#fff;
	}
	
	.ult_countdown-row .ult_countdown-section .ult_countdown-amount{
		color: $primary_color !important;
	}
	.icon_box_content:hover .icon_box i::before{
		color:#fff;
	}
	.post-type-archive-recipe .main-sidebar{
		overflow: hidden;
	}
}
//Member
.item-member-content{
	position: relative;
}
.our_member{
	.slick-list{
		padding-bottom: 70px;
	}
}
.member-info{
	padding-top: 40px;
	position: absolute;
	background: #f5f5f5;
	width: 326px;
	height: 117px;
	bottom: -30px;
	#{$left}: -12px;
	#{$right}: 0;
	margin: side-values(0 auto);
 	@include transitions(all 0.3s ease-in-out 0s);
	.member_social{
		bottom: 30px;
	    #{$left}: 0;
	    opacity: 0;
	    position: absolute;
	    @include transitions(all 0.3s ease-in-out 0s);
	    visibility: hidden;
	    width: 100%;
	    ul{
	    	padding: side-values(0);
	    	li{
	    		display: inline-block;
	    		a{
	    			height: 31px; 
	    			width: 31px;
	    			display: block;
	    			background: transparent;
	    			color: #fff;
	    			border: 1px solid #fff;
	    			border-radius: corner-values(100%);
	    			line-height: 31px;
	    			margin: side-values(0 7px);
	    			&:hover{
	    				background: #fff;
	    				color: $primary_color;
	    			}
	    		}
	    	}
	    }
	}
	.member-job{
		text-transform: capitalize;
		color: #282828;
		font-weight: 300;
		p{
			margin-bottom: 4px;
		}
	}
	.member-name{
		h4{
			font-weight: bold;
			font-size: 16px;
			text-transform: uppercase;
			margin-bottom: 5px;
			color: #282828;
		}
	}
	.link-text a{
		color: #fff;
		font-size: 16px;
		&:hover{
			color: $primary_color;
			text-decoration: underline;
		}

	}
}
.member-type1 .item-member-content{
	&:hover{
		.member-info{
			padding-top: 22px;
			height: 152px;
			background: $primary_color;
			.member-job{
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			    color: #fff;
			    margin: side-values(0 30px);
			    padding-bottom: 10px;
			}
			.member-name{
				h4{
					color: #fff;
				}
			}
			.member_social{
				bottom: 10px;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
/*.member-type2{
	.member-image {
	  margin-top: 48px;
	  background-size: cover;
      background-repeat: no-repeat;
	}
	.member-content {
	  	position: relative;
	  	padding: side-values(15px);
		background: #f5f5f5;
	}
	.member-desc {
		h2 {
		  font-weight: 700;
		  color: $primary_color;
		  margin-bottom: 14px;
		  font-size: 32px;
		  line-height: 28px;
		  text-transform: uppercase;
		  span{
		  	color: #000000;
		  	font-size: 22px;
		  	width: 100%;
		  	display: block;
		  	font-weight: 400;
		  }
		}
		p{
			margin-bottom: 26px;
			line-height: 25px;
		}
		.italic{
		  font-style: italic;
		  font-size: 16px;
		}
	} 
	.book-now {
	  padding-top: 13px;
	  	.btn{
		  min-width: 290px;
		}
	}
	.img-list {
		margin: side-values(0 -3px);
		margin-#{$left}: -13px;
		width: 84%;
		&:hover{
			.btn-next{
			  	opacity: 1;
			  	#{$left}: -13px;
			}
			.btn-prev{
			  	opacity: 1;
			  	#{$right}: -13px;
			}
		}
		a{
			display: inline-block;
			margin: side-values(0) !important;
			padding: side-values(0 3px);
		}
	}
	.link-text {
	  float: $right;
	  @include transform(translateX(-17px));
	}
	.btn-next{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: 1px solid $primary_color;
	  color: $primary_color;
	  height: 30px;
	  #{$left}: 0;
	  padding: side-values(0);
	  position: absolute;
	  top: 50%;
	  z-index: 9;
	  @include transform(translateY(-50%));
	  width: 30px;
	  opacity: 0;
	  @include transitions (all 0.3s ease-in-out 0s);
	}
	.btn-prev{
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: 1px solid $primary_color;
	  color: $primary_color;
	  height: 30px;
	  #{$right}: 0;
	  padding: side-values(0);
	  position: absolute;
	  top: 50%;
	  z-index: 9;
	  @include transform(translateY(-50%));
	  width: 30px;
	  @include transitions (all 0.3s ease-in-out 0s);
	  opacity: 0;
	}
	.link-text {
		a {
		  font-family: Poppins;
		  font-size: 14px;
		  color: $primary_color;
		  text-transform: uppercase;
		  &:hover{
		  	color: #000;
		  }
		}
	} 
}*/
.title-member {
	position: absolute;
    top: 50%;
	h2 {
	  color: #000;
	  font-weight: 700;
	  letter-spacing: 2px;
	  opacity: 0.2;
	  text-transform: uppercase;
	}
} 
.overflow-initial {
  overflow: initial;
}
.style-2{
	.item-member-content:hover{
		.member-info {
			background: $primary_color !important;
			.link-text a, .member-job p {
			  color: #fff;
			}
		}
	}
	.member-img img {
	  filter: none;
	}
	.member-info {
	  background: #fff none repeat scroll 0 0;
	  bottom: -10px;
	  margin-top: 0;
	  position: absolute;
	  #{$right}: -10px;
	  width: 83%;
	  padding: side-values(23px 20px 25px);
	  z-index: 9;
	  @include transitions(all 0.3s ease-in-out 0s);
	  	.member-name h5 {
		  color: #000;
		}
		.link-text a {
		  color: #555;
		  font-style: italic;
		  &:hover{
		  	color: $primary_color;
		  }
		}
	}
}

.ult-carousel-wrapper ul.slick-dots{
	padding-top: 33px;
}
.ult-carousel-wrapper .slick-dots li {
	height: 20px;
	width: 20px;
	margin: side-values(0 5px);
	background: #e1e1e1;
	border-radius: corner-values(50%);
	@include transitions(all 0.3s ease-in-out 0s);
	i{
		opacity: 1;
		&:before{
			content: none !important;
		}
	}
	&.slick-active,
	&:hover{
		background: $primary_color;
	}
}
.box-tes-h5 .ult-carousel-wrapper ul.slick-dots {
  padding-top: 22px;
}
.member-type2{
	.item-member-content:hover{
		.member-info{
			background: none;
			margin-top: -140px;
			.member-name h4 {
			  	color: #fff;
			}
			.member-job p {
			  	color: #fff;
			}
		}
		.member-img{
			text-align: center;
			&:before{
				@include transform(scale(1) rotate(0));
			}
		}
	}
	.member-info{
		position: relative;
		#{$left}: 0;
		height: 85px;
		#{$right}: 0;
		bottom: 0;
		width: 100%;
		z-index: 8;
		padding-top: 24px;
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		.member_social {
		  	opacity: 1;
		  	position: relative;
		  	top: 0;
		  	visibility: visible;
		  	margin-bottom: 55px;
		  	&:before{
		  		position: absolute;
		  		content: "";
		  		width: 2px;
		  		height: 30px;
		  		background: $primary_color;
		  		bottom: -50px;
		  		#{$left}:50%;
		  	 	@include transform(translateX(-50%));
		  	}
		  	ul li a {
			  	border: medium none;
			  	border-radius: corner-values(0);
			  	color: #fcfcfc;
			  	margin: side-values(0);
			  	width: 21px;
			  	&:hover{
			  		background: none;
			  	}
			}
		}
		.member-name h4 {
		  	font-size: 14px;
		  	font-weight: 600;
		  	margin-bottom: 1px;
		  	text-transform: none;
		}
		.member-job p {
		  	font-weight: 400;
		  	margin-bottom: 12px;
		}
	}
	.member-desc > p {
	  	line-height: 20px;
	  	margin-bottom: 12px;
	}
	.member-img{
		position: relative;
		@media (min-width: 768px){
		  	&:before{
				position: absolute;
				content: "";
				top: 0;
				#{$left}: 0;
				bottom: 0;
				#{$right}: 0;
				background: #000;
				opacity: 0.8;
				z-index: 1;
				@include transitions( all 0.2s ease-in-out 0s);
				@include transform(scale(0) rotate(90deg));
			}
		}
	}
}


// Testimonials
.item_testimonial.type_2{
	width: 95%;
	.caption_testimonial{
		padding-top: 79px;
		&:before{
			color: #fff;
			top: 20px;
		}
		 .tes_name h4{
		 	padding:side-values( 7px 0) ;
		 }
	}
}	 
.item_testimonial.text-center{
	width: 80%;
	margin: side-values(0 auto);
	padding: side-values(0 30px);
}
.box-testimonials,
.form-order{
		.vc_column-inner{
			background-size: cover !important;
		}
	}
.caption_testimonial{
	position: relative;
	/*&:before{
		content: "\f10e";
		font-family: FontAwesome;
		font-size: 70px;
		position: absolute;
		color: rgba(255,255,255,0.1);
		top:15px;
		#{$left}:50%;
		@include transform (translateX($translateX));
	}*/
	.title-testimonial{
		text-transform: uppercase;
		h6{
			font-size: 12px;
			font-weight: 300;
			color: #fff; 
			display: inline-block;
			position: relative;
			letter-spacing: 0.4em;
		}
		h2{
			font-size:39px;
			color: $primary_color; 
			letter-spacing: -0.4px;
			line-height: 36px;
			padding: side-values(12px 0 34px);
		}
	}
	.item-desc{
		font-size: 14px;
		color: #fff;
		line-height: 26px;
	}
	.tes_info{
	  	margin-top:16px;
	  	h6{
		    display: inline-block;
		    text-transform: uppercase;
		    font-size: 15px;
		    font-weight: 400;
		    color: $primary_color;
	  	}
	  	.tes_job{
		    display: inline-block;
		    color: $primary_color;
		    font-size: 15px;
	  	}
	}
	.tes_name{
		h4{
			font-size: 13px;
			padding-top: 10px;
			text-transform: uppercase;
			color: $primary_color;
		}	
	}
}
.remove_space .footer {
    padding-top: 0;
}
.box-text{
	.box-title{
		text-transform: uppercase;
		h4{
			font-size: 35px;
			line-height: 100%;
			font-weight: 300;
		}
		p{
			font-size: 75px;
			font-weight: bold;
			font-family: Poppins;
			color: #000;
			margin-top: 8px;
			line-height: 100%;
			margin-#{$left}:-4px; 
		}
	}
	.box-desc{
		padding:side-values(39px 0 49px);
		p{
			letter-spacing: 0.25px;
			margin-bottom: 24px;
		}
	}
	&.type1 img{
		padding-bottom: 286px
	}
}
.text-space{
	font-size: 294px;
	color:rgba(0,0,0,0.05);
	text-transform: uppercase;
	position: absolute;
	#{$left}:110px;
	top: -43px;
	font-weight: bold;
	letter-spacing: 0.31em;
	font-family: Poppins;
	z-index: 99;
	&.hidden-sm{
		#{$left}: 84px;
	}
}
.counter_block{
	.stats-desc{
		position: absolute;
		top: 28px;
	}
	.stats-block{
		.aio-icon{
			opacity: 0.2;        
		}
	}
}
.overlay_bg{
	&:before{
		content: "";
		position: absolute;
		top: 0;
		#{$left}:0;
		width: 100%;
		height: 100%;
		background: $primary_color;
		opacity: 0.8;
	}
}
.bg-overlay{
	figure{
		position: relative;
		&:before{
			content: "";
			position: absolute;
			top: 0;
			#{$left}:0;
			width: 100%;
			height: 100%;
			background: $primary_color;
			opacity: 0.8;
		}
	}
}
.slick-slider{
	position: relative;
}
.slick-prev{
	#{$left}: -43px !important;
	margin-top: -15px !important;
	i:before{
		content: "\e910";
		font-family: 'icomoon' !important;
	}
}
.slick-next{
	#{$right}: -43px !important;
	margin-top: -15px !important;
	i:before{
	    content: "\e911";
	    font-family: 'icomoon' !important;
	}
}
.slick-next,.slick-prev{
	height: 40px !important;
	width: 45px !important;
	color: #7a7b7c !important;
	z-index: 9;
	border: none;
	i{
		font-size: 30px !important ;
	}
	@include transitions (all 0.3s ease-in-out 0s);
	&:hover{
		color: $primary_color !important;
	}
}
.slick-slide .product-content img {
    display: inline-block;
}
.btn-slide-color{
	.slick-next, .slick-prev {
		color: #282828 !important;
		&:hover{
		    color: #fff !important;
		    opacity: 0.6;
		}
	}
}
.tt-heading-porfolio{
	.baber-heading{
		padding-bottom: 26px;
	}
}
/*.remove_space .side-breadcrumb{
	margin-bottom: 0;
}*/
.block-service-right > .vc_column-inner {
	padding-#{$left}:52px !important;
	padding-#{$right}:100px !important;
}
.block-service-right .baber-heading{
	width: 80%;
}	 		
.box-services{
	.icon-box-container {
		width: 45%;
		display: inline-block;
		float: $left;
		padding-#{$right}: 110px;
	}
}
.pos-bg1.vc_row{
	background-position: top $right !important;
}
.service-h1.vc_row{
	background-position: -16.7% 0 !important;
}
.button-group{
	>.inline-block:first-of-type{
		&:before{
			display: none;
		}
	}
}

.ult-carousel-wrapper.slide-testimonial ul.slick-dots {
    padding-top: 24px;
}
.main-color .uvc-heading h2{
 	color: $primary_color !important;
}
#btn_appointment{
	width: 292px;
	border-color: $primary_color;
	padding:side-values(14px 64px 14px 32px);
	background: $primary_color url(../images/icon-right.png) no-repeat 82.8% -22px;
	&:hover,&:active,&:focus{
		border-color: #000;
		background: #000 url(../images/icon-right.png) no-repeat  82.8% 22px;
	}
}
.remove_space_br .side-breadcrumb{
	margin-bottom: 0;
}
.box-text.type2{
	padding-#{$right}: 50px;
	.box-desc {
		padding-bottom: 26px;
		p{
			margin-bottom: 26px;
			line-height: 26px;
			font-size: 16px;
			&:last-child{
				margin-bottom: 0;
			}
		}
	}
}
.box-text.type3{
	.box-title p{
		font-size: 76px;
		letter-spacing: -4px;
	}
	.box-desc {
		padding: side-values(32px 0 18px);
		p{
			letter-spacing: 0;
			font-size: 16px;
			font-style: italic;
		}
	}
}
.padding-15{
	padding:side-values(0 15px);
}
.box-text.type-4{
	margin-#{$left}: 207px;
	.box-title{
		h4{
			letter-spacing: -0.8px;
			font-size: 37px;
		}
		p{
			font-size: 76px;
			margin-top: 6px;
			margin-#{$left}: -4px;
		}
	}
	.box-desc{
		padding: side-values(42px 0 41px);
	}
	.btn.btn-primary{
		padding: side-values(14px 30px 14px 33px);
		color: #fff;
		letter-spacing: 0.4px;
		i{
			margin-#{$left}:12px;
		}
	}
}
.block-text{
	h2{
		display: inline-block;
		float: $left;
		margin-#{$right}:18px;
		color: $primary_color;
		opacity: 0.5;
		font-size: 70px;
		font-family: Montserrat;
		font-weight: bold;
	}
	.text-content{
		overflow: hidden;
		padding-top: 42px;
		h3{
			font-size: 19px;
			letter-spacing: 1px;
			text-transform: uppercase;
			color: #010101;
			margin-bottom: 23px;
		}
		p{
			font-size: 15px;
			color: #555;
		}
	}
	&:hover{
		.text-content{
			h3{
				color: $primary_color;
			}
		}
	}
}
.contact_heading.baber-heading.text-center .desc-title {
    margin-top: 22px;
}
.contact-form2{
    max-width: 780px;
    margin: side-values(0 auto);	
    margin-top: 0;
	input[type="email"], input[type="text"], input[type="tel"],textarea{
		background: transparent;
	}
	.no-full{
		float: $left;
    	width: 50%;
    	display: inline-block;
        margin-bottom: 10px;
        clear: none;	
	}
	textarea.wpcf7-form-control {
	    height: 130px;
	    margin-top: 10px;
	}
	> p{
		padding: side-values(0 15px);
		clear: both;
	}
	.btn-submit{
	    padding: side-values(0);
	    width: auto;
	    /* display: inline-block; */
	    margin: side-values(24px auto 0);
	    max-width: 190px;
	    position: relative;	
	    height: 50px;
	    &:after{
			font-family: FontAwesome;
		    content: "\f1d8";
		    position: absolute;
		    #{$right}: 57px;
		    color: #000;
		    font-size: 14px;
		    top: 14px;
	    }	
	    &:hover{
	    	&:after{
	    		color: #fff;
	    	}
		    input[type="submit"]{
		    	background: #000;
		    	color: #fff;
		    	border-color: #000;
		    }	    
	    }
	    input[type="submit"]{
	    	padding-#{$right}: 50px;
	    	background: #d19f68;
	    	border-color: #d19f68;
	    	color: #000;
	    }
	}
}
.list-item-box{
	padding-#{$left}:0;
	list-style-type:none;
	li{
		font-family: Open Sans;
		color: #282828;
		font-size: 20px;
		margin-bottom: 24px; 
		padding-#{$left}: 44px;
		position: relative;
		&:before{
			content: "\f06c";
			font-family: FontAwesome;
			font-size: 20px;
			color: $primary_color;
			position: absolute;
			#{$left}:0px;
			top: 3px;
		}
	}
}
.rev-btn{
	> i{
		margin-#{$left}: 20px;
	}
}
.btn-plus{
	margin: side-values(0 auto 40px);
    text-align: center;
    width: 49px;
    height: 49px;
    display: block;
    position: relative;
    &:before, &:after{
		background: #d19f68;   	
    }
    &:before{
	    width: 49px;
	    height: 2px;
	    content: "";
	    position: absolute;
	    #{$left}: 0;
	    top: 50%;     	
    }
    &:after{
	    width: 2px;
	    height: 49px;
	    content: "";
	    position: absolute;
	    #{$left}: 50%;    	
    }
}

.arrow_style2 .slick-default{
   > .slick-arrow {
      font-size: 15px;
      position: absolute;
      #{$left}: -40px;
      width: 40px;
      color: #000;
      height: 40px;
      z-index: 9;
      border: 1px solid #000;
      > i{
		    display: block;
		    margin-top: -2px;      	
      }
      &:hover{
      	border-color: #d19f68;
      }
  }
  > button.btn-next.slick-arrow {
       #{$left}: -39px;
  }
  button.btn-prev.slick-arrow {
       #{$left}: 0;
  }
} 
.img-service.bg-overlay figure:before{
	z-index: 9;
}
// .page-id-1025 .baber-heading.text-center .desc-title {
//     margin-top: 24px;
// }
.page-id-1025 .baber-heading .header_icon {
    margin-bottom: 13px;
}
.slick-slide img {
    display: inline-block !important;
}
.style-2 .item-member-content:hover .member-info .link-text a, 
.style-2 .item-member-content:hover .member-info .member-job p {
    color: #fff;
}
.uavc-list-icon{
    
	.uavc-list{
		text-align: center;
		> li{
		    clear: none !important;
		    display: inline-block;	
		    margin-#{$right}: 91px !important;   	
		    .ult-just-icon-wrapper{
				width: 68px;
			    height: 68px;
			    background: #fff;
			    @include transform(rotate(45deg));
			    border: 1px solid #d19f68;
			    text-align: center;
			    margin-bottom: 30px;
			    position: relative;
			    z-index: 10;			    		 
			    .align-icon{
				    text-align: center;
				    @include transform(rotate(-45deg) translateY(-50%));
				    text-align: center;
				    position: absolute;
				    top: 44%;
				    #{$left}: 45%;
				    font-weight: 400;
				    .aio-icon{
				    	color: #d19f68;
				    }				    			    	
			    }  	

		    }
		    .uavc-list-icon {
		    	position: relative;
			    &:after{
			    	content: "";
				    height: 2px;
				    width: 100px;
				    position: absolute;
				    #{$left}: 100%;
				    z-index: 2;
				    background: #d19f68;
				    top: 50%;
				    transform: translateY(-50%);
				}
			}
		    .uavc-list-desc{
			    font-family: Poppins;
			    font-size: 18px;
			    text-transform: uppercase;
			    color: #010101;		
			    font-weight: 400;    	
		    }	
		    &:last-child{
		    	margin-#{$right}: 0 !important; 
		    	.uavc-list-icon:after{
		    		display: none;
		    	}
		    }
		}
		.uavc-list-content {
		    display: inline-block;
		    width: auto;
		    margin-bottom: 7px;
		}
	}
}

#our_artist{
	.baber-heading.text-center{
		.desc-title{
			margin-top: 21px;
		}
	}
}
#h6_blog{
	.post-name a {
	    font-size: 18px;
	}
}
.banner-bottom{
	padding:side-values(0 15px);
	h2{
		color: #f5f5f5;
		font-size: 38px;
		font-weight: bold;
		text-transform: uppercase;
	}
	.desc{
		color: #fff;
		padding:side-values(10px 0 35px);
		font-size: 18px;
	}
	.btn{
		letter-spacing: 0.1px;
		width:289px;
		&.btn-icon i {
		    margin-#{$left}: 13px;
		}
	}
}
.box-member{
	margin: side-values(0 -15px);
	.member-type1 {
		width:33.33%;
		padding:side-values(0 15px);
		float: $left;
		display: inline-block;
		margin-bottom: 56px;
	}
	&.our-team-2{
		margin-top: -2px;
		.member-type1 {
			margin-bottom: 48px;
		}
		.member-info{
			margin-top: -43px;
		}
	}
}
.arrowpress-heading .small-title {
    margin:side-values(0 50px);
}
.vc_row.bg-box-text{
	background-position:top $right !important;
}
#last_ink{
	.baber-heading.text-center .desc-title {
	    margin: side-values(23px auto 0);
	}
}
.icon_smaller_size.uavc-list-icon{
	.ult-just-icon-wrapper .align-icon .aio-icon{
	    font-size: 26px !important;
	    width: 40px;
	    height: 37px;
		
	}
}
.h6_product,.black_slick_button{
	.slick-prev,.slick-next{
		color: #282828 !important;
	}
}
.item_testimonial3{
	.caption_testimonial .item-desc {
	  	background: #fff none repeat scroll 0 0;
	  	color: #282828;
	  	font-size: 14px;
	  	font-style: italic;
	  	line-height: 24px;
	  	position: relative;
	  	padding: side-values(75px 33px 63px);
	  	margin-bottom: 0;
	  	&:before{
	  		position: absolute;
	  		content: "\f10e";
	  		font-size: 27px;
	  		color: #282828;
	  		font-family: FontAwesome;
	  		top: 30px;
	  		#{$left}: 33px;
	  		font-style: normal;
	  	}
	}
	.tes_info {
		margin-top: -30px;
		margin-#{$left}: 33px;
		position: relative;
		figure {
		  	width: 75px;
		  	float: $left;
		  	margin-#{$right}: 27px;
		}
	}
	.caption_testimonial{
		.tes-author {
		 	overflow: hidden;
		  	padding-top: 55px;
		  	h6{
		  		font-size: 14px;
		  		color: #282828;
		  		text-transform: none;
		  		font-weight: 700;
		  	}
		}
	}
	.job_name {
	  	color: #959595;
	  	line-height: 19px;
	  	margin-bottom: 0;
	  	text-transform: uppercase;
	}
}
.top-search{
	.algolia-autocomplete {
	    z-index: 999999 !important;
	    display: block;
	    position: relative !important;
	    max-height: 400px;
	    overflow-y: scroll;
	    top: 0 !important;
	}
}
#ais-wrapper #algolia-search-box {
    margin-bottom: 46px;
}
.algolia-autocomplete {
    max-height: 400px;
    overflow-y: auto;
}
.ais-header {
    padding-bottom: 15px;
}
.ais-hits--content .excerpt {
    padding-top: 11px;
}
ul.ais-pagination{
	padding-#{$left}: 0;
}
a.ais-pagination--link {
    cursor: pointer;
    height: 36px;
    width: 36px;
    line-height: 36px;
    font-size: 13px;
    color: #2d2d2d;
    display: block;
    border: 1px solid #ebebeb;
    text-align: center;
    &:hover{
    	color: #fff;
    	background: $primary_color;
    }
}
.recipe-search{
	.algolia-autocomplete {
		margin-top: 15px;
	    border: 1px solid #ebebeb;
	}	
}
.blog-video{
	position: relative;
}
.post-name a{font-size: 20px;}
.product-content:hover .button.add_to_cart_button {
    background: $primary_color;
    border: 1px solid transparent;
    color: #fff;
}
.product-content:hover .button.add_to_cart_button:hover,.product-content .button.add_to_cart_button:hover,
.product-content:hover .button.product_type_simple:hover{
 	background: none !important;
}
.product-content:hover .product-action {
    bottom: 6px;
}
.image_size2 .product-content:hover .product-action {
    bottom: 40px;
}
.blog-container .grid_style_5 .blog-item .blog-img a img,
.blog-container .grid_style_4 .blog-item .blog-img a img{
transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.blog-container .grid_style_5 .blog-item .blog-media:after {
    content: "\f0c1";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(0);
    color: #fff;
    width: 50px;
    height: 50px;
    background: rgba(0,0,0,0.5);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    pointer-events: none;
}
.blog-container .grid_style_5 .blog-img a::before {
    @include transform(scale(0,1));
}
@media (min-width: 1366px){
	.header-v7 .container-fluid .mega-menu > li.megamenu .sub-menu {
	    margin-#{$left}: 0;
	    width: 100%;
	}
	.header-v7 .container-fluid .mega-menu > li.megamenu > .sub-menu {
	    margin-#{$left}: 12.5%;
	    width: 75%;
	}
}
@media (max-width: 1365px) and (min-width: 992px){
	.header-v7 .container-fluid .mega-menu > li.megamenu > .sub-menu {
	    margin-#{$left}: 9%;
	    max-width: 80%;
	}
}
@media (min-width: 768px){
	.blog-container .grid_style_5 .blog-item:hover{
		.blog-img a::before {
		    @include transform(scale(1));
		}
		.blog-media:after{
		    @include transform(translateX(-50%) translateY(-50%) scale(1));
		    z-index: 9;
		    opacity: 1;

		}
	}
	.blog-container .grid_style_4 .blog-item:hover 	.blog-img a img{
	     @include transform(scale(1.1));
	}
}
@include scrollbars(.2em, #ebebeb);
// .onsearch{
// 	&.algolia-autocomplete {
// 		display: block !important;
// 	}
// }

.box-pro-h8{
	.layout_style_2 .product_style_2 {
		.product-desc {
			padding-top:50px;
			p{
				margin-bottom: 27px;
			}
			.term_name a{
				font-size:18px;
				font-weight:500;
			}
			 h3 a {
			    font-size: 50px;
			    font-weight: 700;
			    text-transform: none;
			    font-family: Asap;
			}
			.product-name span{
				font-weight:700;
				text-transform: capitalize;
			}
		}
		.product-content {
			padding:side-values(52px 50px 81px);
			.product-action-list{
				padding-top:28px;
			}
			h3 {
			    padding-bottom: 25px;
			    padding-top: 1px;
			}
			.price del .amount,span.woocommerce-Price-amount  span{
			 	font-size: 24px;
			}
			.price .amount {
			    font-size: 35px;
			}
		}
	}
	.layout_style_2.image_left_pos .product_style_2 .product-image {
	    text-align: center;
	    padding-#{$right}: 50px;
	}
	.box_farm_deal .countdown-2 .ult_countdown-row {
	    #{$left}: auto;
	    margin-#{$left}: 61px;
	    border:1px solid $primary_color;
	}
}

.block-icon{
	.icon_box-container {
		width: 16.66%;
		display: inline-block;
		float: $left;
		position:relative;
		&:before{
			content: "";
			height: calc(100% - 68px);
			width: 1px;
			background:rgba(235,235,235,0.2);
			position:absolute;
			#{$right}:0;
			top:50%;
			@include transform(translateY(-50%));
		}
		&:last-child{
			&:before{
				content: none;
			}
		}
	}
}
.vc_toggle_title{
	border:1px solid #ebebeb;
	padding:side-values(12px 20px) !important;
	position:relative;
	h4{
		color: #282828;
		font-size: 15px;
		text-transform:capitalize;
		font-weight:600;
		letter-spacing: 0.3px;
	}
}
.vc_toggle{
	margin-bottom:10px !important;
}
.vc_toggle_default .vc_toggle_icon{
	background:none !important;
	border:none !important;
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_title .vc_toggle_icon{
	#{$right}:20px !important;
	#{$left}:auto !important;
	&:before{
		content: "\f055";
		font-family:FontAwesome;
		font-size: 14px;
		color: $primary_color;
		height: auto;
		width: auto;
		background:none;
		border:none;
		font-style: normal;
	}	
	&:after{
		content: none;
	}
}
.vc_toggle_size_md.vc_toggle_default .vc_toggle_icon{
	height:auto !important;
	width:auto !important;
	margin-#{$left}:0 !important;
}
.vc_toggle_size_md.vc_toggle_default.vc_toggle_active .vc_toggle_title .vc_toggle_icon::before{
	visibility:visible !important;
	content:"\f056";
}
.text-default p{
	margin-bottom:24px;
}
.bg-tes-overlay{
	&:before{
		content:"";
		height: 100%;
		width: 100%;
		background:rgba(0,0,0,0.7);
		position:absolute;
		top:0;
		#{$left}:0;
		display: inline-block !important;
    	z-index: 1;
	}
	.ult-carousel-wrapper{
		position:relative;
		z-index: 1;
	}
}
.item_testimonial4 {
	position:relative;
	padding:side-values(101px 75px 0);
	&:before{
		content: "\f10e";
		font-family: FontAwesome;
		font-size: 70px;
		color: $primary_color;
		position:absolute;
		top:0;
		#{$left}:50%;
		line-height: 100%;
		margin-#{$left}:-34px;
	}
	.img-tes{
		height: 115px;
		width: 115px;
		border:4px solid #fff;
		border-radius:50%;
	}
	.caption_testimonial .item-desc {
	    font-size: 14px;
	    line-height: 24px;
	    font-family: Poppins;
	    margin-top: 20px;
    	margin-bottom: 21px;
	}
}
.control-type1{
	.slick-next, .slick-prev{
		margin-top:18px !important;
		height: 50px !important;
		width: 50px !important;
		border-radius: 50%;
		background:rgba(255,255,255,0.2);
		color: rgba(255,255,255,0.45) !important;
		i{
			font-size: 50px !important;
			display: inline-block !important;
		}
		&:hover{
			background:rgba(255,255,255,0.6);
			color: rgba(255,255,255,1) !important;
		}	
	}
	.slick-prev {
		#{$left}:15px !important;
		i{
			&:before{
				content: "\e686";
				font-family: 'Pe-icon-7-stroke' !important;
			}
		}
	}
	.slick-next {
		#{$right}:15px !important;
		i{
			&:before{
				content: "\e684";
				font-family: 'Pe-icon-7-stroke' !important;
			}
		}
	}
}
.control-type2{
	.slick-next, .slick-prev{
		height: 60px !important;
		width: 60px !important;
		margin-top:-73px !important;
		color:#cdcdcd !important;
		i{
			font-size: 60px !important;
			display: inline-block !important;
		}
		&:hover{
			color: $primary_color !important;
		}	
	}
	.slick-prev {
		#{$left}:-42px !important;
		i{
			&:before{
				display: inline-block;
				content: "\e686";
				font-family: 'Pe-icon-7-stroke' !important;
			}
		}
	}
	.slick-next {
		#{$right}:-42px !important;
		i{
			&:before{
				display: inline-block;
				content: "\e684";
				font-family: 'Pe-icon-7-stroke' !important;
			}
		}
	}
}
.bg-gradient{
	position:relative;
	.upb_row_bg:before{
		content:"";
		position:absolute;
		height:100%;
		opacity: 0.7;
		width:100%;
		background: $primary_color;
	    background: -moz-linear-gradient(left, $primary_color 0%, $primary_color2 65%);
	    background: -webkit-gradient(left top, right top, color-stop(0%, $primary_color), color-stop(65%, $primary_color2));
	    background: -webkit-linear-gradient(left, $primary_color 0%, $primary_color2 65%);
	    background: -o-linear-gradient(left, $primary_color 0%, $primary_color2 65%);
	    background: -ms-linear-gradient(left, $primary_color 0%, $primary_color2 65%);
	    background: linear-gradient(to right, $primary_color 0%, $primary_color2 65%);
	    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color2', endColorstr='$primary_color', GradientType=1 );
	}
}
.icon_box_content.text-left img{
    float: $left;
    margin-#{$right}: 25px;
}