
/*===================================
	3.14 Error Page
===================================*/
.error404{
	.side-breadcrumb{
		display: none;
	}
	.side-breadcrumb + .wrapper {
	    padding-top: 0;
	}
	.footer{
		padding-top: 0 !important;
		position: relative;
	}
}
#error-page{
	max-width: none;
    padding: side-values(0);
    margin: side-values(0) !important;
}
.page-404 {
    background-size: cover;
    margin: side-values(0 -15px);
    position: relative;
    vertical-align: middle;
    .page-404-container{
	  	color: #282828;   	
 	}
    .content404{
	    top: 40%;
	    width: 100%;
	    text-align: center;
	    font-size: 24px;
	    padding-top: 0;
	    letter-spacing: 1.5px;
	    position: absolute;
	    @include transform(translateY(-50%));
	    h1{
	    	color: #282828;
	    	font-size: 150px;
	    	font-family: Asap;
	    	font-weight: bold;   
	    }
	    p{
	    	font-size: 30px;
	    	color: #282828; 
	    	font-weight: lighter;
	    	line-height: 34px;
	    }
	    .btn.btn-primary{
		    margin-top: 33px;
		    padding: side-values(14px 85px 14px 86px);
		    letter-spacing: 0px;    	
		    > i{
		    	margin-#{$left}: 17px;
		    }
	    }
    }
}
.page-template-coming-soon, #error-page{
	footer{
		padding-top: 0;
	}
	// &:before{
	//     content: "";
	//     position: absolute;
	//     top: 0;
	//     left: 0;
	//     height: 100%;
	//     width: 100%;
	//     background: rgba(0, 0, 0, 0.5);	
	//     opacity: 0.6;	
	// }
}
.page-coming-soon{
	margin: side-values(0 -15px);
    position: relative;
    min-height: 500px;
    .coming-soon-container{
    	position: relative;
    	min-height: 500px;
    }
    .coming-soon{
		position: absolute;
	    top: 50%;
	    width: 100%;
	    @include transform(translateY(-50%));   
	    color: #fff; 
	    padding-top: 150px;  
		#{$right}: 0;
	    #{$left}: 0;	      	
    }	
    .coming-clock, .coming-title{
    	display: inline-block;
    	vertical-align: middle;
    }
    .coming-title{
	    text-transform: uppercase;
	    font-size: 35px;
	    text-align: $left;
	    width: 40.4%;
    /* max-width: 512px; */
    	padding-#{$left}: 54px;
    	padding-#{$right}: 52px;
    	border-#{$right}: 1px solid #fff;
    	padding: side-values(9px 25px 9.2px 74px);  
	    h3{
		    color: #d19f68;
		    font-size: 35px;	    	
	    }  	
	    h2{
		    font-size: 67px;
		    font-weight: bold;
		    color: inherit;
		    margin-top: 5px;
		    letter-spacing: -3px;    	
	    }
    }
    .coming-clock{
    	width: 59%;
    }
    .coming-timer{
    	font-family: Poppins;
    	position: relative;
    	display: inline-block;
    	line-height: 100%;
	    margin-#{$left}: 1px;
	    margin-top: -4px;
    	> span:first-child {
		    font-size: 80px;
		    font-weight: 300;
		    line-height: 100%;
		}
    	> span:last-child {
		    font-size: 128px;
		    font-weight: bold;
		    position: absolute;
		    opacity: 0.1;
		    #{$left}: 50%;
		    @include transform(translateX($translateX) translateY(-50%));
		    padding-#{$right}: 55px;
		    top: 45%;
		    line-height: 100%;		    		    
		}
		&:after {
		    content: ":";
		    font-size: 80px;
		    font-family: inherit;
		    font-weight: 300;
		    padding: side-values(0 22px 0 21px);
		}
		&:last-child{
			&:after{
				display: none;
			}
			> span:last-child {
				padding-#{$right}: 0;
			}
		}		
    }
    .coming-subcribe{
    	margin-top: 47px;
    }
    .mc4wp-form{
    	width: 100%;
	    max-width: 560px;
	    margin: side-values(0 auto);
	    input[type="submit"]{
	    	margin-top: 11px;
		    background: $primary_color;
		    font-family: Poppins;
		    text-transform: uppercase;
		    padding: side-values(13px 87px 15px 60px);
		    text-align: $left;
		    color: #000;
		    @include transitions(all 0.5s ease);
		    border-radius: 50px;
		    &:hover{
		    	background: #000;
		    	color: #fff;
		    }
	    }
	    p.submit{
	    	position: relative;
	    	max-width: 204px;
    		margin: side-values(0 auto);
    		&:hover{
    			&:after {
    				color: #fff;
    			}
    		}
	    }
		p.submit:after {
			content: "\f003";
		    font-family: FontAwesome;
		    font-size: 14px;
		    color: #000;
		    position: absolute;
			top: 36%;
		    #{$right}: 50px;
		    pointer-events: none;    
		}	    
    }
    .mc4wp-form-fields{
    	> label:first-child{
    		display: none;
    	}
    	label.title-2{ display: none;}
    }
    input[type="email"],input[type="text"]{
		width: 100%;
	    background: transparent;
	    border: 1px solid #fff;
	    text-align: center;
	    color: #fff;
	    text-transform: capitalize;
	    padding: side-values(14px 26px 14.9px);
	    font-size: 14px;
	    height: 50px;
    }
}
.hide_footer footer{
	display: none !important;
}
.ult_tabcontent.ult-responsive.style1{overflow: visible !important;}
.ult_tabmenu{
	
}
.mc4wp-error{
	&:before{
		top: 11px;
	}
	> p{
		margin-bottom: 4px;
	}
}
@media (min-width: 1506px){
	.page-coming-soon .coming-soon {
	    padding-top: 123px;
	}
	.page-404 .content-404 { 
		.title404 {
		    font-size: 12.3px;
		}   
	}
	.page-coming-soon .coming-subcribe {
	    margin-top: 49px;
	}
}

@media (min-width: 1200px){
	.ie-11{
		.heading404{
			margin-bottom: 0;
		}
	}
	.page-404{
    	height: 532px;
	}
	.title404 {
	    font-size: 12px;
	    font-weight: 900;
	    letter-spacing: 2px;
	}
}
@media (max-width: 1200px){
	.page-coming-soon .coming-soon {
	    padding-top: 0;
	}
}
@media (max-width: 1199px){
	.page-coming-soon {
		.coming-title{
			padding: side-values(15px 52px 12px 52px);
			h3 {
			    font-size: 30px;
			}    
			h2{
				font-size: 50px;
			}
		}
		.coming-clock {
		    padding: side-values(0 30px);
		}	
		.coming-timer{
			> span:first-child {
			    font-size: 44px;
			}	
			> span:last-child {
			    font-size: 47px;
			}	
			&:after {
			    font-size: 44px;
			}				
		}
	}
}
@media (max-width: 991px){
	.page-404 .content404 {
    	font-size: 20px;
    	.btn.btn-primary{
    		padding: side-values(14px 30px);
    	}
    }	
    .page-coming-soon{
    	.coming-clock {
		    width: 100%;
		}	
		.coming-title{
			width: 100%;
			padding: side-values(15px 30px 12px 30px);
			border: none;
			text-align: center;
		}
    }
}
@media (min-width: 768px) and (max-width: 1199px){
	.page-coming-soon .coming-timer > span:last-child {
	    font-size: 78px;
	}
}
@media (min-width: 768px){
}
@media (max-width: 767px){
	
	.page-404 {
		.content404 {
		    font-size: 14px;
		    letter-spacing: 1.5px;
		    padding: side-values(20px 15px 0);			
		    .btn.btn-primary {
			    letter-spacing: 0;
			    margin-top: 13px;
			    padding: side-values(14px 30px);
			}
		}
		svg{
			@include transform(translateY(-46px));
		}
		.title404 {
		    font-size: 12.8px;
		}
		.content404 p {
		    font-size: 16px;
		    line-height: 25px;
		}
	}
	.page-coming-soon{
		 .coming-clock,.coming-title {
		    width: 100%;
		    margin-top: 15px;
		    padding: side-values(0 15px);  
		    text-align: center;  
		    border: none;
		}	
		.coming-soon{
		    padding-top: 101px;	
		    height: 100%;
		    top: 0;
		    @include transform(none);
		    position: relative;
		}
		.coming-title{
			h2{
				font-size: 40px;
			}
		}
		.coming-timer{
			> span:first-child {
			    font-size: 30px;
			}
			&:after {
			    font-size: 30px;
			    padding: side-values(0 15px 0 15px);
			}
			span:last-child {
			    font-size: 55px;
			    padding-#{$right}: 35px;
			}
		}
		.mc4wp-form {
		    padding: side-values(0 15px); 
		}		
	}
	.gallery_sort .title-portfolio.item {
	    display: table;
	}
	.title-portfolio,
	.gallery-masonry_2 .btn-viewmore {
	    height: auto;
	    .btn {
    		display: block;
    		i{
    			margin-bottom: -6px;
    		}
    	}
	}
	.title-portfolio .title-left{
		 padding: side-values(6px 15px 10px 40px);
		 display: table-cell;
		&:before {
		    background: none;
		    font-size: 23px;
		    #{$left}: 6px;
		}
		h2 {
			font-size: 22px;
		}
		h3{
			font-size: 18px;
		}
	}
}
@media (min-width: 480px) and (max-width: 767px){

}
@media (max-width: 480px){
	
}