/*===================================
	3.13 Home 3
===================================*/
.slide-member{
	.slick-list .slick-slide{
		margin: side-values(0);
	}
}
.slide-sale.align-right{
	.vc_single_image-wrapper {
		margin-#{$left}:0;
	    margin-#{$right}: 78px;
	}
	.lable-sale {
		#{$left}:auto;
		#{$right}:36px;
		top:-31px;
		.text-sale{
			line-height: 20px;
			span{
			    margin-top: 11px;
			    display: inline-block;
			}
			&::before{
				#{$right}:auto;
				bottom:-19px;
				#{$left}:-24px;
				@include transform(rotate(342deg) skewX(-180deg));
			}
		}
	}
	.vc_single_image-wrapper:before{
		content: none;
	}
	.slick-slider .slick-dots {
	    #{$left}: 50%;
	    bottom: -83px;
	    top: auto;
	    @include transform(translateX($translateX) translateY(0));
	    li{
	    	display: inline-block;
	    	margin:side-values(0 7px);
	    }
	}

}
.input.wpcf7-form-control.wpcf7-date{
	min-width:100% !important;
}
.en_overlay.banner-type1:before{
	opacity: 0.5;
}
.banner-type1{
  display: table;
  width: 100%;
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  	&::before {
	  background: #000 none repeat scroll 0 0;
	  bottom: 0;
	  content: "";
	  #{$left}: 0;
	  opacity: 0;
	  position: absolute;
	  #{$right}: 0;
	  top: 0;
	  @include transitions(all 0.3s ease-in-out 0s);
	} 	
  	&:hover{
		&:before {
			opacity: 0;
		}
  	}
  	&.text-left{
  		.banner-mid {
  			padding-#{$left}:85px;
  			padding-#{$right}:30px;
  		}
	}
  	.banner-mid {
	  display: table-cell;
	  height: 100%;
	  position: relative;
	  vertical-align: middle;
	  width: 100%;
	  padding: side-values(0 15px);
	}
	.banner-title {
		position: relative;
		padding-top:3px;
		@include transitions(all 0.3s ease-in-out 0s);
		h2 {
			color: #fff;
		  font-size: 45px;
		  font-weight: 600;
		  margin-bottom: 8px;
		}
		h3 {
		  color: #fff;
		  font-size: 24px;
		  margin: side-values(0 auto);
		  font-weight: 300;
		  text-transform: uppercase;
		}
	} 
	.btn-plus{
		display: none;
	}
	.banner-btn {
	  margin-top: 31px;
	  position: relative;
	  @include transitions(all 0.3s ease-in-out 0s);
	  .btn.btn-default{
	  	border-color: #fff;
	  	text-transform: capitalize;
	  	padding: side-values(16px 36px 13px);
	  	color: #fff;
	  	&:hover,&:active,&:focus{
	  		border-color: $primary_color;
	  	}
	  }
	}
}
.custom-banner1{
	.banner-type1.text-left .banner-mid {
	  padding-#{$left}: 50px;
	}
}
.banner-type2{
	width: 100%;
	position: relative;
	background: $primary_color;
	.banner-mid { 
	  height: 100%;
	  vertical-align: middle;
	  width: 100%;
	  position: relative;
	  padding: side-values(0 15px);
	}
	.banner-title {
		position: relative;
		padding-top: 62px;
		padding-bottom: 21px;
		z-index: 2;
		h2 {
		  	font-size: 30px;
		  	line-height: 37px;
		  	font-weight: 600;
		  	color: #fff;
		  	margin-top: -2px;
		}
		h3 {
			font-weight: 300;
		  	color: #fff;
		  	font-size: 24px;
		  	margin: side-values(0 auto);
		  	line-height: 37px;
		}
	} 
	.banner-btn {
	  margin-top: 0;
	  z-index: 9;
	  position: relative;
	  .btn{
	  	padding-top: 16px;
	  	padding-bottom: 14px;
	  	&:hover{
	  		background: #000;
	  	}
	  }
	}
	.banner-img{
		position: absolute;
		bottom: -86px;
	}
}
.box-banner-h4{
	padding:side-values(0 15px) !important;
	.banner-container {
		padding:side-values(15px 0) !important;
	}
	> .wpb_column.vc_column_container {
		padding:side-values(0 15px) !important;
	}	
}
.en_overlay{
	&.banner-type3:before{
		content: "";
	}
}
.banner-type3{
	position:relative;
	background-size:cover;
	background-repeat:no-repeat;
	height: 500px;
	.banner-mid{
		position:absolute;
		bottom:45px;
		padding-#{$right}:30px;
		#{$left}:44px;
	}
	&:before{
		@include transitions(all 0.3s ease-in-out 0s);
		content: none;
		height: 100%;
		width:100%;
		background: #000;
		opacity: 0.2;
		border:15px solid transparent;
		position:absolute;
		top:0;
		#{$left}:0;
	}
	&:hover{
		&:before{
			@include transitions(all 0.3s ease-in-out 0s);
			opacity: 0.4;
			border-color:rgba(255,255,255,0.3);
		}
		.banner-btn .btn.btn-noborder{
			color:$primary_color;
		}
	}
	.banner-title h2{
		color: #fff;
		margin-bottom: 8px;
		font-weight: 600;
	}
}
.banner-btn{
	.btn.btn-noborder{
		padding:side-values(0);
		@include transitions(all 0.3s ease-in-out 0s);
		position:relative;
		font-size: 16px;
		background:none;
		box-shadow:none;
		font-weight: 300;
		color:#fff;
		text-transform:uppercase;
		border:none;
		&:before{
			content: "\f178 ";
			position:absolute;
			top:-1px;
			#{$right}:-25px;
			font-family: FontAwesome;
		}
	}
}
.active{
	.banner-type4{
		&:before{
			opacity: 0.5;
			@include transform(scale(1));
		}
		.banner-mid{
			padding-top: 98px;
			padding-bottom: 89px;
			margin-top: 0;
		}
		.banner-mid:before {
			@include transform(scale(1));
		}
	}
}
.banner-type4{
	position: relative;
	background-color: $primary_color;
	margin-top: -117px;
	&.en_overlay:hover:before{
		opacity: 0.5;
		@include transform(scale(1));
	}
	&:hover{
		.banner-mid:before {
			@include transform(scale(1));
		}
	}
	&::before {
	  background-color: $primary_color;
	  bottom: 0;
	  content: "";
	  #{$left}: 0;
	  opacity: 0;
	  position: absolute;
	  #{$right}: 0;
	  top: 0;
	  background-position: center center;
      background-size: cover;
	  @include transform(scale(0));
	  @include transitions(all 0.3s ease-in-out 0s);
	}
	.banner-mid {
	  	padding: side-values(81px 15px 72px);
	  	margin-top: 17px;
	  	@include transitions(all 0.3s ease-in-out 0s);
	  	&::before {
		  border: 1px solid #fff;
		  bottom: 13px;
		  content: "";
		  #{$left}: 13px;
		  position: absolute;
		  #{$right}: 13px;
		  top: 13px;
		  @include transform(scale(0));
	 	  @include transitions(all 0.3s ease-in-out 0s);
		}
	}
	.banner-title {
	  position: relative;
	}
	h2 {
	  color: #fff;
	  line-height: 35px;
	  padding-bottom: 5px;
	  font-weight: 600;
	}
	h3 {
	  color: #fff;
	  line-height: 37px;
	  font-size: 18px;
	  text-transform: uppercase;
	  font-weight: 300;
	}
}
.banner-type5{
	&:before{
		opacity: 0.3;
	}
	&.text-left{
		.banner-mid {
		  bottom: 69px;
		  #{$left}: 52px;
		  padding-#{$right}:15px;
		}
	}
	&.text-right{
		.banner-mid {
		  #{$left}: auto;
		  bottom: 69px;
		  #{$right}: 48px;
		  margin-#{$right}: 0;
		  padding-#{$right}: 0;
		  margin-#{$left}: 15px;
		  h2{
		  	margin-bottom: 35px
		  }
		}
	}
	&.text-center{
		.banner-mid {
		  bottom: auto;
		  #{$left}: 50%;
		  padding: side-values(0 15px 0 50px);
		  #{$right}: auto;
		  top: 50%;
		  width: 100%;
		  text-align: $left;
		  transform: translate($translateX, -50%);
		  	.banner-title {
		  		h3{
		  			line-height: 35px;
		  		}
		  		h2 {
				  font-size: 45px;
				  font-weight: 600;
				  font-family: Poppins;
				  margin-bottom: 44px;
				  margin-bottom: 34px;
				}
			}
		}
	}
	.banner-title {
		h2 {
		  font-family: Asap;
		  font-size: 50px;
		  font-weight: 700;
		  margin-bottom: 44px;
		}
		h3 {
		  color: #fff;
		  font-size: 24px;
		  line-height: 39px;
		  text-transform: uppercase;
		}
	}
	.btn{
		min-width: 150px;
	}
}
.align-right {
	.banner-type6.text-right{
		.banner-img{
			padding-#{$right}: 29px;
		}
		.banner-title{
			#{$left}: 49px;
    		top: 106px;
		}
		&.text-right{
			.banner-btn{
				bottom: 103px;
			}
		}
	}
}
.align-left {
	.banner-type6{
		.banner-title{
    		top: 73px;
		}
		.banner-btn{
			bottom: 24px;
    		#{$left}: 105px;
		}
	}
}
.banner-type6{
	position: relative;
	&.text-left{
		.banner-title{
		    #{$left}: -50px;
		}
	}
	&.text-right{
		.banner-title{
		    #{$left}: 35px;
		    top: 77px;
		}
		.banner-btn {
		  #{$left}: 117px;
		  bottom: 22px;
		}
	}
	.banner-title{
		position: absolute;
	    top: 102px;
	    width: 100%;
		h3 {
		  background: #fff none repeat scroll 0 0;
		  clear: $left;
		  font-size: 20px;
		  font-weight: 300;
		  float: $left;
		  text-transform: lowercase;
		  padding: side-values(14px 50px 7px 0);
		}
		h2{
			font-size: 35px;
		  	font-weight: 600;
		  	float: $left;
		  	clear: $left;
		  	text-transform: lowercase;
		  	background: #fff none repeat scroll 0 0;
		  	padding: side-values(10px 46px 14px 0);
		}
	} 
	.banner-btn {
		bottom: 27px;
	    #{$left}: 35px;
	    position: absolute;
	    z-index: 1;
		.btn.btn-noborder {
		  	color: #282828;
		  	font-size: 16px;
		  	font-weight: 600;
		  	text-transform: none;
		  	&:before{
		  		content: "\e87a";
		  		font-family: "Linearicons-Free";
		  		top: -3px;
		  		#{$right}: -32px;
		  	}
		  	&:hover{
		  		color: $primary_color;
		  	}
		}
	}
	&.banner-content {
		.banner-img {
		    overflow: hidden;
		    display: inline-block;
			img {
			transition: all 1s ease;
			-webkit-transition: all 1s ease;
			-moz-transition: all 1s ease;
			-o-transition: all 1s ease;
			}
		}
		&:hover{
			.banner-img img{
			    transform: scale(1.1,1.1);
			    -webkit-transform: scale(1.1,1.1);
			    -moz-transform: scale(1.1,1.1);
			    -o-transform: scale(1.1,1.1);
			    -ms-transform: scale(1.1,1.1);
			}
		}
	}

}
.slick-counter-slide{
	.slick-arrow {
	  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	  border: medium none;
	  bottom: 43px;
	  color: #fff;
	  font-size: 17px;
	  position: absolute;
	  #{$right}: 80px;
	  z-index: 9;
	  padding: side-values(0);
	  &:hover{
	  	color: $primary_color;
	  }
	  &.btn-prev{
	  	#{$right}: 50px;
	  }
	}
}
.slider-wrap-container .pagingInfo {
  bottom: 80px;
  color: #fff;
  font-family: Poppins;
  font-size: 22px;
  position: absolute;
  #{$right}: 63px;
  z-index: 9;
}
.abs-tt-ins{
	position: absolute;
    top: 50%;
    z-index: 99;
    background: #fff;
    #{$left}: 50%;
    padding: side-values(80px 100px);
    @include transform(translateX($translateX)  translateY(-50%));
}
// Slider revolution
.tp-static-layer{
	opacity: 1 !important;
}
.rev_slider_wrapper{
	.custom .tp-bullet {
	  background: rgba(34, 35, 36, 0.2) none repeat scroll 0 0;
	  height: 10px;
	  width: 10px;
	  	&:hover, &.selected {
		  background: $primary_color;
		  opacity: 1;
		}
	}
}

// Home 1
.max-width {
	max-width: 80%;
	margin: side-values(0 auto);
}
.max-width-3 {
	max-width: 64%;
	margin: side-values(0 auto);
}
.farm_info_list{
	padding-#{$left}: 100px;
	padding-#{$right}: 100px;
	.vc_icon_element{
		margin-bottom: 29px;
	}
	h4 {
	    font-size: 20px;
	    color: #282828;
	    padding-bottom: 15px;
	    span{
	    	font-weight: 700;
	    }
	}
}

.custom-choose{
	.img-abs-center {
	  	bottom: 45px;
	  	#{$left}: 0;
	}
}
.form-home-1{
	margin: side-values(0 -15px);
	padding-top: 2px;
	.inner-input {
	  float: $left;
	  padding: side-values(0 15px);
	  width: 50%;
	  &.inner-full{
	  	width: 100%;
	  	margin-bottom: 17px;
	  }
	}
	.wpcf7-form-control.wpcf7-textarea, 
	.wpcf7-form-control.wpcf7-text, 
	.wpcf7-form-control.wpcf7-select, 
	.wpcf7-form-control.wpcf7-date {
	  font-size: 15px;
	  &:hover{
			 box-shadow: 0 0 10px 0 rgba(73, 72, 63, 0.38);
		}
	}
	.wpcf7-form-control.btn-primary {
	  font-size: 15px;
	  font-weight: 500;
	  letter-spacing: 0;
	  text-transform: none;
	}
}
div.wpcf7-response-output{
	float:none;
	margin-top:0 !important;
	margin-bottom:0 !important;
}
.wpcf7-form{
	position:relative;
	width:81.5%;
	margin: side-values(0 auto);
	.submit {
		position:relative;
			.ajax-loader{
			position:absolute;
		}
	}
	 span.wpcf7-not-valid-tip{
	  	font-size: 12px;
	  	position:absolute;
	  	#{$left}:0;
	  	bottom:-28px;
	  }
}
.form-home-7{
	margin: side-values(0 -15px);
	.inner-input {
	  float: $left;
	  position:relative;
	  padding: side-values(0 15px);
	  width: 50%;
	  &.inner-full{
	  	width: 100%;
	  	margin-bottom: 17px;
	  }
	}
	textarea.wpcf7-form-control{
		height: 99px;
		margin-top:3px;
	}
	.wpcf7-form-control.wpcf7-textarea, 
	.wpcf7-form-control.wpcf7-text, 
	.wpcf7-form-control.wpcf7-select, 
	.wpcf7-form-control.wpcf7-date {
	  font-size: 14px;
		&:hover{
			 box-shadow: 0 0 10px 0 rgba(73, 72, 63, 0.38);
		}
	}
	.wpcf7-form-control.btn-primary {
	  font-size: 15px;
	  font-weight: 500;
	  letter-spacing: 0;
	  text-transform: none;
	  width: 292px;
	  margin-top:5px;
	}
}

.lable-sale {
	#{$left}: 60px;
	top: -64px;
    position: absolute;
    z-index: 9;
  	.text-sale {
	  color: #fff;
	  font-weight: 300;
	  line-height: 100%;
	  display: table-cell;
	  height: 128px;
	  text-align: center;
	  vertical-align: middle;
	  width: 182px;
	  border-radius: corner-values(50%);
	  background: $primary_color;
	  position: relative;
	  	&::before {
		  border-radius: corner-values(50%);
		  bottom: -27px;
		  box-shadow: 25px 8px 0 0 $primary_color;
		  -webkit-box-shadow: 25px 8px 0 0 $primary_color;
		  -moz-box-shadow: 25px 8px 0 0 $primary_color;
		  -ms-box-shadow: 25px 8px 0 0 $primary_color;
		  content: "";
		  height: 63px;
		  position: absolute;
		  #{$right}: -24px;
		  @include transform(rotate(171deg) skewX(-180deg));
		  width: 75px;
		  z-index: -1;
		}
	  	span{
		  	font-family: Asap;
		  	font-size: 30px;
		  	display: block;
		  	line-height: 34px;
		  	margin-top: 2px;
		  	font-weight: 700;
		  	color: #ffd800;
	  	}
	}
}
.wpb_revslider_element{
	margin-bottom: 0 !important;
}
.slide-sale{
	.slick-list{
		padding-top: 86px;
	}
	.vc_single_image-wrapper{
		position: relative;
		margin-top: 20px;
		margin-#{$left}: 78px;
		&:before{
		  position: absolute;
		  content: "";
		  opacity: 0.4;
		  top: -20px;
		  #{$left}: 60px;
		  #{$right}: 39px;
		  bottom: 40px;
		  border-top: 10px solid $primary_color;
		  border-bottom: 10px solid $primary_color2;
		  -webkit-box-sizing: border-box;
		  -moz-box-sizing: border-box;
		  box-sizing: border-box;
		  background-position: 0 0, 100% 0;
		  background-repeat: no-repeat;
		  -webkit-background-size: 10px 100%;
		  -moz-background-size: 10px 100%;
		  background-size: 10px 100%;
		  background-image: -webkit-linear-gradient(top, $primary_color 0%, $primary_color2 100%), -webkit-linear-gradient(top, $primary_color 0%, $primary_color2 100%);
		  background-image: -moz-linear-gradient(top, $primary_color 0%, $primary_color2 100%), -moz-linear-gradient(top, $primary_color 0%, $primary_color2 100%);
		  background-image: -o-linear-gradient(top, $primary_color 0%, $primary_color2 100%), -o-linear-gradient(top, $primary_color 0%, $primary_color2 100%);
		  background-image: linear-gradient(to bottom, $primary_color 0%, $primary_color2 100%), linear-gradient(to bottom, $primary_color 0%, $primary_color2 100%);
		}
	}
	.slick-slider{
		margin: side-values(0);
		.slick-dots{
			#{$left}: 13px;
		    padding: side-values(0);
		    position: absolute;
		    width: auto;
		    bottom: auto;
		    top: 50%;
    		transform: translateY(-50%);
		    li{
		    	margin: side-values(10px 0);
		    	display: block;
		    }
		}
	}
}
// Home 6
//Icon box 3
.height-524, .height-518{
	.vc_column-inner, .wpb_wrapper,
	.ult-content-box-container, 
	.ult-content-box{
		height: 100%;
	}
}
.height-524, .height-518{
	> .vc_column-inner{
		display: table;
		width: 100%;
		> .wpb_wrapper{
			display: table-cell;
			vertical-align: middle;
		}
	} 
}
.height-518{
	height: 518px;
}
.height-524{
	.heading-5{
		text-align: $left;
	}
	&.wpb_column{
		padding-#{$left}: 15px;
		padding-#{$right}: 15px;
	}
	.icon_box-container:last-child {
		.icon_box_content.type_2{
		  margin-bottom: 0;
		}
	}
	.type_2{
		&.icon_box_content {
			margin-bottom: 27px;
			.icon_box {
				i{
					opacity: 0.5;
				}
			}
			.icon_box_title h3 {
			    padding-top: 2px;			
			}
		}
		&.text-center {
		  	float: none;
		  	margin-bottom: 20px;
		}
		&.text-center {
		  	float: $right;
		  	.icon_box {
		  		margin-#{$left}: 0;
		  		margin-#{$right}: 25px;
		  	}
		  	.icon_box_title,
		  	.icon_box_desc {
		  		text-align: $right;
		  	}
		}
	}
}
.vc_col-sm-3,
.vc_col-sm-4,
.vc_col-md-3,
.vc_col-md-4{
	&:last-child{
		.type_2:before{
			content: none;
		}
	}
	.type_2{
		&:before{
			#{$right}: 0;
			top: 0;
			height: 35px;
			opacity: 0.2;
			border-#{$right}: 1px solid #fff;
			position: absolute;
			content: "";
		}
	}
}
.type_2{
	position: relative;
	&.icon_box_content {
		margin-bottom: 43px;
		&.text-center{
			.icon_box{
				float: none;
				vertical-align: middle;
				margin-#{$right}: 11px;
			}
			.icon_box-content{
				display: inline-block;
				vertical-align: middle;
				text-align: $left;
			}
		}
		.icon_box {
		    width: auto;
		    height: auto;
		    background: none;
		    border-radius: corner-values(0);
		    i{
		    	line-height: 100%;
		    	width: 100%;
		    	height: 100%;
		    	font-size: 40px;
		    	background: none !important;
		    	color: #fff;
		    	margin: side-values(0);
		    	&::before {
				  -webkit-text-fill-color: white;
				  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
				}
		    }
		}
	}
	.icon_box_title h3 {
	    font-weight: 600;
	    margin-top: 0;
	    color: #fff;
	    font-size: 20px;
	}
	.icon_box_desc {
		padding-top: 2px;
		overflow: hidden;
		p {
		    color: #fff;
		    font-size: 16px;
		    margin-bottom: 0;
		}
	}
}

.ver-dot-right{
	&.ult-carousel-wrapper{
		margin: side-values(0);
  		padding: side-values(0);
	}
  	.slick-slider{
  		margin: side-values(0);
  		padding: side-values(52px 0);
  	}
  	ul.slick-dots {
	  	#{$left}: auto;
	  	padding-top: 0;
	  	position: absolute;
	  	#{$right}: 40px;
	  	top: 50%;
	  	width: auto;
	  	bottom: auto;
	  	padding: side-values(0);
	  	@include transform(translateY(-50%));
	  	li{
	  		display: block;
	  		margin: side-values(20px 0);
	  	}
	}
	.lable-sale {
	  	#{$left}: 96px;
	  	top: 8px;
	}
}

// Counter 
.stats-left {
	padding-#{$left}: 75px;
	.aio-icon-left {
	  display: table-cell;
	  #{$left}: 50px;
	  opacity: 0.2;
	  position: absolute;
	  top: -25px;
	}
}
.scroll-down{
	color: #fff;
	position: relative;
	padding-bottom: 10px !important;
	&:before{
		background: url(../images/bg-scroll-down.png) no-repeat;
		top: 100%;
		content: "";
		height: 46px;
		#{$left}: 50%;
		position: absolute;
		@include transform(translateX($translateX));
		width: 10px;
	}
}
// Services

.service-container {
  	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  	.des-product p {
   	 margin-bottom: 23px;
	}
	.tt-product h5 {
	  color: #444;
	}
}
.img-gradient {
  	padding: side-values(0 35px);
  	position: relative;
  	&:before{
  		position: absolute;
  		content: "";
  		#{$left}: 0;
  		#{$right}: 0;
  		opacity: 0.5;
  		top: 40px;
  		bottom: 40px;
  		background: -moz-linear-gradient(0deg, $primary_color2 0%, $primary_color 100%,$primary_color  100%);
		background: -webkit-linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
		background: linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color2', endColorstr='$primary_color',GradientType=1 );
  	}
}

.vc_custom_heading.custom-heading {
  font-weight: 600;
}
.custom-heading ~ .aio-icon-component{
	margin-bottom: 14px;
	.aio-icon-title {
	  	text-transform: uppercase;
	  	font-weight: 600 !important;
	    margin-top: -7px;
	}
	.left-icon .aio-icon-left .aio-icon-img{
		margin-#{$right}: 19px;
	}
}
.services-overlay{
	position: relative;
	&::before {
	  background: $primary_color;
	  bottom: 0;
	  content: "";
	  #{$left}: 0;
	  opacity: 0.8;
	  position: absolute;
	  #{$right}: 0;
	  top: 0;
	  z-index: 0;
	}
}
.need-help {
	.vc_icon_element {
	  	float: $left;
	  	line-height: 1.425;
	  	margin-bottom: 0;
	  	padding-#{$right}: 38px;
	  	.vc_icon_element-inner {
	  		&:before{
	  			content: none;
	  		}
	  	}
	  	.vc_icon_element-icon {
		  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
		  height: auto;
		  width: auto;
		  font-size: 100px !important;
		}
	  	.vc_icon_element-icon::before {
		 	-webkit-text-fill-color: #fff;
    		background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
		}
	}
	.wpb_text_column h2 {
	  color: #fff;
	  font-weight: 700;
	  font-size: 30px;
	  padding-top: 18px;
	  font-family: Asap;
	  position: relative;
	}
	.wpb_text_column p {
	  color: #fff;
	  padding-top: 5px;
	  font-size: 18px;
	  font-weight: 400;
	  position: relative;
	  text-transform: uppercase;
	}
}
.stats-block .stats-desc .stats-number {
  font-weight: 400;
}
//Home 7
.wpb_single_image.img-absolute-center {
  bottom: -104px;
  #{$left}: 50%;
  position: absolute;
  @include transform(translateX($translateX));
  z-index: 1;
}
//Home 9
.banner-9 {
	padding-#{$left}: 53px;
	h3 {
	  color: #fff;
	  padding-bottom: 13px;
	  font-size: 35px;
	}
	h2 {
	  color: #fff;
	  font-size: 50px;
	  font-weight: 600;
	  padding-bottom: 34px;
	}
	.btn{
	  min-width: 164px;
	}
} 
//Home 10 
.header-v7 + #main{
	.margin-min{
		margin-top: -71px;
	}
}
.bg-primary.margin-0 {
  @include transform(translateY(-70px));
}
.vc_row.margin-0{
	margin: side-values(0 15px);
}
.ult_tabs{
	margin-bottom: 0 !important;
	&.ult-tab-left{
		.ult_tab_min_contain {
			.ult_tabitemname {
			  	padding-#{$left}: 1px;
			}
		}
	}
	.ult_tab_min_contain {
		.ult_tabitemname {
		  	padding: side-values(50px 50px 30px);
		  	.product_layout_grid {
		  		margin-bottom: 0;
		  	}
		}
	}
	.ult_tabmenu.style1 {
		max-width: 100%;
		background: #f5f5f5;
		padding-#{$left}: 8px;
		li.ult_tab_li {
		  	background: rgba(0, 0, 0, 0) !important;
		  	border-radius: corner-values(0) !important;
		  	padding: side-values(28px 40px);
		  	&.current, &:hover{
		  		a{
			  		color: $primary_color !important;
			  		&:before{
			  			width: 100%;
			  		}
			  	}
		  	}
		  	a{
		  		background: rgba(0, 0, 0, 0) !important;
		  		padding: side-values(0);
		  		position: relative;
		  		&:before{
		  			position: absolute;
		  			content: "";
		  			background: $primary_color;
		  			width: 0;
		  			#{$left}: 0;
		  			top: -28px;
		  			height: 2px;
		  			@include transitions(all 0.3s ease-in-out)
		  		}
		  	}
	  	}
	}
	.product-content .product-image {
	  margin-bottom: 5px;
	}
}
.ult-content-box-container{
	.ult_tabs{
		margin-bottom: 0;
	}
}
.ult-box{
	position: relative;
	.banner-type5{
		width: 390px;
		float: $left;
		&.text-right{
			float: $right;
		}
	}
	&.ult-box-right{
		border-#{$right}: 1px solid #ebebeb;
		border-#{$left}: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		.ult_tabs{
		  	clear: $right;
		  	float: $right;
		  	width: calc(100% - 390px);
			.ult_tab_min_contain {
				.ult_tabitemname {
				  	padding-#{$left}: 3px;
				}
			}
		}
	}
	&.ult-box-left{
		border-#{$left}: 1px solid #ebebeb;
		border-#{$right}: 1px solid #ebebeb;
		border-bottom: 1px solid #ebebeb;
		.ult_tabs{
		  	clear: $left;
			float: $left;
			width: calc(100% - 390px);
			.ult_tab_min_contain {
				.ult_tabitemname {
				  	padding-#{$right}: 3px;
				}
			}
		}
	}
}
.ult-box-left{
	.see-more {
		#{$right}: 440px;
	}
}
.see-more {
  	position: absolute;
  	#{$right}: 50px;
  	top: 28px;
  	a {
	  	font-size: 16px;
	  	font-weight: 600;
	  	color: $primary_color;
	  	span{
	  		margin-#{$left}: 5px;
	  	}
	  	&:hover{
	  		color: #282828;
	  	}
	}
}

.container-fluid {
	.row.grid_style_4{
		margin: side-values(0);
	}
}
.form-home-10{
	.wpcf7-form-control.wpcf7-textarea, 
	.wpcf7-form-control.wpcf7-text{
		background: none;
		color: #fff;
		font-size: 15px;
	}
	.submit {
		margin-bottom: 0;
		padding-top: 10px;
		input.wpcf7-form-control{
		  	width: 165px;
		  	background: #fff;
		  	text-transform: none;
		  	color: $primary_color;
		  	font-size: 15px;
		  	font-weight: 500;
		  	padding: side-values(14px);
		  	border-radius: corner-values(30px);
		  	&:hover{
		  		background: $primary_color;
		  		color: #fff; 
		  	}
		}
	}
}
.btn-slick-circle{
	&.ult-carousel-wrapper {
	  padding-bottom: 0;
	  padding-#{$left}: 40px;
	  padding-#{$right}: 40px;
	}
	.slick-arrow{
		width: 50px !important;
		height: 50px !important;
		margin-top: -25px !important;
		border: 1px solid #cdcdcd;
		color: #cdcdcd !important;
		&:hover{
			border-color: $primary_color;
		}
		&.slick-prev{
			#{$left}: 0 !important;
			i:before{
				content: "\e686";
				font-size: 50px;
				font-family: Pe-icon-7-stroke !important;
			}
		}
		&.slick-next{
			#{$right}: 0 !important;
			i:before{
				content: "\e684";
				font-size: 50px;
				font-family: Pe-icon-7-stroke !important;
			}
		}
	}
}
// Our Team
.nav-page{
	width: 100%;
	float: $left;
	padding-top: 54px;
	padding-bottom: 46px;
	position: relative;
	&.nav-right{
		padding-#{$right}: 35px;
		.link-text {
		  float: $right;
		  text-align: $right;
		}
		.link-icon{
			float: $left;
		}
	}
	&.nav-left{
		padding-#{$left}: 35px;
		&:before{
			content: "";
			position: absolute;
			height: 100%;
			width: 1px;
			#{$left}: -15px;
			top: 0;
			background: #f5f5f5;
		}
		.link-icon{
			float: $right;
		}
		.link-text {
		  float: $left;
		}
	}
	.link-text{
		font-size: 18px;
		color: #282828;
		span {
		  display: block;
		  padding-bottom: 2px;
		  text-transform: uppercase;
		}
		strong{
			font-size: 30px;
			font-family: Asap;
		}
		&:hover{
			color: $primary_color;
		}
	}
	.link-icon {
	  	color: #e1e1e1;
	  	font-size: 30px;
	  	padding-top: 6px;
	  	&:hover{
	  		color: $primary_color;
	  	}
	}
}

// Our Story
.est {
  font-weight: 500;
  text-align: center;
  font-size: 20px;
}
.line-height{
	.arrowpress-heading{
		h2{
			line-height: normal;
		}
	}
}
.text-story p {
  margin-bottom: 24px;
}

// Home 11
.wpb-js-composer {
	.vc_tta-container{
		.vc_tta.vc_tta-accordion {
			&.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body, 
			&.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::after, 
			&.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-body::before {
			  	border-color: $primary_color;
			}
			.vc_tta-panel-body {
			  	background-color: #fff;
			  	padding: side-values(26px 20px 10px);
			  	.wpb_content_element {
			  		margin-bottom: 11px;
			  	}
			  	p{
			  		font-size: 15px;
			  		line-height: 26px;
			  	}
			  	.read-more > a {
				  	font-weight: 500;
				  	color: $primary_color;
				  	i{
				  		margin-#{$left}: 9px;
				  	}
				}
			}
			.vc_tta-controls-icon-position-left.vc_tta-panel-title {
				> a {
				  	padding: side-values(17px 20px 16px);
				  	color: #282828;
				  	font-size: 15px;
				  	font-weight: 600;
				}
			}
			.vc_tta-panel{
				margin-bottom: 10px;
				&.vc_active, &:hover {
					.vc_tta-panel-heading {
					  	background-color: $primary_color;
					  	border-color: $primary_color;
					  	border-radius: corner-values(0);
					  	.vc_tta-panel-title {
					  		> a {
							  	color: #fff;
							}
							.vc_tta-controls-icon {
							  	background: #fff;
							  	&:before{
							  		border-color: $primary_color;
							  	}
							  	&:after{
							  		border-color: $primary_color;
							  	}
							}
					  	}
					}
				}
				.vc_tta-panel-heading {
					border-radius: corner-values(0) !important;
				}
			}
			.vc_tta-panel-title .vc_tta-controls-icon {
			  	background: $primary_color;
			  	border-radius: side-values(50%);
			  	height: 14px;
			  	#{$left}: auto;
			  	#{$right}: 19px;
			  	width: 14px;
			  	&:before{
			  		border-color: #fff;
			  		#{$left}: 50%;
			  		width: 8px;
			  		@include transform(translate($translateX, -50%));
			  	}
			  	&:after{
			  		border-color: #fff;
			  		#{$left}: 50%;
			  		height: 8px;
			  		top: 50%;
			  		@include transform(translate($translateX, -50%));
			  	}
			}
		}
		.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-heading {
		  	background-color: #fff;
		  	border-color: #ebebeb;
		}
	}
}
.brand-clients{
	.wpb_single_image {
	  	border: 1px solid #ebebeb;
	  	text-align: center;
	  	padding: side-values(36px 0);
	}
	.slick-slider {
	  	margin: side-values(0);
	}
	&.ult-carousel-wrapper {
	  	margin-bottom: 0;
	  	padding-bottom: 30px;
	}
}
.tes-3{
	.slick-slider {
		margin-top: 0;
	}
	&.button-slide-tes .slick-dots {
		padding-top: 26px;
		li {
		  	background: #e1e1e1;
		}
	}
}
/*.product-image {
  background-image: url("../images/loader_black.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30px auto;
}*/

@media (max-width:1570px){
	.bg-choose-h3{
		.upb_row_bg {
			background-size: 100% !important;
    		background-position: $left 90px !important;
		}
	}
	.tes_title .tt-big{
		padding: side-values(0);
	}
	.ult_tabs .ult_tabmenu.style1 li.ult_tab_li {
	  	padding-#{$right}: 28px;
	  	padding-#{$left}: 28px;
	}
}
@media (min-width: 1367px){ 
	.slide-member{
		.slick-next {
		  #{$right}: -69px;
		}
		.slick-prev {
		  #{$left}: -69px; 
		}
	}
	.box-contact-h5{
		.wpcf7-form{
			width: 79%;
		}
	}
}
@media (max-width: 1366px){ 
	.bg-choose-h3 .upb_row_bg {
	    background-size: 108% !important;
	    background-position: $left 120px !important;
	}
	.slide-member{
		.slick-next {
		  #{$right}: -15px !important;
		}
		.slick-prev {
		  #{$left}: -15px !important;
		}
	}
	.abs-tt-ins {
	    padding:side-values(35px 70px);
	}
	.vc_row.margin-0 {
	  margin: side-values(0);
	}
	.ult_tabs .ult_tab_min_contain .ult_tabitemname {
	  	padding: side-values(30px);
	}
	.container-fluid .row.grid_style_4 {
	    margin: side-values(0 -15px);
	}
}
@media (max-width: 1565px){
	.ult_tabs {
		.woocommerce.columns-5 div.product-grid div.product {
		  width: 25%;
		}
	}
}
@media (min-width: 1200px){
	.wpb_column.height-524{
		padding-#{$left}: 100px;
	}
}
@media (min-width: 1200px) and (max-width: 1365px){ 
	.slick-arrow{
		&.slick-next {
		  #{$right}: 0 !important;
		}
		&.slick-prev {
		  #{$left}: 0 !important;
		}
	}
	.max-width {
	    max-width: 90%;
	}
	.ult_tabs {
		.woocommerce.columns-5 div.product-grid div.product {
		  	width: 33.33333%;
		}
		.ult_tabmenu.style1 li.ult_tab_li {
		  	padding: side-values(28px 25px);
		}
	}
	.banner-type6.text-left .banner-title {
	  	#{$left}: 0;
	}
}
@media (min-width: 1366px){ 
	.woocommerce-page.woocommerce-cart .wrapper {
	    padding-bottom: 57px;
	}
	.slick-default{
  		> button.btn-prev.slick-arrow {
  			#{$right}: -65px;
  		}
  		> button.btn-next.slick-arrow {
  			#{$left}: -65px;
  		}
  	}
}
@media (max-width: 1365px){ 
	.see-more {
	  	bottom: 25px;
	  	#{$left}: 30px;
	  	#{$right}: auto;
	  	top: auto;
	}
	.ult-box-left .see-more {
	  	#{$left}: auto;
	  	#{$right}: 30px;
	}
}
@media (max-width: 1199px){ 
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .product_type_simple .pe-7s-cart, 
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .add_to_cart_button .pe-7s-cart{
		line-height: 36px;
	}
	.layout_style_2.layout_style_3 .slick-slider .item .product-content{
		padding:side-values(30px);
	}
	.layout_style_2.layout_style_3 .product_style_2 .product-desc {
	    width: 100%;
	    padding-#{$left}: 0;
	}
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list,
	.layout_style_2.layout_style_3 .product_style_2 .product-image{
		width: 100%;
		float: none;
	}
	.layout_style_2.layout_style_3 .product_style_2 .product-image{
		margin-bottom: 30px;
	}
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .action_item{
		height: auto;
	}
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .product_type_simple, 
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .add_to_cart_button,
	.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .action_item a{
	    width: 36px;
	    height: 36px;
	    line-height: 36px;
	    border-radius: 50% !important;
	    border: 1px solid #ebebeb !important ;
	    &:hover{
	    	border-color:$primary_color !important;
	    }
	}
	.form-home-1 .inner-input.inner-full .wpcf7-form-control-wrap{
	  	padding-#{$right}:15px;
	}
	.wpcf7-form-control.wpcf7-date{
		min-width: 100% !important;
		padding:side-values(10px 22px) !important;
		line-height: 50px !important;
	}
	.product-categories-shortcode .prd_cat_count .figcaption .cat_link {
	    margin: side-values(24px 0 0);
	}
	.abs-left-2 .icon_box_content, .abs-right-2 .icon_box_content,
	.abs-left-1 .icon_box_content, .abs-right-1 .icon_box_content {
	    margin-bottom: 60px;
	}
	.recipe-gallery .recipe_body {
	    padding:side-values(35px 30px 0);
	     .recipe_desc{
	     	padding-top:20px;
     	    max-height: 267px;
		    overflow: hidden;
		    margin-bottom: 10px;
	     }
	    h2{
	    	max-height:38px;
	    }
	}
	.slide-sale.align-right .vc_single_image-wrapper {
	    margin-#{$right}: 0;
	}
	.bg-choose-h3 .upb_row_bg {
	    background:none !important;
	}
	.farm_info_list {
	  padding-#{$left}: 15px;
	  padding-#{$right}: 15px;
	}
	.max-width {
		max-width: 100%;
	}
	.form-home-1 {
	  max-width: 100%;
	  margin: side-values(0 -15px);
	}
	.banner-type1 {
		.banner-title {
			h2 {
	    		font-size: 36px;
	    	}
	    	h3{
	    		font-size: 20px;
	    	}
	    }
	    &.text-left .banner-mid {
		    padding-#{$left}: 30px;
		}
	}
	.banner-type6.text-left .banner-title,
	.align-right .banner-type6.text-right .banner-title {
	  	#{$left}: 0;
	}
	.align-right .banner-type6.text-right .banner-btn {
	  	bottom: 24px;
	}
	.banner-9 {
	  	padding-#{$left}: 0;
	}
	.member-info {
	  	width: 100%;
	}
	.item-member-content:hover .member-info .member-job {
	  	margin: side-values(0 15px);
	}
	.wpb_single_image.img-absolute-center {
	  bottom: -130px;
	}
}
@media (min-width: 992px) and (max-width: 1199px){ 
	
	.our-gallery-sc.filter-container .gallery_header {
	  padding-#{$right}: 15px;
	  width: auto;
	}
	.banner-type2{
		height: 400px !important;
		.banner-title h2 {
		  font-size: 26px;
		  line-height: 30px;
		}
	}
	.instagram-type1 .instagram-content.image_size2 {
	  width: 25%;
	}
	.slide-sale {
		.vc_single_image-wrapper {
		  margin-#{$left}: 0;
		}
		.lable-sale {
		  #{$left}: 0;
		}
	}
	.product_type_2 .product-entries-wrap .item {
	  width: 33.3333%;
	}
	.icon_box_content.text-left {
		.icon_box {
			margin-#{$right}: 15px;
		}
		h3 {
		  font-size: 18px;
		  line-height: normal;
		}
		p {
		  font-size: 14px;
		}
	}
	.ver-dot-right .lable-sale {
	  #{$left}: 30px;
	  top: 0;
	}
	.ult_tabs {
		.woocommerce.columns-5 div.product-grid div.product {
		  width: 50%;
		}
	}
	.ult-box .banner-type5 {
		height: 400px !important;
	    width: 100%;
	    margin-bottom: 30px;
	}
	.ult-box.ult-box-right .ult_tabs,
	.ult-box.ult-box-left .ult_tabs {
	  	width: 100%;
	}
	.ult_tabs .woocommerce.columns-5 div.product-grid div.product {
	    width: 33.3333%;
	}
	.ult-box.ult-box-right .ult_tabs .ult_tab_min_contain .ult_tabitemname, 
	.ult-box.ult-box-left .ult_tabs .ult_tab_min_contain .ult_tabitemname {
	    padding-left: 0;
	    padding-right: 0;
	}
	.ult_tabs .ult_tabmenu.style1 li.ult_tab_li {
	  padding: side-values(28px 20px);
	  span{
	  	font-size: 18px !important;
	  }
	}
	.type_2.text-center .icon_box_title h3 {
	  font-size: 16px;
	}
	.icon_box-container .icon_box_content.type_3 {
	  	padding: side-values(30px 15px);
	}
}
@media (min-width: 992px){ 
	.no-margin{
		margin: side-values(0);
	}
	.no-padding {
	  	padding: side-values(0);
	  	> .vc_row {
		  	margin: side-values(0);
		  	> .vc_column_container > .vc_column-inner{
			    padding: side-values(0);
			}
	  	}
	  	> .vc_column-inner {
		  	padding: side-values(0) !important;
		}
	}
	.margin-15{
		margin: side-values(0 15px);
	} 
	.filter-container .gallery_header {
	  	margin: side-values(0 auto);
	  	width: 1140px;
	  	.gallery_filter {
		  margin: side-values(0 -34px);
		  text-align: $right;
		}
		.button-group {
		  padding-bottom: 93px;
		  padding-top: 35px;
		}
	}
	.height-524{
		height: 524px;
	}
}
@media (max-width: 991px){ 
	.wpcf7-form {
	    width: 100%;
	    padding: side-values(0 30px);
	}
	.box-tes-h5{
		.ult-content-box{
			min-height: 100% !important;
		}
	}
	.icon_box_content.icon_style3.text-right{
		text-align: $left;
		.icon_box {
			float: $left;
			margin-#{$left}:0;
			margin-#{$right}:23px;
		}
	}
	.abs-left-2 .icon_box_content, 
	.abs-right-2 .icon_box_content, 
	.abs-left-1 .icon_box_content, 
	.abs-right-1 .icon_box_content {
	    margin-bottom: 40px;
	}
	.img-service-circle{
		position:static;
		width: 100%;
		transform:none;
		-ms-transform:none;
		-moz-transform:none;
		-webkit-transform:none;
		-o-transform:none;
		border: none;
		img{
			border:1px solid #ececec;
			border-radius: corner-values(50%);
		}
	}
	.abs-left-2,
	.abs-left-1{
		margin-#{$right}:0;
	}
	.abs-right-2,
	.abs-right-1{
		margin-#{$left}:0;
	}
	.recipe-gallery .recipe_body h2{
		max-height:100%;
	}
	.row.no-margin {
	  margin: side-values(0);
	}
	.slick-counter-slide {
		.slick-arrow{
			#{$right}: 45px;
			bottom: 15px;
			&.btn-prev {
			  #{$right}: 15px;
			}
		}
	}
	.slider-wrap-container .pagingInfo {
	  bottom: 45px;
	  #{$right}: 30px; 
	}
	.title-abs-insta {
	  background: #fff none repeat scroll 0 0;
	  #{$left}: 50%;
	  position: absolute;
	  top: 50%;
	  @include transform(translate($translateX, -50%));
	  width: 570px;
	  z-index: 99;
	  -webkit-box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.31);
	  -moz-box-shadow:    0px 0px 29px 0px rgba(0, 0, 0, 0.31);
	  box-shadow:         0px 0px 29px 0px rgba(0, 0, 0, 0.31);
	}
	.product-filter-isotope .nav-tabs li a {
	  font-size: 14px;
	  padding: side-values(10px 14px);
	}
	.layout_style_2 {
	  	max-width: 100%;
	  	.product_style_2 .product-desc {
		  padding-#{$left}: 0;
		}
	}
	.instagram-type1 .instagram-content,
	.instagram-type1 .instagram-content.image_size2 {
	  width: 33.33333%;
	}
	.box_about .ult-easy-separator-wrapper {
	  display: none;
	}
	.max-width{
		max-width: 100%;
	}
	.product_type_2 .product-entries-wrap .item {
	  width: 33.33333%
	}
	.custom-choose .img-abs-center {
	  display: none;
	}
	.height-524.wpb_column {
	  padding-#{$left}: 0;
	  padding-#{$right}: 0;
	}

	.ult-box .banner-type5 {
	  height: 400px !important;
	  width: 100%;
	  margin-bottom: 30px;
	}
	.ult-box.ult-box-right,
	.ult-box.ult-box-left  {
		border: medium none;
		.ult_tabs {
		  	width: 100%;
		  	.ult_tab_min_contain .ult_tabitemname {
			  	padding-#{$left}: 0;
			  	padding-#{$right}: 0;
			}
		}
	}
	
	.ult_tabs .woocommerce.columns-5 div.product-grid div.product {
	  width: 33.3333%;
	}
	.ult_tabs {
		.ult_tabmenu.style1 li.ult_tab_li {
		  	padding: side-values(28px 14px);
		}
	}
	.height-518 {
	  	height: 100%;
	}
	.form-home-10 .submit {
	  	padding-bottom: 30px;
	}
	.banner-type4 {
	  	margin-top: 0;
	  	.banner-mid {
	  		margin-top: 0;
	  	}
	  	&:hover {
	  		.banner-mid {
			  margin-top: 0;
			  padding-bottom: 79px;
			  padding-top: 79px;
			}
		}
	}
	.active .banner-type4 {
  		.banner-mid {
		  padding-bottom: 79px;
		  padding-top: 79px;
		}
	}
	.banner-type6 .banner-title h2 {
	  font-size: 30px;
	}
	.banner-9 {
		h3 {
		  font-size: 30px;
		}
		h2 {
		  font-size: 42px;
		}
	}
	.see-more {
	  	position: static;
	}
	.box-pro-h8 .layout_style_2.image_left_pos .product_style_2 {
		.product-content {
		  padding: side-values(0 50px 50px);
		}
		.product-image {
		  	float: none;
		  	padding-#{$right}: 0;
		  	margin-bottom: 0;
		  	width: 100%;
		}
		.product-desc {
		  padding-#{$left}: 0;
		  width: 100%;
		  padding-top: 0;
		}
	}
}
@media (min-width: 601px) and (max-width: 767px){
	.product-content .product-action {
	  	padding: side-values(13px 10px 12px);
	  	.product_type_simple, 
	  	.add_to_cart_button {
		 	font-size: 14px;
		  	margin-#{$right}: 0;
		  	padding: side-values(0);
		  	width: 135px;
		}
		.add_to_cart_button,
		.product_type_simple,
		.action_item {
		  	padding: side-values(0 5px);
		  	vertical-align: middle;
		  	height: 50px;
		}
		&.product-action-grid{
			.product_type_simple, 
		  	.add_to_cart_button {
			  	width: 36px;
			}
			.add_to_cart_button,
			.product_type_simple,
			.action_item {
			  	height: 36px;
			}
		}
	}
	.cross-sells .product-content .product-action .product_type_simple, 
	.cross-sells .product-content .product-action .add_to_cart_button {
	    height: 36px;
	    width: 36px;
	}
}
@media (max-width: 767px){ 
	.brand-content .slick-list {
	    margin: side-values(0 65px);
	}
	.hermes.tp-bullets {
	    display: none !important;
	}
	.rev-btn, .rev-btn:visited{
		font-size: 12px !important;
		padding: side-values(8px 20px) !important;
	}
	.woocommerce .cross-sells div.product-grid div.product{
		float: $left;
	}
	.box-banner-h4 {
	    padding: side-values(0) !important;
	}
	.box-icon-right .icon_box-container:last-child .icon_box_content,
	.box-icon-left .icon_box-container:last-child .icon_box_content,
	.icon_box_content {
	    margin-bottom: 30px;
	}
	.box-banner-h4 > .wpb_column.vc_column_container {
	    padding: side-values(0s) !important;
	}
	.slide-sale.align-right .slick-slider .slick-dots {
	    bottom: -50px;
	}
	.instagram-type1 .instagram-content,
	.instagram-type1 .instagram-content.image_size2,
	.product_type_2 .product-entries-wrap .item {
	  width: 50%;
	}
	.slide-sale .vc_single_image-wrapper {
	  	margin-#{$left}: 0;
	}
	.lable-sale {
	  	#{$left}: 0;
	}
	.product-filter-isotope .nav-tabs{
		margin: side-values(0 -5px);
		padding-bottom: 50px;
		li {
		  	padding: side-values(10px 5px);
		  	width: 33.3333%;
		  	float: $left;
		  	a{
		  		padding: side-values(10px 7px);
		  	}
		}
	} 
	.product-content .product-action {
	  overflow: visible;
	}
	.product_slide{
		.slick-arrow.btn-next {
		  #{$left}: 0;
		}
		.slick-arrow.btn-prev {
		  #{$right}: 0;
		}
	}
	.banner-type2 .banner-title h2 {
	  margin-top: 10px;
	}
	.abs-tt-ins {
	    position: static;
	    padding: side-values(0 0 30px 0);
	    transform: none;
	}
	.custom-banner1 .banner-type1.text-left .banner-mid {
	  	padding-#{$left}: 30px;
	}
	.member-img {
	  	text-align: center;
	}
	.nav-page {
	  	padding-bottom: 0;
	  	&.nav-right {
		  	padding-#{$right}: 0;
		}
		&.nav-left {
		  	padding-#{$left}: 0;
		  	&:before{
		  		content: none;
		  	}
		}
	}
	.box-pro-h8 .layout_style_2.image_left_pos .product_style_2 .product-content {
	  padding: side-values(15px);
	}
}

@media (max-width: 600px){
	.wpcf7-form{
		padding: side-values(0 15px);
	}
	.form-home-7 .inner-input{
		width: 100%;
	}
	.item_testimonial2{
		width: 100%;
	}

	.instagram-type3 .instagram-content, 
	.instagram-type3 .instagram-content.image_size2, 
	.instagram-type3 .instagram-content.image_size3, 
	.instagram-type3 .instagram-content.image_size5 {
	    width: 100%;
	}
	.isotope.col-2.gallery-masonry_2 .item{
	  	width: 100%;
	}
	.instagram-type1 .instagram-content,
	.instagram-type1 .instagram-content.image_size2,
	.product_type_2 .product-entries-wrap .item {
	  width: 100%;
	}
	.product-filter-isotope .nav-tabs{
		li {
		  width: 50%;
		}
	} 
	.banner-type2 .banner-title h2 {
	  margin-top: 10px;
	}
	.slider-for .item_testimonial.text-center {
	  padding: side-values(0);
	  width: 100%;
	}
	.slick-default.slider-for .btn-slick.slick-arrow {
	  top: -30px;
	}
	.layout_style_2.layout_style_5 .product-content .product-action-list {
	  padding: side-values(15px);
	}
}
@media (max-width:1440px){
	.box-left,
	.box-right{
		.wpb_single_image img {
		    max-width: 84%;
		}
	}
	.box-left .wpb_text_column {
		padding: side-values( 52px 40px 51px 30px);
	}
	.box-right .wpb_text_column {
		padding: side-values( 52px 30px 51px 40px);
	}
	.text-content-banner{
		&:before {
		    width: calc(100% - 40px);
		   #{$left}: 40px;
		}
		&:after{
			#{$left}:40px;
		}
		&.text-right:before {
		    #{$left}: auto;
		    #{$right}: 40px;
		}
		&.text-right:after {
		   #{$right}: 40px;
		}
	}
	.form-home-1 {
	    max-width: 100%;
	    margin: side-values(0);
	}
}
@media (max-width:1199px){
	
	.form-home-1 .wpcf7-form-control.wpcf7-select{
		padding-#{$right}:50px;
		white-space: nowrap;
	    text-overflow: ellipsis;
	    position: relative;
	}
	.wpcf7-form .form-home-1 {
	    max-width: 100%;
	    margin: side-values(0);
	}
	.text-content-banner {
		h6{
			font-size:26px;
		}
		h4 {
   		 font-size: 36px;
   		}
   	}
   	.layout_style_2.layout_style_3 {
   		max-width:90%;
   		margin: side-values(0 auto);
   		.slick-slider {
	   		margin:side-values(0 -15px);
	   		.item{
		   		padding-#{$left}:15px;
		   		padding-#{$right}:15px;
		   	}
		}
		.slick-arrow.btn-next {
		    #{$left}: -25px;
		}
		.slick-arrow.btn-prev {
		    #{$right}: -25px;
		}
   	}
   	.item-desc > br {
	  display: none;
	}
	.align-right .banner-type6.text-right {
		.banner-img {
		  	padding-#{$right}: 0;
		}
		.banner-btn {
		  	bottom: 24px !important;
		}
	}
	.align-left .banner-type6 .banner-btn {
	  	#{$left}: 35px;
	}
	.banner-type6{
		&.text-right {
			.banner-title {
			  	#{$left}: 0;
			}
			.banner-btn {
			  	#{$left}: 35px;
			}
		}
	}
}
@media (min-width:992px){
	.footer-v2 .footer-mailchimp {
	  margin: side-values(0 auto);
	  max-width: 840px;
	}
}
@media (min-width:768px) and (max-width:992px){
	.vc_col-sm-3:nth-child(2) .type_2::before, 
	.vc_col-sm-4:nth-child(2) .type_2::before, 
	.vc_col-md-3:nth-child(2) .type_2::before, 
	.vc_col-md-4:nth-child(2) .type_2::before {
	  content: none;
	}
	.col-no-padding .no-padding.vc_col-sm-4 .vc_column-inner {
	  	padding: side-values(0);
	}
}
@media (max-width:991px){
	.recipe-gallery .recipe-image {
	    padding-#{$right}: 0;
	    height: 400px;
	    width: 100%;
	    overflow: hidden;
	}
	.recipe-gallery .recipe_body{
		padding-bottom: 35px;
		width: 100%;
		.recipe_desc {
		    max-height: 100%;
		    margin-bottom: 0;
		}
	}
	.instagram-type4 .instagram-content {
	    width: 50%;
	    &.image_size1{
	    	width: 50%;
	    }
	}
	.box-icon-right{
		.icon_box_content.text-right{
			text-align: $left;
			.icon_box{
				float: $left;
				margin-#{$left}:0;
				margin-#{$right}:25px;
			}
		}
	}
	.box-right,
	.box-left{
		.ult-content-box{
			margin:side-values(0 15px) !important;
		}
	}
	.img-bgs-service {
    	position: static;
    	-ms-transform: none;
    	-moz-transform: none;
    	-webkit-transform: none;
    	-o-transform: none;
    	transform: none;
    	margin-top:40px;
    }
    .service-content .service-box.text-left {
	    margin-#{$right}: 0;
	}
	.service-content .service-box.text-right {
	    margin-#{$left}: 0;
	}
	.vc_col-xs-6 {
		.max-width {
			max-width: 100%;
		}
	}
	.member-type2 {
		text-align: center;
		.item-member-content:hover {
			.member-info {
			  	margin-top: 0;
			  	.member-name h4,
			  	.member-job p {
				  	color: #282828;
				}
			}
		}
		.member-info {
		  	margin-top: 0;
		  	height: 100%;
		  	.member_social {
		  		margin-bottom: 0;
		  		&:before{
		  			content: none;
		  		}
		  		ul li a {
				  	color: #282828;
				  	&:hover{
				  		color: $primary_color;
				  	}
				}
			}
		}
	}
}
@media (max-width:767px){
	.vc_row.no-margin {
	  margin: side-values(0 -15px);
	}
	.recipe-gallery{
		&.arrows-custom .slick-arrow{
			&.btn-prev {
			    #{$left}: auto;
			    #{$right}: 110px;
			    top: auto;
			    bottom: 24px;
			}
			&.btn-next {
			    #{$right}: 50px;
			    #{$left}: auto;
			    top: auto;
			    bottom: 24px;
			}
		}
		.recipe_body{
			padding-bottom:70px;
		}
	}
	.layout_style_2{
		margin-bottom:60px !important;
	}
	.img-abs-center{
		display: none;
	}
	.service-content .service-box.text-right{
		text-align: $left;
	}
	.ult-carousel-wrapper.slide-sale{
		padding-bottom:0;
		margin-bottom: 0;
	}
	.vc_col-sm-3 .type_2::before, 
	.vc_col-sm-4 .type_2::before,
	.vc_col-md-3 .type_2::before, 
	.vc_col-md-4 .type_2::before {
	  	content: none;
	}
	.ver-dot-right .lable-sale {
	  #{$left}: 0;
	  top: 0;
	}
	.banner-type2 .banner-title h2 {
	  font-size: 32px;
	}
	.vc_col-sm-4:last-child .icon_box-container:last-child .icon_box_content.icon_style4{
	  margin-bottom: 0;
	}
	.ult_tabs {
		.woocommerce.columns-5 div.product-grid div.product {
		 	width: 50%;
		}
		.ult_tabmenu.style1 li.ult_tab_li {
		  	span{
		  		font-size: 16px !important;
		  	}
		}
	}
	.banner-type6 {
	  	text-align: $left;
	}
	.wpb_single_image.img-absolute-center {
	   	bottom: -130px;	
	}
	.height-518 {
		.wpcf7-form {
		  	padding: side-values(0);
		}
		.wpcf7-response-output{
			margin-bottom: 30px !important;
		}
	}
	.member-type1 .member-info {
	  	padding: side-values(40px 0);
	}
}
@media (max-width:600px){
	.form-home-7 .wpcf7-form-control.btn-primary{
		width: auto;
	}
	.offer-container{
		.ult-content-box{
			min-height: 100% !important;
		}
		.wpb_text_column{
			padding: side-values(50px 25px 50px 30px);
		}
	}
	.instagram-type4 .instagram-content {
	    width: 100%;
	    &.image_size1 {
		    width: 100%;
		}
	}
	.wpcf7-form .form-home-1 .inner-input {
	    padding: side-values(0);
	    width: 100%;
	}
	.layout_style_2 .product_style_2 .product-content .product-action-list .action_item a {
	  font-size: 18px;
	}
	.ult_tabs .ult_tabmenu.style1 {
		padding-#{$left}: 0;
		li.ult_tab_li {
		  	float: none;
		  	padding: side-values(8px 14px);
		  	width: 100%;
		  	a{
		  		white-space: normal;
		  	}
		}
	}
}
@media (max-width:500px){
	.ult_tabs .woocommerce.columns-5 div.product-grid div.product {
	  width: 100%;
	}
	.banner-type5{
		&.text-center .banner-mid .banner-title h2 {
		  	font-size: 38px;
		}
		.banner-title h2 {
		  	font-size: 42px;
		  	margin-bottom: 25px;
		}
		&.text-right .banner-mid {
		  #{$right}: 30px;
		  bottom: 30px;
		}
		&.text-left .banner-mid {
		  #{$left}: 30px;
		  bottom: 30px;
		}
	}
	.btn-slick-circle.ult-carousel-wrapper {
	  	padding-#{$left}: 0;
	  	padding-#{$right}: 0;
	  	.slick-arrow.slick-prev {
		  #{$left}: 15px !important;
		}
		.slick-arrow.slick-next {
		  #{$right}: 15px !important;
		}
	}

}
@media (max-width:480px){
	.banner-type3 .banner-mid {
	    #{$left}: 30px;
	}
	.need-help .vc_icon_element {
	  float: none;
	}
	.recipe-gallery.arrows-custom .slick-arrow{
		&.btn-prev{
			#{$left}:25px;
			#{$right}:auto;
			bottom:0;
		}
		&.btn-next{
			bottom:0;
			#{$right}:25px;
		}
	}
	.recipe-gallery {
		.recipe-image{
			height: 100%;
		}
		.recipe-content{
			border:none;
			padding:side-values(0);
		}
	}
	.slide-sale.align-right .lable-sale {
	    #{$right}: 0;
	}
	.icon_box_content.icon_style2 {
	    margin-bottom: 20px;
	}
	.arrowpress-heading.heading-5 .small-title p{
		&:before {
		    #{$left}: -35px;
		}
		&:after{
			#{$right}:-35px;
		}
	}
	.icon_box_content.icon_style2 .icon_box_title h3 {
	    line-height: 22px;
	}
	.icon_box_content.icon_style2.text-left .icon_box {
	    margin-#{$right}: 15px;
	}
	.lable-sale .text-sale{
	    height: 90px;
	    width: 140px;
	    line-height: 24px;
	}
	.slide-sale .slick-list {
	    padding-top: 65px;
	}
	.product-content .product-action-list .product_type_simple, 
	.product-content .product-action-list .add_to_cart_button, 
	.product-content .product-action-list .action_item {
	    padding: side-values(0 1px);
	}
	.text-content-banner h4 {
	    font-size: 30px;
	}
	.product-content .product-action-list .product_type_simple, 
	.product-content .product-action-list .add_to_cart_button{
		margin-#{$right}:2px;
	}
	.layout_style_2{
		margin-bottom:25px !important;
	}
	.arrowpress-heading {
		h3{
			font-size:36px !important; 
		}
		&.heading-5 .small-title p {
		    font-size: 16px;
		}
	}			
	.ult_countdown-row{
		.ult_countdown-section{
			height: 60px !important;
			margin-#{$right}: 5px !important;
			width: 60px !important;
			.ult_time-mid{
				height:58px !important;
				width: 58px !important;
			}
			.ult_countdown-amount{
				font-size: 30px !important;
				padding-top: 8px !important;
			}
			.ult_countdown-period{
			    margin-#{$left}: 7px !important;
			    margin-top: 121px !important;
			}
		}
	}
	.banner-type2 {
		.banner-img {
		  bottom: -40px;
		}
		.banner-title {
			h2 {
			  font-size: 26px;
			}
		}
	}
	.slide-sale {
		.slick-slider .slick-dots {
		  #{$left}: 0;
		}
		.vc_single_image-wrapper::before {
		  background-size: 5px 100%;
		  border-bottom-width: 5px;
		  border-top-width: 5px;
		  bottom: 10px;
		  #{$left}: 20px;
		  #{$right}: 0;
		  top: -20px;
		}
	}
	.icon_box_content.text-left .icon_box {
		margin-#{$right}: 15px;
	}
	.height-524 .type_2.icon_box_content .icon_box_title h3 {
	  font-size: 20px;
	  padding-bottom: 5px;
	}
	.banner-type6 {
		.banner-title {
			h2 {
			  	font-size: 24px;
			}
			h3 {
			  	font-size: 18px;
			}
		}
		.banner-btn {
		  	#{$left}: 15px;
		}
	}
	.align-left .banner-type6 .banner-btn,
	.banner-type6.text-right .banner-btn {
	  #{$left}: 15px;
	}
	.banner-9 {
		h2 {
		  font-size: 32px;
		}
		h3 {
		  font-size: 24px;
		}
	}
	.heading-5 h2 {
	  	font-size: 30px !important;
	}
}
@media (max-width: 375px){
	.custom-heading ~ .aio-icon-component .left-icon .aio-icon-left .aio-icon-img {
	  font-size: 70px;
	  margin-#{$right}: 10px;
	}
}

@media (max-width:767px){
    .layout_style_2.image_left_pos .product_style_2 .product-image {
        width: 100%;
        text-align: $left;
        padding-right: 0;
    }
    .layout_style_2 .product_style_2 .product-content {
        padding: side-values(30px 15px);
    }
    .title_box_banner_top{
        font-size: 24px !important;
        margin-bottom: 15px;
    }
    .title_box_banner{
        font-size: 36px !important;
    }
    a.ubtn-link {
      padding-#{$left}: 0;
    }
    .ultbox_tabs_style2 .ult_tabs .ult_tabmenu.style1 li.ult_tab_li {
	  	padding: side-values(28px 15px);
	}
}