/*===================================
	3.9 Knowledge
===================================*/
.knowledge-content{
	position: relative;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	.blog-info .blog-date {
	    top: 10px;
	    #{$left}: 11px;
	    position: absolute;
	}
}
.knowledge-post-info {
  padding: side-values(24px 12px 18px); 
}
.knowledge-name > a {
  font-size: 20px;
  font-weight: 600;
}
.knowledge_post_desc p {
    margin-bottom: 0;
    padding-top: 8px;
    line-height: 22px;
}
.knowledge-list{
	.knowledge-content,
	.knowledge-item{
		width: 100%;
		float: $left;
	}
	.knowledge-img{
	  float: $left;
	  width: 40%;
	}
	.knowledge-post-info {
	  float: $left;
	  width: 60%;
	}
	.knowledge-post-info .blog-info {
	  padding-top: 20px;
	}
	.knowledge-post-info {
	  padding-#{$left}: 30px;
	}
}
.knowledge-load {
	margin-bottom: 17px;
	margin-top: 9px;
	.btn{
	  height: 50px;
	  min-width: 165px;
	  padding: side-values(16px 15px 15px);
	}
}
@media (min-width: 600px) and (max-width: 767px){
	.knowledge-entries-wrap .col-xs-12{
		width: 50%;
	}
}
@media (max-width: 767px){
	.knowledge-list {
		.knowledge-post-info .blog-info {
		  padding-top: 10px;
		}
		.knowledge-post-info {
		  padding-top: 12px;
		  padding-bottom: 10px;
		}
	}
}
@media (max-width: 600px){
	.knowledge-list {
		.knowledge-img,
		.knowledge-post-info {
		  width: 100%;
		}
		.knowledge-post-info {
		  padding-top: 25px;
		}
	}
	.knowledge-img{
		img{
			width: 100%;
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px){
	.widget_recent_recipe .blog-img, 
	.widget_post_blog .blog-img, 
	.widget_recent_knowledge .blog-img {
	  width: 70px;
	}
}
@media (max-width: 991px){
	.knowledge-load {
	  	margin-bottom: 50px;
	}
}