
/*===================================
	3.7 Portfolio
===================================*/
.inline-block{
	display: inline-block;
}
.gallery_filter{
	text-align: center;
	&.text-right{
		text-align: $right;
	}
	&.text-left{
		text-align: $left;
	}
}
.tax-gallery_cat,
.post-type-archive-gallery{
	.gallery-container{
		margin-bottom: 67px;
	}
}
.button-group{
	padding-bottom: 50px;
	display: inline-block;
	color: #000;
	.inline-block{
		padding: side-values(0 8px);
		position: relative;
	}
	.btn-filter{
		text-transform: capitalize;
		background: none;
		color: inherit;
		font-size: 15px;
		color: #797979;
		padding:side-values(12px 41px);
		border-radius: 50px;
		border:1px solid #363636;
		position: relative;
		@include transitions( all 0.3s ease-in-out 0s);
		&.is-checked,
		&:hover{
			color: $primary_color;
			border-color:$primary_color;
		}
	}
}
.isotope.col-1 .item {
    width: 100%;
}
.isotope.col-2 .item, .gallery_col2 > .isotope-item{
	width: 50%; 
}
.isotope.col-4 .item, .gallery_col4 > .isotope-item{
	width: 25%; 
}
.isotope.col-3 .item, .gallery_col3 > .isotope-item {
    width: 33.33333%; 
}
.isotope.col-5 .item, .gallery_col5 > .isotope-item {
    width: 20%;    
}
.post-type-archive-gallery .wrapper{
	.container-fluid{
		padding: side-values(0 30px);
	}
}
.gallery_sort {
	margin: side-values(-15px) !important;
	.item{
		clear: $left;
		overflow: hidden;
		padding: side-values(15px);
	}
}
.archive {
	.gallery_sort.no-space {
		margin-top: 15px !important;
	}
}
.gallery_sort.no-space {
	margin: side-values(0) !important;
	margin-bottom: 15px !important;
	.item{
		padding: side-values(0);
	}
}
.admin-bar .fancybox-opened {
    margin-top: 32px !important;
}
.btn.btn-gallery{
	margin-top: 40px;
	padding:side-values(16px 44px 13px);
}
.gallery-container .load-more{
	position: relative;
	display: inline-block;
	#{$left}: 50%;
	@include transform(translateX($translateX));
	> i{
		position: absolute;
		bottom: 17px;
		#{$left}: 50%;
		margin-#{$left}: 100px;
	}
}
.gallery_paginations{
	margin-bottom: 20px;
	overflow: hidden;
	.arrow_left{
	 	float: $left;
	 	.btn.btn-icon i{
	 		margin-#{$left}:0;
	 		margin-#{$right}: 18px;
	 	}
	}
	.arrow_right{
		float: $right;
	}
}
.gallery-img{  
	position: relative;
	&:before{
		content: "";
		height: 100%;
		width: 100%;
		background:$primary_color;
		opacity: 0.7;
		visibility: hidden;
		position:absolute;
		#{$left}:0;
		top:0;
		@include transitions(all 0.5s ease-in-out 0s);
	}
	a{
		display: block;
		img{
			width: 100%;
		}
	}
	a.btn-fancybox i{
		height: 80px;
		width: 80px;
		position: absolute;
		line-height: 80px;
		text-align: center;
		border-radius: corner-values(50%);
		top: 50%;
		#{$left}:50%;
		color: #fff;
		font-size: 20px;
		background: rgba(0,0,0,0.5);
		opacity: 0;
		@include transform (translateX($translateX) translateY(-50%) scale(0));
		@include transitions(all 0.5s ease-in-out 0s);
	}
	a.btn-fancybox:hover i{
		color: $primary_color;
	}
}
.single-gallery{
	.vertical_list{
		padding-top: 25px;
		margin-top: 30px;
		border-top:1px solid #ebebeb;
		li{
			margin-bottom: 10px;
			span{
				min-width: 88px;
				text-transform: uppercase;
				font-weight: bold;
				margin-#{$right}:10px;
				display: inline-block;
			}
		}
		.port_share{
			a{
				height: 38px;
			    width: 38px;
			    text-align: center;
			    display: block;
			    line-height: 35px;
			    font-size: 16px;
			    color: #c5c5c5;
			    margin-#{$right}: 5px;
			    border: 2px solid #ececec;
			    display: inline-block;
			    &:hover{
			    	border-color:$primary_color;
			    	color: $primary_color;
			    }
			}
		}
	}	
}
.our-gallery-sc {
	.load-more .btn{
	  min-width: 221px;
	}
}

#fancybox-thumbs {
	position: fixed;
	#{$left}: 0;
	width: 100%;
	overflow: hidden;
	z-index: 8050;
}

#fancybox-thumbs.bottom {
	bottom: 2px;
}

#fancybox-thumbs.top {
	top: 2px;
}

#fancybox-thumbs ul {
	position: relative;
	list-style: none;
	margin: side-values(0);
	padding: side-values(0);
}

#fancybox-thumbs ul li {
	float: $left;
	padding: side-values(1px);
	opacity: 0.5;
}

#fancybox-thumbs ul li.active {
	opacity: 0.75;
	padding: side-values(0);
	border: 1px solid #fff;
}

#fancybox-thumbs ul li:hover {
	opacity: 1;
}

#fancybox-thumbs ul li a {
	display: block;
	position: relative;
	overflow: hidden;
	border: 1px solid #222;
	background: #111;
	outline: none;
}

#fancybox-thumbs ul li img {
	display: block;
	position: relative;
	border: none;
	padding: side-values(0);
	max-width: none;
}
.fancybox-skin{
	border-radius: corner-values(0);
	padding: side-values(0) !important;
}
body .fancybox-nav span::before {
    color: #000;
    content: "\f178";
    font-family: FontAwesome;
    font-size: 16px;
    #{$left}: 9px;
    position: absolute;
    top: 0;
}
body .fancybox-nav.fancybox-prev span::before {
    content: "\f177";
}
.fancybox-nav span{
	background: #fff;
	width: 36px;
	line-height: 34px;
	&:hover{
		background: $primary_color;
	}
}
.our-gallery-sc {
	.load-more{
		margin-top: 40px;
	}
	.gallery_sort.no-space{
		margin-bottom: 0 !important;
	}
}
.container-fluid{
	.gallery-container{
		padding:side-values(0 15px);
	}
}
.gallery-style2{
	.item{
		&:hover{
			.gallery-img:after {
			    border: none;
			    @include transitions( all 0.4s ease-in-out 0s);
			}
		}
		.gallery-img:after {
			@include transitions( all 0.4s ease-in-out 0s);
		    border: 8px solid #464646;
		    content: "";
		    height: 100%;
		    width: 100%;
		    position:absolute;
		    top:0;
		    #{$left}:0;
		}
	}
}
.gallery-style3{
	.gallery-img{
		&::before {
		  	opacity: 0.8;
		}
		img {
		  @include transform(none);
		}
	}
	.figcaption{
		position: relative;
		overflow: hidden;
		border: 8px solid #464646;
		&:hover{
			.gallery_content {
			  	top: 50%;
			  	opacity: 1;
			  	@include transform(translateY(-50%));
				background: none;
			}
			.gallery-image{
				.post-name{
					bottom: -100%;
				}
			}
		}
		.gallery_content {
		  	top: 0;
		  	z-index: 3;
		  	opacity: 0;
		  	overflow: hidden;
		  	position: absolute;
		  	padding: side-values(15px 40px);
		  	@include transitions( all 0.2s ease-in-out 0s);
		  	.post-name > a {
		  		padding-bottom: 14px;
		  		margin-bottom: 13px;
		  		&:before{
		  			position: absolute;
		  			content: "";
		  			width: 50px;
		  			height: 1px;
		  			border-bottom: 1px solid #fff;
		  			bottom: 0;
		  		}
		  	}
		}	
		.gallery-tag {
		  	color: #fff;
		  	font-size: 13px;
		  	i{
		  		margin-#{$right}: 5px;
		  	}
		  	a{
		  		color: #fff;
		  		font-style: italic;
		  	}
		}
		.post-name > a {
		  	color: #fff;
		  	letter-spacing: 0;
		  	display: block;
		  	position: relative;
		  	font-size: 20px;
			font-weight: 600;
		  	&:hover{
		  		color: #282828;
		  	}
		}
		p{
			color: #fff;
			line-height: 26px;
		}
		.read-more {
		  	padding-top: 14px;
		}
		.btn.btn-white {
		  	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		  	border: 1px solid #fff;
		  	color: #fff;
		  	height: 50px;
		  	line-height: 17px;
		  	min-width: 150px;
		  	&:hover{
		  		background: #fff;
		  		color: $primary_color;
		  	}
		}
	}
	.gallery-image{
		.post-name{
			position: absolute;
			bottom: 0;
			width: 100%;
			background: #2d2d2d none repeat scroll 0 0;
			@include transitions( all 0.2s ease-in-out 0s);
			a{
			  	padding: side-values(27px 16px);
			}
		}
	}
}
.gallery-slide{
	&.slick-slider {
		margin:side-values(0);
		.item{
			padding:0;
		}
		.slick-arrow {
		    background: rgba(255,255,255,0.5);
		    color: #fff;
		    font-size: 17px;
		    height: 30px;
		    line-height: 34px;
		    border: none;
		    width: 30px;
		    border-radius: 0;
		    margin-top:-15px;
		    &.btn-next{
		    	#{$left}:auto;
		    	#{$right}:50px;
		    }
		    &.btn-prev{
		    	#{$right}:auto;
		    	#{$left}:50px;
		    }
		    &:hover{
		    	 background: rgba(255,255,255,1);
		    }
		}
	}
	.item{
		.gallery-img{
			position:relative;
			&:before{
				content: "";
				height: 100%;
				width: 100%;
				background:rgba(0,0,0,0.7);
				opacity: 0;
				position:absolute;
				#{$left}:0;
				top:0;
				z-index: 1;
			}
		}
		.gallery_content{
			position:absolute;
			#{$left}:0;
			bottom:0;
			padding:side-values(50px 50px 44px);
			z-index: 9;
			@include  transform(translateY(0));
		}
		.entry-content,
		.gallery-tag,
		.gallery-tag a,
		.post-name a{
			color: #fff;
		}
		.entry-content{
			margin-bottom: 15px;
			p{
				line-height: 26px;
				font-size: 15px;
			}
		}
		.gallery-tag a{
			font-style: italic;
			font-weight: 300;
    		letter-spacing: -0.5px;
		}
		.post-name a{
			letter-spacing: 0.3px;
			font-size: 20px;
			font-weight:600;
			position:relative;
			margin-bottom: 11px;
    		padding-bottom: 16px;
			display: inline-block;
			line-height: 25px;
			&:before{
				content: "";
				height: 1px;
				width: 50px;
				background:#fff;
				position:absolute;
				bottom:0;
				#{$left}:0;
			}
		}
		.gallery-tag i{
			margin-#{$right}: 7px;
		}
		.read-more a.btn-icon{
			font-weight:500;
			color: $primary_color;
			span{
				margin-#{$left}:8px;
				margin-top:2px;
			}
		}
		.gallery-ct-desc{
			opacity: 0;
			display: none;
		}
		&:hover{
			.post-name a{
				color: $primary_color;
			}
			.gallery_content{
				@include transitions(all 0.5s ease);
			}
			.gallery-ct-desc{
				opacity: 1;
				display: block;
			}
			.gallery-img:before{
				opacity: 1;
				visibility: visible;
				@include transitions(all 0.5s ease);
			}
		}
	
	}
}
@media (max-width:1500px){
	.gallery-slide.slick-slider .slick-arrow{
		&.btn-prev{
			#{$left}:15px;
		}
		&.btn-next{
			#{$right}:15px;
		}
	}
}
@media (max-width: 1199px){
	.gallery-style3.gallery-entries-wrap.col-3 .item{
	  	width: 50%;
	}
}
@media (max-width:991px){
	.side-breadcrumb + .wrapper {
	    padding-top: 70px;
	}
	.tax-gallery_cat,
	.post-type-archive-gallery{
		.gallery-container{
			margin-bottom: 40px;
		}
	}
	.button-group {
		.btn-filter{
			padding:side-values(12px 24px);
		}
		.inline-block{
			padding:side-values(0 3px);
		}
	}
}
@media (min-width: 768px) and (max-width:991px){
	.gallery-style3 .figcaption {
		.gallery_content {
		  	padding: side-values(15px);
		}
		p {
		  max-height: 80px;
		  overflow: hidden;
		}
	}
}
@media (min-width: 768px){
	.gallery-img{
		overflow: hidden;
		img{
			-ms-transform:scale(1.1);
			-moz-transform:scale(1.1);
			-webkit-transform:scale(1.1);
			-o-transform:cale(1.1);
			transform:scale(1.1);
			@include transitions(all 0.5s ease-in-out 0s);
		}
	}
	.gallery_sort .item:hover{
		.gallery-img{
			&:before{
				visibility: visible;
				z-index: 1;
				@include transitions(all 0.5s ease-in-out 0s);
			}
			img{
				-ms-transform:scale(1);
				-moz-transform:scale(1);
				-webkit-transform:scale(1);
				-o-transform:scale(1);
				transform:scale(1);
			}
			a.btn-fancybox i{
				opacity: 1;
				z-index: 99;
				@include transform (translateX($translateX) translateY(-50%) scale(1));
				@include transitions(all 0.5s ease-in-out 0s);
			}
		}
	}
}
@media (max-width:767px){
	.tax-gallery_cat,
	.post-type-archive-gallery{
		.gallery-container{
			margin-bottom: 0;
		}
	}
	.button-group {
	    padding-bottom: 40px;
	    .inline-block{
	    	margin-bottom: 10px;
	    }
	}
	.gallery-style3.gallery-entries-wrap.col-3 .item {
	  width: 100%;
	}
	.gallery-style3 .figcaption {
		.gallery_content {
		  	background: #282828 none repeat scroll 0 0;
		  	opacity: 1;
		  	padding: side-values(25px 15px);
		  	position: static;
		  	.post-name > a:hover{
		  		color: $primary_color;
		  	}
		}
		.gallery-image .post-name {
		  display: none;
		}
		&:hover .gallery_content {
		  	@include transform(none);
		}
	}
}
@media (max-width: 480px){
	.button-group {
		padding-bottom: 35px;
	}
	.our-gallery-sc .gallery_filter{
		.button-group .inline-block {
		    width: auto;
		}
	}
}