/*===================================
	3.10 Press
===================================*/
.press-content{
	position: relative;
	margin-bottom: 30px;
	border: 1px solid #ebebeb;
	.blog-info .blog-date {
	    top: 10px;
	    #{$left}: 11px;
	    position: absolute;
	}
	.blog-info .info{
		&.blog-date{
			.month{
				a{
					font-size: 14px;
				}
			}
			.date{
				a{
					font-size: 16px;
				}
			}
		}
		a {
		  	color: $primary_color;
		  	font-size: 13px;
		  	text-transform: uppercase;
		  	&:hover{
		  		color: #282828;
		  	}
		}
	} 
}
.press-post-info {
  	padding: side-values(23px 20px 28px 27px); 
  	.blog-info{
    	padding-top: 12px;
  	}
}
.press-img {
  	position: relative;
  	i{
	  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
	  border-radius: 50%;
	  color: #fff;
	  font-size: 45px;
	  height: 80px;
	  #{$left}: 50%;
	  line-height: 80px;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  z-index: 9;
	  transform: translate($translateX, -50%);
	  width: 80px;
	}
}
.press-video {
	iframe {
	  width: 100%;
	}
}
.press-name > a {
  font-size: 20px;
  font-weight: 600;
}
.press_post_desc p {
    margin-bottom: 0;
    padding-top: 8px;
    line-height: 22px;
}
.press-list{
	.press-content,
	.press-item{
		width: 100%;
		float: $left;
	}
	.press-img{
	  float: $left;
	  width: 40%;
	}
	.press-post-info {
	  float: $left;
	  width: 60%;
	}
	.press-post-info .blog-info {
	  padding-top: 20px;
	}
	.press-post-info {
	  padding-#{$left}: 30px;
	}
}
.press-load {
	margin-bottom: 17px;
	margin-top: 9px;
	.btn{
	  height: 50px;
	  min-width: 165px;
	  padding: side-values(16px 15px 15px);
	}
}
.press_filter{
	text-align: center;
	border-bottom: 1px solid #e6e5e5;
    margin-bottom: 30px;
	.button-group{
		padding-bottom: 0;
		.inline-block {
		  padding: side-values(0 28px);
		  margin-bottom: 0;
		}
		.btn-filter{
			border: none;
			font-weight: 600;
			font-size: 24px;
			color: #282828;
			padding: side-values(13px 14px 19px 7px);
			&:hover{
				color: $primary_color;
			}
			&::before {
			  background: $primary_color;
			  bottom: -1px;
			  content: "";
			  height: 2px;
			  #{$left}: 0;
			  position: absolute;
			  width: 0;
			  @include transitions(all 0.3s ease-in-out 0s);
			}
			&.is-checked, &:hover{
				&:before{
					width: 100%;
				}
			}
		}
	}
}
.col-md-6{
	.press-img img {
	  width: 100%;
	}
}
.inline-block.btn-active {
  float: $left;
}
.bottom-static{
	padding-bottom: 60px;
	padding-top: 33px;
}
.vc_sep_border_width_5.wpb_content_element,
.bottom-static .wpb_text_column.wpb_content_element {
	margin-bottom: 0;
}
@media (min-width: 600px) and (max-width: 767px){
	.press-entries-wrap .col-xs-12{
		width: 50%;
	}
}
@media (max-width: 767px){
	.press-list {
		.press-post-info .blog-info {
		  padding-top: 10px;
		}
		.press-post-info {
		  padding-top: 12px;
		  padding-bottom: 10px;
		}
	}
	.bottom-static{
		padding-bottom: 0;
	}
	.press_filter .button-group {
		padding: side-values(0);
		.inline-block {
		  padding: side-values(0 10px);
		  width: auto;
		}
	}
}
@media (max-width: 600px){
	.press-list {
		.press-img,
		.press-post-info {
		  width: 100%;
		}
		.press-post-info {
		  padding-top: 25px;
		}
	}
	.press-img{
		img{
			width: 100%;
		}
	}
	.press_filter .button-group {
		padding: side-values(0 15px);
		.btn-filter {
		  	font-size: 18px;
		  	padding-bottom: 10px;
		}
	}
}