
/*===================================
	3.4 Product
===================================*/
/* Woocommerce AJAX Search CSS */
.woocommerce-Price-currencySymbol {
  text-decoration: none;
}
.product-list .product-content:hover .action_item_box > .button{
	border: 1px solid $primary_color;
	color: $primary_color;
	background: transparent !important;
}
.add-to-cart .uni-cpo-total{
	display: none;
}
.info{
	.uni-cpo-total-sum{
		font-size: 18px;
	    padding: 0 5px;
	}
	.uni_cpo_field_type_text_input input.js-uni-cpo-field-text_input:hover,
	.js-uni-cpo-field-select:hover{
	    color: #969488;
	    background-color: transparent;
	}
	.uni_cpo_field_type_text_input input.js-uni-cpo-field-text_input,
	.js-uni-cpo-field-select{
	    box-shadow: none;
	    outline: none;
	    height: 50px;
	}
	#uni_cpo_product_weight_input > h6.uni_cpo_fields_header{
	    display: inline-block;
	    padding-right: 15px;
	}
}
.product-grid .product-content .action_item_box > .button.product_type_simple:not(.add_to_cart_button){
	color: #fff;
	background: $primary_color;
    font-size: 0;
    vertical-align: top;	
	&:before{
		content: "\e66e";
	    font-family: 'Pe-icon-7-stroke';
	    display: block;
	    margin-top: -2px;	    
	    font-size: 18px;
	}
	&:hover{
		background: transparent;
		color: $primary_color;
		border: 1px solid $primary_color;
	}
}
.woosearch-results{
	border: 1px solid $primary_color;
	ul{
    padding-top: 73px;
    padding-bottom: 6px;		
	}
	li{
		padding-bottom: 10px;
		padding-top: 5px;
		background: #fff;
		&:last-child{
			border-bottom: 0px solid $primary_color;
		}
	}
}
#yith-quick-view-content, .info{
	h6.uni_cpo_fields_header{font-weight: 600;}
	.uni_cpo_options_box{
		border-top: 1px solid #e3e3e3;
	    padding-top: 8px;	
	}
	.uni-cpo-price-discounted {
	    padding-top: 13px;
	}
	.uni_cpo_fields_header{
		padding-bottom: 15px;
	}	
}
.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .action_item a,
.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .product_type_simple, 
.layout_style_2.layout_style_3 .product_style_2 .product-content > .product-action-list .add_to_cart_button{
	&:hover{
		border-#{$left}:1px solid $primary_color;
	}
}
.arrow_pagination{
	.slick-dots{
		display: none !important; 
	}
}
.dot_pagination{
	.slick-arrow{
		display: none !important;
	}
}
.box_farm_deal{
	.arrow_pagination{
		.slick-arrow{
			background-color: rgba(255, 255, 255, 0.2);
			border: 1px solid #ebebeb;
			color: #fff;
			&.btn-next{
				#{$left}: -90px;
			}
			&.btn-prev{
				#{$right}: -90px;
			}
			&:hover{
				background-color: rgba(255, 255, 255, 0.6);
				color: #fff;
			}
		}
	}
	.layout_style_2::before{
		background: transparent !important;
	}
	.layout_style_2{
		max-width: none; 
		padding: 0;
	}
	.countdown-2 .ult_countdown-row{
		width: auto;
		height: 100px;
		top: 62%;
		#{$left}: auto;
		margin-#{$left}:61px;
		.ult_countdown-section {
			display: inline-block;  
			float: $left !important;
		}
	}
}
.product_listing{
	.add_to_cart_button:hover, .product_type_simple:hover{
		color: $primary_color !important;
	}
	.product-grid{
		border: 0;
		.item{
			border: 0;
		} 
	}
	.product-content .product-image{
		> a:before{
			background: $primary_color; 
		}
	}
	.product_types{
		.item:hover{
			box-shadow: none;
		}
		.product-image{
			margin-#{$right}: 20px; 
			width: 100px;
			float: $left;
			margin-bottom: 0;
			.product-action-grid{
				display: none !important;
			}
			.product-label{
				display: none; 
			}
		}
		.product-desc{
			overflow: hidden;
			text-align: $left;
		    padding: 0;
		    border: none;				
			h3 a{
			    padding-bottom: 0;
			    padding-#{$left}: 0;
			    font-size: 14px;
			    color: #282828;
			    &:hover{
			    	background: none !important;
			    	color: $primary_color;
			    }
			}
			.desc{
				display: none;
			}
			.price {
			    padding-bottom: 0;
			}
		}
		.product-action a {
		  	display: inline-block !important;
		}
		.product-content {
			padding-bottom: 21px;
			a{
				border-bottom: none !important;
			}
			.product-action {
			  	display: block;
			  	opacity: 1;
			  	padding: side-values(0);
			  	position: static;
			  	text-align: $left;
			  	visibility: visible;
			  	a {
				  background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
				  border: none;
				  border-bottom: 1px solid #282828 !important;
				  border-radius: 0;
				  color: #282828;
				  font-size: 13px;
				  font-weight: 500;
				  height: 100%;
				  line-height: normal;
				  text-align: $left;
				  margin-#{$right}: 0;
				  width: auto;
				  padding: side-values(0);
			  	  margin: side-values(0);
				}
			  	.action_item {
			  		display: none;
			  	}
			}
			.price del .amount {
			  	font-size: 13px;
			}
			.price .amount, 
			.price .unit_price {
			  	font-size: 14px;
			}
		}
	}
}
.product_slide .item{
	background: transparent !important; 
	.product-content{
		background: #fff; 
	}
}
.slick-arrow{
	padding: side-values(0);
	background: #fff;
    border-radius: corner-values(100%);
    color: #cdcdcd;
    display: block;
    font-size: 50px;
    height: 50px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50px;
    z-index: 99;
    &:hover{
    	color: $primary_color;
    }
	&.btn-next{
		#{$left}: -7px;
	}
	&.btn-prev{
		#{$right}: -7px;
	}
}
.slick-dots{
	bottom: -133px;
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    li{
    	display: inline-block;
    	padding: side-values(0 6px);
    	&.slick-active{
    		button{
    			background: $primary_color;
    			color: #fff;
    		}
    	}
    	button{
    		background: #ebebeb;
    		border-radius: corner-values(100%);
    		color: #282828;
    		font-size: 13px;
    		border: 0;
    		display: block;
    		height: 30px;
    		width: 30px;
    		padding: side-values(0);
    		line-height: 32px;
 			&:hover{
 				background: $primary_color;
 				color: #fff;
 			}   
    	}
    }
}
#yith-quick-view-content div.summary {
    margin: side-values(0);
    padding: side-values(30px);
}
.product_layout_grid{
	.item{
		position: relative;
	}	
}
.layout_style_1{
	.product-grid .product-content p.sub_title{
		color: #282828;
	}
	.slick-slider {
	  	margin-top: 20px;
	  	margin-bottom: 20px;
	}
	.product-content{
		margin-bottom: 25px;
    	margin-top: 22px;
    	h3{
    		padding-bottom:5px;
    	}
		&:hover{
			-webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow:    0px 0px 25px 0px rgba(0, 0, 0, 0.2);
			box-shadow:         0px 0px 25px 0px rgba(0, 0, 0, 0.2);
			.product-action{
				bottom: -20px;
			}
		}
	}
	.slick-arrow{
		@include transform(translateY(-50%));
		border: 1px solid #cdcdcd;
		&:hover{
			border-color: $primary_color;
		}
	}
	.product-grid .item,
	.product-grid {
	  border: none;
	}
	.product-grid .product-content {
	    padding-bottom: 22px;
	}
}
.layout_style_2{
	margin: side-values(0 auto);
	margin-top: 41px;
	margin-bottom: 100px !important;
	padding: side-values(10px);
	max-width: 90.4%;
	position: relative;
	&::before {
	  background: -moz-linear-gradient(0deg, $primary_color2 0%, $primary_color 100%,$primary_color  100%);
	  background: -webkit-linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
	  background: linear-gradient(0deg, $primary_color2 0%,$primary_color 100%,$primary_color 100%);
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$primary_color2', endColorstr='$primary_color',GradientType=1 );
	  content: "";
	  height: 100%;
	  #{$left}: 0;
	  position: absolute;
	  top: 0;
	  width: 100%;
	  opacity: 0.3;
	}
	.product-grid .item,
	.product-grid {
	  border: none;
	  margin-bottom: 0;
	}
	.slick-slider{
		margin: side-values(0);
		ul.slick-dots {
		  bottom: -35px;
		}
		.slick-dots li {
			margin: side-values(0 7.5px);
			width: 30px;
			height: 30px;
			&.slick-active,
			&:hover{
				button {
					background: $primary_color;
					color: #fff;
				}
			}
			button {
			  color: #282828;
			  font-size: 13px;
			  height: 30px;
			  line-height: 31px;
			  padding: side-values(0);
			  width: 30px;
			  background: #ebebeb;
			}
			button::before {
			  content: none;
			}
		}
		.item{
			padding: side-values(0);
		}
	}
	.product-content ins span.woocommerce-Price-amount span{
		font-size: 24px;
	}
	.product-label{
		display: none;
	}
	.product_style_2{
		.product-image{
			float: $right;
			@media (min-width: 992px){
				padding-#{$right}: 50px;
			}
			> a:before{
				content: none;
			}
		}
		.product-action-grid{
			display: none;
		}
		.product-desc{
			float: $left;
			width: 50%;
			text-align: $left;
			padding-#{$left}: 81px;
			p{
				color: #282828;
				margin-bottom: 26px;
			}
			.term_name{
				a{
					font-size: 15px;
					color: #282828;
					text-transform: uppercase;
					&:hover{
						color: $primary_color;
					}
				}
			}
			.sub_title{
				display: none;
			}
			h3{
				a{
					font-size: 30px;
					font-weight: 600;
					text-transform: none;
				}
			}
		}
		.product-content{
			border: none !important;
			padding-top: 56px;
			h3{
				padding-bottom: 15px;
				padding-top: 3px;
			}
			.price .amount{
				font-size: 24px;
			}
			.price del .amount{
				font-size: 16px;
				font-weight: lighter;
			}
			.product-action-list{
				padding: side-values(33px 0 20px);
				display: block;
				position: inherit;
				opacity: 1;
				visibility: visible;
				text-align: $left;
				.action_item{
					vertical-align: top;
					height: 50px;
					a{
						font-size: 25.5px;
					}
				}
				a{
					text-align: center;
				}
			}
		}
	}
	&.image_left_pos{
		.product_style_2{
			.product-image{
				float: $left;
				width: 50%;
				text-align: $left;
			}
			.product-desc{
				padding-#{$left}: 0;
				@media (max-width: 991px){
					padding-#{$left}: 15px;
				}
			}
		} 
	}
	&.layout_style_3{
		padding:side-values(0);
		margin:side-values(53px 0 0);
		max-width:100%;
		border: 0;
		&::before{
			background: transparent;
		}
		.slick-slider{
			margin: side-values(0 -26px);
			.item{
				padding: side-values(65px 26px 0 26px);
				.product-content{
					border: 1px solid #ebebeb !important;
				}
			}
		}
		.slick-arrow{
			background: transparent;
			color: #bdbdbd;
			border: 0;
			top: 50%;
			@include transform (translateY(-50%));
			&:hover{
				color: $primary_color;
			}
			&.btn-next{
				#{$left}: -34px;
			}
			&.btn-prev{
				#{$right}: -34px;
			}
		}
		.product-image {
		  	padding-#{$right}: 0;
		}
		.product-content {
			.product-image{
				margin-bottom: 0;
			}
		}
		&.product-grid .product-action-list {
		    margin-top: 0;
		}
		.product_style_2{
			.product-image{
				float: $right;
				width: 35%;
			}
			.product-desc{
				float: $left;
				width: 45%;
				text-align: $left;
				padding-#{$left}: 3px;
				padding-top: 28px;
				.term_name{
					font-size: 13px;
					color: #333333;
					text-transform: uppercase;
				}
				.sub_title{
					display: none;
				}
				h3{
					a{
						font-size: 18px;
						font-weight: 700;
						text-transform: none;
						.text-light{
							font-weight:700;
						}
					}
				}
				p{
					margin-bottom: 13px;
					@media (min-width: 992px){
						max-height: 72px;
    					overflow: hidden;
					}
				}
			}
			.product-content{
				border: 0 !important;
				padding: side-values(0);
				h3{
					padding-bottom: 17px;
					margin-top: -8px;
				}
				> .product-action-list{
					width: 15%;
					float: $left;
					padding: side-values(0);
					.action_item{
						padding: side-values(0);
						height: 80px;
						span{
							vertical-align: middle;
						}
					}
					.action_item a, .product_type_simple,.add_to_cart_button{
						color: #282828;
						background: transparent;
						width: 50px;
						height: 80px;
						line-height: 80px;
						margin: side-values(0) !important;
						font-size: 18px;
						border-radius: corner-values(0) !important;
						border: 1px solid #ebebeb;
						border-#{$left}: 0;
						border-top: 0;
						.pe-7s-cart{
							line-height: 80px;
						}
						&.yith-wcqv-button{
							border-bottom: 0;
						}
						&:hover{
							color: #fff;
							background: $primary_color;
						}
					}
					.add_cart_list{
						display: none;
					}
					.pe-7s-cart{
						display: block;
					}
				}
				.product-desc{
					.product-action-list{
						display: none;
						opacity: 0;
						visibility: hidden;
						float: $left;
						a{text-align: center;}
					}
				}
			}
		}
	}
	&.layout_style_5 {
	  	margin-bottom: 0 !important;
	  	margin-top: 0;
	  	max-width: 100%;
	  	padding: side-values(0);
	  	&:before{
	  		background: #f5f5f5 none repeat scroll 0 0;
		    bottom: -10px;
		    #{$left}: 10px;
		    opacity: 1;
		    top: 10px;
	  	}
	  	.slick-slider .item {
		  padding: side-values(0);
		}
	  	.slick-arrow, .slick-dots{
	  		display: none !important;
	  	}
	  	.product-content{
	  		.product-action-grid, 
	  		.quick-view{
	  			display: none;
	  		}
	  		.product-image {
	  			margin-bottom: 83px;
	  		}
			.product-action-list{
				position: static;
				opacity: 1;
				visibility: visible;
				display: block;
			  	padding: side-values(25px 15px 24px);
			  	.add_to_cart_button{
			  		color: #fdfdfd;
			  	}
			}
			.term_name {
				padding: side-values(0 15px);
				a {
				  color: #282828;
				  font-size: 15px;
				  text-transform: uppercase;
				  &:hover{
				  	color: $primary_color;
				  }
				}
			} 
			h3 {
				line-height: 24px;
				padding-top: 5px;
				padding-bottom: 15px;
				+ p{
					padding: side-values(0 15px);
					margin-bottom: 15px;
				}
				a {
				  	font-size: 30px;
				}
			}
			.price {
				del{
					.amount {
					  	font-size: 16px;
					}
				}
				.amount {
				  	font-size: 24px;
				  	span{
				  		font-size: 24px;
				  	}
				}
			}
			.action_item{
			  width: 100%;
			  padding-top: 15px;
			}
			.product-action-list .action_item a {
			  	border: medium none;
			  	height: 100%;
			  	line-height: 100%;
			  	width: 100%;
			  	&:hover{
			  		background: none;
			  		span{
						&:before{
							color: $primary_color;
						}
					}
			  	}
			}
			.wishlist-btn a span{
				&:before{
					color: #444;
				    content: "+ Add to Wishlist";
				    font-family: Poppins;
				    font-size: 14px;
				    text-decoration: underline;
				}
			}
	  	}
	}
}
.product_layout_packery {
	.woocommerce div.product-grid div.product{
		&.image_size2 {
		 	width: 50%;
		}
		&.image_size {
		 	width: 25%;
		}
	}
	.product-content {
		.product-image {
	  		margin-bottom: 13px;
		}
		h3 {
		  padding-bottom: 0;
		}
	}
	.btn-viewmore {
	  	margin-top: 41px;
	  	.btn {
		  	padding: side-values(15px 39px);
		}
	}
}
.slick-slider{
	margin: side-values(45px -15px);
	.item{
		padding: side-values(0 15px);
		box-shadow: 0 0 0 0 transparent !important;
		.product-content{
			border: 1px solid #ebebeb;
		}
	}
}
.product-filter-isotope {
	.nav-tabs{
		border: 0;
		text-align: center;
		margin-bottom: 50px;
		li{
			padding: side-values(0 6px);
			float: none;
			display: inline-block;
			a{
				border: 1px solid #ebebeb;
				border-radius: corner-values(30px);
				cursor: pointer;
				font-size: 15px;
				color: #282828;
				text-transform: capitalize;
				padding: side-values(13px 28px);
				&:hover, &.active{
					background: #fff;
					border: 1px solid $primary_color;
					color: $primary_color;
					-webkit-box-shadow: 0px 13px 21px 0px rgba(0, 0, 0, 0.2);
					-moz-box-shadow:    0px 13px 21px 0px rgba(0, 0, 0, 0.2);
					box-shadow:         0px 13px 21px 0px rgba(0, 0, 0, 0.2); 
				}
			}
		}
	}
	.btn-viewmore{
		margin:side-values(41px 0 43px);
		a{
			min-width: 150px;
			padding: side-values(16px 25px 14px);
			text-transform: capitalize;
			color: #fdfdfd;
		}
	}
	.product-content {
		h3 {
		    padding-bottom: 0;
		    font-size: 15px;
		    font-weight: 400;
		    text-transform: none;
		}
		.product-image {
		    margin-bottom: 12px;
		}
	}
	.product-grid .product-content {
	    padding-bottom: 19px;
	}
}
.product-label{
	span{
		position: absolute;
		border-radius: corner-values(10px);
	    color: #fff;
	    font-family: montserrat;
	    font-size: 12px;
	    height: 20px;
	    line-height: 20px;
	    width: 53px;
	    top: 20px;
	    z-index: 1;
		&.new{
			#{$left}: 20px;
			background: $primary_color;
			&:before{
				background: #fff none repeat scroll 0 0;
			    border-radius: corner-values(100%);
			    content: "";
			    height: 4px;
			    #{$left}: 6px;
			    position: absolute;
			    top: 8px;
			    width: 4px;
			}
		}
		&.onhot{
			#{$left}: 0;
			#{$right}: 0;
			margin: side-values(0 auto);
			background: #ee8a82; 
			&:before{
				background: #fff none repeat scroll 0 0;
			    border-radius: corner-values(100%);
			    content: "";
			    height: 4px;
			    #{$right}: 6px;
			    position: absolute;
			    top: 8px;
			    width: 4px;
			}
		}
		&.onsale{
			#{$right}: 20px;
			background: #ffaf00;
			&:before{
				background: #fff none repeat scroll 0 0;
			    border-radius: corner-values(100%);
			    content: "";
			    height: 4px;
			    #{$right}: 6px;
			    position: absolute;
			    top: 8px;
			    width: 4px;
			}
		}
	}
}
.mini-cart{
	&.active_minicart{
		.cart-block{
			opacity: 1;
			-moz-transform: none;
			-o-transform: none;
			-ms-transform: none;
			-webkit-transform: none;
			transform: none;
			visibility: visible;
		}
	}
}
//Product Baber
.woocommerce-pagination{
	padding-top: 30px;
	.page-numbers{
		text-align: center;
		margin: side-values(0);
		> li {
		  display: inline-block;
		  a{
		  	color: #2d2d2d;
		  	&.next, &.prev{
		  		font-size: 14px;
		  	}
		  }
		  a, span{
		  	padding: side-values(0);
		  	font-size: 13px;
		    height: 36px;
		    line-height: 33px;
		    text-transform: uppercase;
		    width: 36px;
		    display: block;
		  }
		  .current, a:hover{
		  	color: #fff;
		  	background: $primary_color;
		  }
		}
	} 
}
//product grid
.product-list{
	> .item{
		margin-bottom: 28px;
	}
	.product-content .product-image{
		margin-bottom: 0;
	}
	.product-action-grid{
		display: none !important;
	}
	.product-content{
		.product-action{
			position: inherit;
			opacity: 1;
			visibility: visible;
			display: inline-block;
			width: auto;
			padding: side-values(0);
		}
		.product-desc{
			text-align: $left;
			overflow: hidden;
			padding: side-values(22px 30px);
			border-#{$left}: 1px solid #ebebeb;
			color: #8e8e8e;
		}
		.product-image{
			float: $left;
		}
	}
	.star-rating{
		display: block;
		margin: side-values(10px 0);
	}
	.price{
		padding-bottom: 19px;
	}
	.desc{
		position: relative;
		padding-top: 30px;
		padding-bottom: 15px;
		&:after{
			position: absolute;
			content: '';
			width: 298px;
			height: 1px;
			#{$left}: 0;
			top: 7px;
			background: #ebebeb;
		}
	}
}
.product-grid-wrap.product_archives{
	border-left: 1px solid #ebebeb;
	.product-grid{
		border: none;
	}
}
.product-grid{
	border-left: 1px solid #ebebeb;
	.product-action-list{
		display: none;
	}
	.item{
		border-color: #ebebeb;
	    border-style: solid;
	    border-width: 1px 1px 1px 0;
	    margin-bottom: -1px;
		background: #fff;
		&:hover{
			-webkit-box-shadow: 0px 0px 20px 0px #c3c1c1;
			-moz-box-shadow: 0px 0px 20px 0px #c3c1c1;
			box-shadow: 0px 0px 20px 0px #c3c1c1;				
			z-index: 9;
		}
	}
	.product-content{
		padding-bottom: 21px;
		p.sub_title{
			margin-bottom: 0;
			margin-top: -5px;
			color: #333;
		}
	}
	.btn-viewmore{
		padding-top: 40px;
	}
}
.post-type-archive-product{
	.footer{
		padding-top: 92px;
	}
}
.product_types{
	li{
		list-style: none;
	}
}
.product-category{
	h3{
		padding-top: 20px;
		mark
		{
			background-color: transparent;
		}
	}
}
.product-content{
	@include transitions(all 0.3s ease-in-out 0s);
	.added_to_cart{
		display: none;
	}
	.product-action{
		-webkit-transition: all 0.6s ease-in-out;
		transition: all 0.6s ease-in-out;
		padding: side-values(13px 22px 12px);
		position: absolute;
		width: 100%;
		bottom: -40px;
		z-index:99;
		opacity: 0;
		visibility: hidden;
		text-align: center;
		a{
			color: #282828;
			font-size: 18px;
			padding: side-values(0);
		}
	}
	&:hover{
		.product-action{
			opacity: 1;
			bottom: -5px;
			visibility: visible;
		}
	}
}
a.add_to_wishlist, .yith-wcwl-wishlistexistsbrowse a, .yith-wcwl-wishlistaddedbrowse a {
  margin-bottom: -10px !important;
  position: relative;
}
.product_type_simple, .add_to_cart_button, .action_item{
    display: inline-block;
    padding: side-values(0 10px);
}
.add_cart_list{
	display: none;
}
@media (min-width: 601px){
	.product-content .product-action-list{
		.product_type_simple, .add_to_cart_button, .action_item{
			padding: side-values(0 7.5px);
		}
		.action_item a{
			height: 50px;
		    line-height: 55px;
		    width: 50px;
		}
		.product_type_simple, .add_to_cart_button{
			background: $primary_color;
		    border: medium none;
		    border-radius: corner-values(30px);
		    color: #fff;
		    font-size: 15px;
		    font-weight: 500;
		    height: 50px;
		    line-height: 50px;
		    position: relative;
		    text-align: center;
		    text-transform: capitalize;
		    width: 150px;
		    margin-#{$right}: 9px; 
		    &:hover{
		    	background: $highlight_color;
		    }
		}	
		.pe-7s-cart{
			display: none;
		}
		.add_cart_list{
			display: block;
		}
	}
}

.add_to_cart_button, .product_type_simple{
	&:hover{
    	background: $primary_color;
    	border: 1px solid transparent;
    }
}
.action_item{
	a{
		border: 1px solid #ebebeb;
	    border-radius: corner-values(100%) !important;
	    display: inline-block;
	    height: 36px;
	    line-height: 40px;
	    width: 36px;
	    color: #333333;
	    i{
	    	color: #333333;
	    }
	    &:hover{
	    	background: $primary_color;
	    	border: 1px solid transparent;
	    	color: #fff !important;;
	    	i{
	    		color: #fff !important;;
	    	}
	    }
	}
}
.add_to_cart_button, .product_type_simple{
	border: 1px solid #ebebeb;
    border-radius: corner-values(100%);
    display: inline-block;
    height: 36px;
    line-height: 38px;
    width: 36px;
}
.action_item.compare_product{
	padding: side-values(0 12px);
}
.woocommerce div.product-list div.product{
	width: 100% !important;
	padding: side-values(0);
	border: 1px solid #ebebeb;
}
.viewmode-toggle, .woocommerce-ordering{
	display: inline-block;
}
.woocommerce-ordering{
	display: inline-block;
	margin-#{$left}: 18px;
	label{
		font-size: 15px;
		font-weight: normal;
		margin-#{$right}: 1px;
		color: #282828;
	}
	select{
		width: auto;
	}
}
.woocommerce .woocommerce-viewing.result-count{
	display: inline-block;
	label{
		font-size: 14px;
		font-weight: normal;
		margin-#{$right}: 5px;
		color: #000;
	}
	select{
		height: 36px;
		width: 44px;
		padding: side-values(0 7px 0 4px);
		background: url(../images/select_bg_02.png) no-repeat 83% center;
	}
}
.top_archive_product{
	overflow: hidden;
	border-bottom: 1px solid #ebebeb;
	padding-bottom: 20px;
	width: 100%;
	clear: $left;
}
.viewmode-toggle a{
	height: 36px;
	width: 36px;
	line-height: 16px;
	text-align: center;
	font-size: 12px;
	padding: side-values(10px 12px);
	margin-#{$right}: 7px;
	display: inline-block;
	color: #b9b9b9;
	border: 1px solid #e7e7e7;
	&:hover, &:focus, &.active{
		border: 1px solid $primary_color;
    	color:$primary_color;
	}
}
.woocommerce select {
    padding: side-values(0 25px 0 10px);
    border: 1px solid #ddd;
    color: #8f8f8f;
}
.select-tooltbars select {
	width: 183px;
    height: 36px;
    border: 1px solid #e7e7e7;
    color: #868686;
    font-size: 14px;
    padding: side-values(0 25px 0 10px);
    text-transform: none;
    background: url(../images/select_bg_02.png) no-repeat 93% center;
}
.product-grid {
	.desc {
		display: none;
	}
}
//base css
#cart_added_msg_popup, #compare_added_msg_popup {
    background: $primary_color;
    box-shadow: 0 0 10px #ccc;
    box-sizing: border-box;
    font-size: 15px;
    #{$left}: 50%;
    color: #fff;
    line-height: 50px;
    max-width: 300px;
    padding: side-values(15px);
    position: fixed;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 10000;
}

#cart_added_msg_popup, #compare_added_msg_popup {
    font-size: 15px;
    line-height: 50px;
    text-align: center;
}
.yith-wcwl-add-to-wishlist, .add_to_cart_button, .single_add_to_cart_button, .product_type_simple{
	position: relative;
}
.product-grid{
	&.slick-initialized, &.product_slide{
		overflow: visible;
	}
}
.yith-wcwl-add-to-wishlist .ajax-loading{
	width: 16px !important;
	height: 16px !important;
}
.yith-wcwl-add-to-wishlist{
	margin-top: 0px;
	.yith-wcwl-add-button{
		position: relative;
		.ajax-loading{
			position: absolute;
			top: 2px;
			#{$left}: -2px;
		}
	}
}
.yith-wcwl-add-to-wishlist .ajax-loading:after, 
.add_to_cart_button.loading::after, 
.single_add_to_cart_button.loading::after {
    animation: 1s ease-in-out 0s normal none infinite running spin;
    background: rgba(0, 0, 0, 0) url("../images/ajax-loader.gif") no-repeat scroll center center / 25px 25px;
    content: "";
    display: inline-block;
    opacity: 1;
    height: 20px;
    width: 20px;
    margin: side-values(0);
    position: absolute;
    #{$left}: 50%; 
    #{$right}: auto;
    top: 50%;
    text-align: center;
    border-radius: corner-values(100%);
    @include transform(translateX($translateX) translateY(-50%));
}
.add-to-compare .blockUI.blockOverlay{
    background: url("../images/ajax-loader.gif") no-repeat scroll #{$right} center / 16px 16px !important;
    #{$right}: 0px !important; 
    #{$left}: auto !important;
    padding-#{$left}: 20px;
}
.blockUI.blockOverlay{
    background: url("../images/ajax-loader.gif") no-repeat scroll center center / 16px 16px !important;
    border: medium none;
    cursor: wait;
    height: 100%;
    #{$left}: 0;
    margin: side-values(0);
    opacity: 1;
    padding: side-values(0);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999 !important;
}
.compare-list .blockUI.blockOverlay{
    background: url("../images/ajax-loader.gif") no-repeat scroll #{$right} center / 16px 16px !important;
}
//end base
.product_archives{
	.title_archive_product{
		position: relative;
		span{
			font-size: 32px;
		}
		h2{
			padding-top: 44px;
			padding-bottom: 12px;
			font-size: 25px;
			color: #3d3935;
			text-transform: uppercase;
			font-weight: 600;
			&:before{
			  	content: "\e903";
			  	font-family: icomoon;
			  	position: absolute;
			  	color: $primary_color;
			  	font-size: 25px; 
			  	top: 0;
			  	#{$left}: 50%;
			  	@include transform(translateX($translateX));
		  	}
		}
	}
	.tabs-fillter{
		text-align: center;
		padding-bottom: 31px;
		.btn-filter{
			display: inline-block;
			border-bottom: 0;
			li{
				a{
					cursor: pointer;
					color: #979797;
					font-size: 15px;
					border-radius: corner-values(0);
					background: none !important;
					text-transform: capitalize;
					&.active{
						color: $primary_color;
					}
					&:hover{
						border-color: transparent;
						background-color: none;
						color: $primary_color;
					}
				}
			}
		}
	}
	.button-group .is-checked.btn-filter {
	  background: #fff none repeat scroll 0 0;
	}
}
.woocommerce{
	div.product-grid div.product{
		float: $left;
	}
	&.columns-1 {
		div.product-grid {
			div.product {
				width: 100%;
				margin-#{$right}: 0;
			}
		}
	}

	&.columns-2 {
		div.product-grid {
			div.product {
				width: 50%;
			}
		}
	}

	&.columns-3 {
		div.product-grid {
			div.product {
				width: 33.3333%;
			}
		}
	}

	&.columns-4 {
		div.product-grid {
			div.product {
				width: 25%;
			}
		}
	}

	&.columns-5 {
		div.product-grid {
			div.product {
				width: 20%;
			}
		}
	}

	&.columns-6 {
		div.product-grid {
			div.product {
				width: 16.6666666667%;
			}
		}
	}
}
.columns-1{
	.product-list{
		.item{
			width: 100%;
		}
	}
}
.product-entries-wrap{
	.item{
		overflow: hidden;
	}
}
.product-content{
	text-align: center;
	&:hover{
		.product-image > a:before{
			opacity: 0.7;
		}
	}
	.img-base {
	  position: absolute;
	  top: 0; 
	  #{$left}: 0;
	  #{$right}: 0;
	  opacity: 0;
	  @include transitions(all 0.35s ease-in-out 0s); 
	}
	h3{
		padding-bottom: 7px;
		font-size: 15px;
		font-weight: 600;
		line-height: normal;
		a{
			font-size: 15px;
			font-weight: 600;
			color: #282828;
			&:hover{
				color: $primary_color;
			}
		}
	}
	.price{
		del{
			.amount{
				font-size: 16px;
				font-weight:300;
				color: #afafaf;
			}
		}
	}
	span.woocommerce-Price-amount{
		color: $primary_color;
		span{
			color: $primary_color;
			font-size: 18px;
		}
	}
	.price{
		.amount, .unit_price{
			color: $primary_color;
			font-size: 18px;
			font-weight: 600;
			span{
				color: $primary_color;
			}
			del{
				span{
					color: #aaa;
				}
			}
		}
		.unit_price{
			font-size: 14px;
			font-weight: normal;
			text-transform: none;
			margin-#{$left}: -4px;
		}
	}
	.product-image{
		position: relative;
		margin-bottom: 23px;
		> a{
			display: block;
			position: relative;
			&:before{
				position: absolute;
				content: "";
				background: #fff;
				opacity: 0;
				top: 0;
				#{$left}: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				@include transitions(all 0.35s ease-in-out 0s); 
			}
		}
		> span{
		    background: #000;
		    color: #fff;
		    display: table;
		    font-size: 12px;
		    font-weight: 300;
		    height: 25px;
		    #{$left}: 5px;
		    letter-spacing: 2px;
		    line-height: 23px;
		    min-width: 38px;
		    padding: side-values(9px 7px 7px);
		    position: absolute;
		    text-align: center;
		    line-height: 100%;
		    text-transform: uppercase;
		    top: 5px;
		    vertical-align: middle;
		    z-index: 1;
		}
		img{
			height: auto;
		}
	}
}

/* Single Post */
.media{
	> .images {
		overflow: hidden;
	}
}
div.pp_woocommerce div.ppt {
  color: #000;
  letter-spacing: 1px;
  margin: side-values(0);
  text-transform: uppercase;
}
.price {
  display: block;
}
.woocommerce-Reviews-title {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 20px;
}
.stars{
  .fa{
    border-#{$right}: 1px solid #b8b8b8;
      margin-#{$right}: 8px;
      padding-#{$right}: 8px;
      &:last-child{
        border-#{$right}: none;
      }
  }
  span > a { 
	    border-#{$right}: 1px solid #eaeaea;
	    padding-#{$right}: 10px;
	    margin-#{$right}: 10px;
	    color: transparent;
	    display: inline-block;
	    &:before{
	    	color: #d1d1d1;
	    	font-weight: normal;
	    }
	    &:last-child{
		    margin-#{$right}: 0;
		    border: none;	    	
	    }

	    &:hover,&.active{
	    	&:before{
	    		color: #ffd24d;
	    	}
	    }
	}
  a:before{
  	font-family: FontAwesome;
  }
  .star-1{
    &:before{
      content: "\f005";
    }
  }
  .star-2{
    &:before{
      content: "\f005\f005";
    }
  }
  .star-3{
    &:before{
      content: "\f005\f005\f005";
    }
  }
  .star-4{
    &:before{
      content: "\f005\f005\f005\f005";
    }
  }
  .star-5{
    &:before{
      content: "\f005\f005\f005\f005\f005";
    }
  }
}
.single-product .products > h2.title_related {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
    font-family: Asap;
    text-transform: uppercase;
    margin-bottom: 59px;
    position: relative;
    &:after{
    	position: absolute;
    	content: '';
    	background: #f4f4f4;
    	bottom: -9px;
    	#{$left}: 0;
    	width: 100%;
    	height: 3px;
    }
    &:before{
    	position: absolute;
    	content: '';
    	background: $primary_color;
    	bottom: -9px;
    	#{$left}: 0;
    	width: 97px;
    	height: 3px;
    	z-index: 9;
    }
}
.product-name{
	span{
		font-weight: 300;
	}
}
.single-product .images{
	> div{
		position: relative;
	}
	img {
	    width: 100%;
	    height: auto;
	    border: 1px solid #ebebeb;
	}
} 
.product_archives.isotope{
	&.product-list-wrap{
		margin: side-values(0);
	}
}
.wishlist_table{
	&.shop_table.cart tbody tr{
		&:last-child {
		  	td{
				border-bottom: 1px solid #eee;
				padding: side-values(10px) !important;
			}
		}
		td{
			&:last-child {
			  border-#{$right}: 1px solid #eee;
			}
		}
	} 
	.product-name a {
	  font-size: 15px;
	  &:hover{
	  	color: $primary_color;
	  }
	}
	.product-remove{
		a{
			font-size: 22px;
			color: $primary_color;
			&:hover{
				color: #232323;
			}
		}
	}
	.product-price .amount {
	  color: #b9260e;
	  font-size: 15px;
	}
	.product-stock-status span, 
	.product-add-to-cart a{
		font-size: 15px;
	}
	.product-add-to-cart a{
		color: #232323;
		&:hover{
			color: $primary_color;
		}
	}
}
.woocommerce-variation.single_variation {
  margin-top: 15px;
}
.shop_attributes p {
  margin-bottom: 0;
}
.variations tr td{
	float: $left; 
    padding: side-values(0);
    text-align: $left;
    &.label{
    	width: 100px;
    }
    width: 50%;
    &.value{
    	margin-bottom: 0;
    }
    select{
    	border: 1px solid #ebebeb;
    	background-color: transparent;
    	border-radius: corner-values(0);
    	color: #000;
	    font-size: 15px;
	    padding: side-values(7px);
	    margin-bottom: 15px;
    }
	label {
	  color: #777777;
	  padding-top: 12px;
	  font-size: 15px;
	  font-weight: 500;
	  margin: side-values(0);
	}
}
.shop_attributes th {
  font-weight: 500;
}
.product_slide {
	.isotope {
		height: 100% !important;
	}
	.item{
		position: static !important;
	}
	.slick-slider .slick-next, 
	.slick-slider .slick-prev {
	  top: 50%;
	  margin-top: -76px !important;
	  	&:before{
	  		opacity: 1;
	  	}
		&:hover, &:focus{
		  	background: none;
		  	border-color: $primary_color;
		  	&:before{
		  		color: $primary_color;
		  	}
		}
	}
}
.filter-cate {
  text-align: $right;
}
.deal-of {
  	float: $left;
  	width: 45%;
  	max-width: 360px;
    h3 {
	  font-size: 39.44px;
	  font-weight: 500;
	  a{
	  	color: #212425;
	  	&:hover{
	  		color: $primary_color
	  	}
	  }
	}
}
.product-attribute{
	background: $highlight_color;
	overflow: hidden;
	min-height: 786px;
	padding: side-values(150px 30px 40px 40px);
}
.product-deal{
	.product-img{
		float: $right;
		width: 55%;
	}
	.desc{
		color: #888888;
  		font-size: 15px;
  		padding-bottom: 18px;
	}
	.price-deal .desc-tab{
		color: #c74729;
		font-size: 33.82px;
		font-weight: 600;
		span {
		  color: #949597;
		  font-size: 20px;
		  text-decoration: line-through;
		  margin-#{$left}: 9px;
		}
	} 
	.btn-banner { 
	  padding-top: 53px;
	  	.btn.btn-primary {
		  padding-#{$left}: 24px;
		  padding-#{$right}: 24px;
		  i{
		  	font-size: 20px;
		  }
		}
	}
}
.deal-desc{
	margin-top: 27px;
	.nav-tabs {
		border: none;
		margin-bottom: 25px;
		li {
			margin-bottom: 0;
			&.active{
				a{
					border: 2px solid $primary_color;
					color: $primary_color;
					background: #fff;
				}
			}
			a {
			  border: 2px solid transparent;
			  margin: side-values(0);
			  font-size: 14.4px;
			  font-weight: 600;
			  border-radius: corner-values(3px);
			  padding: side-values(6px 19px 5px);
			 	&:hover, &:focus{
			  		border: 2px solid $primary_color;
					color: $primary_color;
					background: #fff;
			  	}
			}
		}
	}
}
.slide-deal .slick-slider .slick-dots {
  margin-#{$right}: 34px;
  margin-top: 0;
  position: absolute;
  #{$right}: 0 !important;
  text-align: $right;
  bottom: 31px;
  li {
  	margin-#{$right}: 73px !important;
  	a{
	  	color: #212425;
	  }
  }
}

.title-deal h3 {
  font-size: 16.37px;
  display: inline-block;
  position: relative;
  color: $primary_color;
  padding-#{$right}: 10px;
  font-weight: 600;
  margin-bottom: 16px;
  &:before{
  	position: absolute;
  	content: "";
  	height: 1px;
  	width: 45px;
  	background: $primary_color;
  	bottom: 3px;
  	#{$left}: 100%;
  }
}
.product_order{
	.single-product .type-product {
	  padding-top: 0;
	  	.cart {
		  padding-top: 0;
		}
	}
	.summary{
	  float: $left;
	  margin: side-values(0 -5px);
	  width: 100%;
	  	form{
	  		width: 100%;
	  		float: $left;
	  		.quantity {
			  height: 63px;
			  margin: side-values(0);
			  width: 50%;
			  float: $left;
			  padding: side-values(0 5px);
			  position: relative;
			  background: none;
			  overflow: hidden;
			  	input.qty.text {
				  color: #afafaf;
				  font-family: Poppins;
				  font-size: 14px;
				  font-weight: 500;
				  height: 63px;
				  padding: side-values(10px 18px 10px 30px);
				  text-align: $left;
				  width: 100%;
				  background: $highlight_color;
				  border-radius: corner-values(4px);
				}
				.qty-number{
					height: 100%;
					#{$right}: 11px;
					top: 0;
					position: absolute;
					.increase-qty {
					  height: 63px;
					  line-height: 70px;
					  position: absolute; 
					  #{$right}: 0;
					  top: 0;
					  font-size: 22px;
					  color: #a1a1a1;
					  &:hover{
					  	color: $primary_color;
					  }
					  &.minus{
					  	#{$right}: 30px;
					  }
					}
				} 
			}
			.add-to-cart {
			  float: $left;
			  padding: side-values(0 5px);
			  width: 50%;
			  overflow: hidden;
			}
			.single_add_to_cart_button, 
			.add_to_cart_button {
			  background: #212425 none repeat scroll 0 0;
			  float: $right;
			  height: 63px;
			  letter-spacing: 1.5px;
			  min-width: auto;
			  padding: side-values(0);
			  width: 100%;
			  font-weight: 500;
			  font-size: 15px;
			  i{
			  	font-size: 22px;
			  	display: inline-block;
			  }
			  &:hover{
			  	color: $primary_color;
			  	background: $highlight_color;
			  }
			}
	  	}
	  	.variations {
		  float: $left; 
		  width: 33.3333%;
		  padding: side-values(0 5px);
		  	tr {
		  		margin-bottom: 10px;
		  		display: block;
		  		width: 100%;
		  		float: $left;
		  		td{
			  		&.value {
					  margin-bottom: 0;
					  width: 100%;
					  	select {
						  background-color: #eaf3ff;
						  background-image: url("../images/angle-down.png");
						  color: #a1a1a1;
						  font-size: 14px;
						  font-weight: 500;
						  height: 63px;
						  margin: side-values(0);
						  width: 100%;
						  padding-#{$left}: 27px;
						  padding-#{$right}: 18px;
						}
					}
					&.label {
					  display: none;
					}
					.reset_variations{
						display: none !important;
					}
			  	}
		  	}
		}
		.woocommerce-variation-add-to-cart {
		  float: $left;
		  margin: side-values(0 -5px);
		  width: 100%;
		}
		.single_variation_wrap {
		  	float: $left;
		  	width: 66.6667%;
		  	padding: side-values(0 5px);
		  	position: relative;
		  	.price span {
			  color: #ffffff !important;
			}
			.woocommerce-variation-availability p {
			  color: #ffffff;
			  margin-bottom: 0;
			}
			
			.woocommerce-variation.single_variation {
			  position: absolute;
			  top: 80px;
			}
		}
	}
}
[class*="columns-"].product_archives.woocommerce {
  margin-top: 30px;
}
.product_archives{
	.col-md-6 > #options > .button-group {
	  padding-top: 3px;
	}
}
.filter-cate .button-group button.is-checked,
.filter-cate .button-group button:hover{
	background: #fff;
}
.product-categories-shortcode{
	.product-grid {
		border: none !important;
	}
	li.product-category.product{
        position: relative;    
        display: inline-block;
        float: $left;
        text-align: center;
        border-#{$left}:1px solid #cecece;
        border-bottom:1px solid #cecece;
        &:before {
          content: "";
          position: absolute;
          height: 100%;
          width: 100%;
          top: 0;
          #{$left}:0;
          background:$primary_color;
          opacity: 0.9;
          @include transitions( all 0.3s ease-in-out 0s);
        }
        &:hover{
        	.prd_cat_count .figcaption{
        		opacity: 1;
        		height: 100%;
        		@include transitions( all 0.3s ease-in-out 0s); 
        	}
        }
        h3{
        	padding-top:18px;
        }
    }
    .prd_count_inner{
    	padding:side-values(27px 0 25px);
    	img{
    		width: 210px;
    	}
    	h3{
    		a{
    			color: #fff;
    			font-size:18px;
    		}
    	}
    }
    .prd_cat_count{
    	position:relative;
    	.figcaption{
    		padding:side-values(44px 30px 45px);
    		color: #fff;
    		position: absolute;
		    background: #f8b600;
		    height: 0;
		    width: 100%;
		    top: 0;
		    #{$left}: 0;
		    opacity: 0;
		    text-align: center;
		    @include transitions( all 0.3s ease-in-out 0s); 
		    .number_prds{
		    	font-size: 45px;
		    	line-height: 45px;
		    	font-weight: 300;
		    	margin-bottom: -5px;
		    }
		    .name_prd{
		    	font-size:18px;
		    	margin-bottom: 0;
		    }
		    .cat_link{
		    	border-top:1px solid rgba(255,255,255,0.2);
		    	padding-top:20px;
		    	margin:side-values(24px  22px 0);
		    	.btn.btn-border-white:hover{
		    		color:#f8b600;
		    		background:#fff;
		    	}
		    }
    	}
    }
}
.product-cate-h4{
	margin-top:-100px;
	background:url("../images/bg-pr-cate.jpg");
}
.woocommerce.columns-4 li{
  width: 25%;
}
.woocommerce.columns-3 li{
  width: 33.3333%;
}
.woocommerce.columns-4 .slick-dots{
	li{
		width: auto;
	}
}
.layout_style_4{
	.slick-slider {
		margin-#{$left}:0;
		margin-#{$right}:0;
		.item{
			padding:side-values(0);
		}
	}
	.slick-dots{
		padding-top:32px;
		li{
			margin:side-values(0 8px);
			button{
				height: 18px;
				width: 18px;
				background:#ebebeb;
				padding:side-values(0);
				&:before{
					content: none;
				}
				&:hover{
					@include transitions( all 0.3s ease-in-out 0s);
					height: 20px;
					background:$primary_color;
					width:20px;
				}
			}
			&.slick-active button{
				height: 20px;
				width:20px;
				background:$primary_color;
			}
		}
	}
	&.layout_style_1 {
		.product-grid .product-content {
			padding-bottom: 20px;
		}
		.slick-arrow{
			top:100%;
			transform:none;
			margin-top:15px;
			&.btn-next{
				#{$left}:-2px;
			}
			&.btn-prev {
	   			#{$right}: -2px;
	   		}
	   	}
	   	.product-content:hover{
	   		.product-action{
	   			bottom:-1px;
	   		}
	   	}
	}
	.product-content {
		.product-image{
			margin-bottom: 13px;
			margin-top:0;
		}
		h3{
			padding-bottom:0;
		}
	}
}

.layout_style_1,.layout_style_3{
	.slick-dots{
		display: none !important;
	}
}
.layout_style_1.layout_style_4{
	.slick-dots{
		display: block !important;
	}
}
.product_layout_list.arrowpress-products{
	margin-bottom: 0;
	.woocommerce div.product-grid div.product {
	  	width: 100%;
	  	&:hover{
	  		box-shadow: none;
	  	}
	}
	.product-grid{
		border: none;
		.item{
			border: none;
			margin: side-values(0);
		}
	}
	.product-content {
		padding-bottom: 0;
		margin-bottom: 40px;
    	margin-top: 0;
		&:hover{
			box-shadow: none;
			.product-image{
				border-color: #efefef;
				> a:before {
					opacity: 0.78;
				}
			}
		}
		.product-image {
		  	float: $left;
		  	margin-bottom: 0;
		  	padding-top: 0;
		  	width: 98px;
		  	margin-#{$right}: 20px;
		  	border: 1px solid #f5f5f5;
		  	> a::before {
			  background: $primary_color;
			}
		}
		h3 {
			padding-top: 0;
			padding-bottom: 0;
			@media (min-width: 992px){
				margin-top: -5px;
			}
			a {
				color: #444;
				display: block;
				font-weight: 400;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			  	&:hover{
			  		color: $primary_color;
			  	}
			}
		}
		.product-action-grid{
			display: none;
		}
		.action_item_box{
			padding-bottom: 2px;
		}
		.product-action-list {
		  	display: block;
		  	opacity: 1;
		  	position: static;
		  	visibility: visible;
		  	padding: side-values(10px 0 0);
		  	text-align: $left;
		  	.action_item {
		  		display: inline-block;
		  		text-align: center;
		  		vertical-align: middle;
		  		padding: side-values(0 2px);
		  		a {
				  	height: 30px;
				  	line-height: 32px;
				  	width: 30px;
				  	font-size: 16px;
				}
		  	}
		  	.product_type_simple, 
		  	.add_to_cart_button {
		  		width: 30px;
		  		height: 30px;
		  		padding: side-values(0);
		  		border-radius: 30px; 
		  		line-height: 32px;
		  		vertical-align: middle;
		  		border: 1px solid transparent;
		  		margin-#{$right}: 2px;
		  		b
			  	.add_cart_list {
				    display: none;
				}
				.pe-7s-cart{
					display: inline-block;
				}
			}
		}
	}
	.product-desc {
	  overflow: hidden;
	  text-align: $left;
	}
	.product-label span.onsale {
	  bottom: 5px;
	  #{$left}: 5px;
	  #{$right}: auto;
	  top: auto;
	}
	.product-label span.onhot {
	  #{$left}: 5px;
	  #{$right}: auto;
	  top: 5px;
	}
	.product-label span.new {
	  #{$left}: 0;
	  #{$right}: auto;
	  top: 35px;
	}
}
.update-wishlist{
	.blockUI{
		display: none !important;
	}
}

// Cate Archive
.cate-archive {
	margin: side-values(0 -15px);
	margin-bottom: 70px;
	width: 33.3333%;
	float: $left;
	overflow: hidden;
	.product-category{
		padding: side-values(0 15px);
		text-align: center;
		img{
			width: 100%;
		}
		a:hover{
			.woocommerce-loop-category__title, .count {
				color: $primary_color;
			}
		}
		.woocommerce-loop-category__title {
		  	font-size: 18px;
		  	margin-top: 20px;
		  	line-height: normal;
		  	text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		  	.count {
			  	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
			}
		}
	}
	.slick-arrow {
	  	background: #fff none repeat scroll 0 0;
	  	border: medium none;
	  	font-size: 20px;
	  	height: 40px;
	  	padding: side-values(0);
	  	position: absolute;
	  	top: 42%;
	  	z-index: 1;
	  	line-height: 40px;
	  	@include transform(translateY(-50%));
	  	width: 40px;
	  	&:hover{
	  		background: $primary_color;
	  		color: #fff !important;
	  	}
	  	&.btn-next{
	  		#{$right}: 0;
	  		#{$left}: auto;
	  	}
	  	&.btn-prev{
	  		#{$left}: 0;
	  		#{$right}: auto;
	  	}
	}
}
@media (min-width: 640px){
	.product-categories-shortcode .columns-2 li{
		width: 50%;
	}
}

@media (min-width:1200px){
	.vc_col-lg-3 .product_layout_list .price del{
		display: block;
	}
	.product-categories-shortcode .columns-5 li{
		width: 20%;
	}
	.product-categories-shortcode .columns-6 li{
		width: 16.6667%;
	}
}
@media (min-width:1024px){
	.single-product .main-sidebar{
		.media{
			width: 44.6%;
		}
		.info{
			width: 55.4%
		}
	}
}
@media (max-width:1199px){
	.related.products {
	    margin-top: 30px;
	}
	.box_farm_deal .countdown-2 .ult_countdown-row {
	  	margin-#{$left}: 30px;
	}
}
@media (min-width:992px){
	.product_layout_packery {
		.woocommerce div.product-grid div.product{
			&.image_size2 {
			 	height: 733px;
			}
			&.image_size {
			 	height: 367px;
			}
		}
	}
}
@media (max-width:991px){
	.product-tab .tab-content{
		margin-bottom: 20px;
	}
	.single-product .info{
		margin-top:30px	
	}
	.single-product .cart{
		float: $left;
		margin-#{$right}: 10px;
		display: inline-block;
	}
	.info .summary .add-to:last-child, #yith-quick-view-content .summary .add-to:last-child {
	    #{$right}: 0 !important;
	    float: $left;
	    position: relative;
	    top: 10px;
	    border: none;
	    display: inline-block;
	}
	.layout_style_2.layout_style_5 .product-content .product-image {
	  margin-bottom: 20px;
	}
	.product_layout_packery .woocommerce div.product-grid div.product.image_size,
	.product_layout_packery .woocommerce div.product-grid div.product.image_size2 {
	  	width: 50%;
	}
}
@media (min-width: 768px){
	.product-entries-wrap .product-content{
		.action_item,
		.button.add_to_cart_button{
			position: relative;
			bottom: -30px;
		}
		.wishlist-btn{
			@include transitions(all 0.3s ease-in-out);
		}
		.button.add_to_cart_button{
			@include transitions(all 0.5s ease-in-out);
		}
		.quick-view{
			@include transitions(all 0.7s ease-in-out);
		}
		&:hover{
			.product-image > a:before{
				opacity: 0.7;
			}
			.action_item,
			.button.add_to_cart_button{
				bottom: 0;
			}
		}
	}
}
@media (max-width: 767px){
	.product-cate-h4 {
    	margin-top: -70px;
    }
    .woocommerce.columns-4 li,
    .woocommerce.columns-3 li {
	    width: 50%;
	}
	.layout_style_1  .product-content .product-image {
	    margin-bottom: 20px;
	    margin-top: 0;
	}
	.box-pro-h8 .layout_style_2.image_left_pos .product_style_2 {
		.product-content {
		  	padding: side-values(15px);
		}
		.product-desc h3 a {
		    font-size: 34px;
		}
	}
	.banner_fresh_box .wpb_single_image.vc_align_right {
	  	position: static !important;
	}
}
@media (max-width: 600px){
	.product-categories-shortcode .prd_cat_count .figcaption .cat_link{
		margin:side-values(22px 0 0);
	}
	.product-cate-h4 {
    	margin-top: 50px;
    }
    
}
@media (max-width: 550px){
	.product_layout_packery .woocommerce div.product-grid div.product.image_size,
	.product_layout_packery .woocommerce div.product-grid div.product.image_size2 {
	  	width: 100%;
	}
}
@media (max-width: 500px){
	.product-grid {  
	  	border-left: medium none;
	  	.item {
		  border-width: 1px;
		  margin-bottom: 0;
		}
	}
	.product-grid-wrap.product_archives {
	  	border-left: medium none;
	} 
	.product-grid .item {
	  margin-bottom: 30px;
	  box-shadow: none;
	  &:last-child{
	  	margin-bottom: 0;
	  }
	} 
}
@media (max-width: 480px){
	.woocommerce.columns-4 li,
	 .woocommerce.columns-3 li {
	    width: 100%;
	}
	.layout_style_2 .product_style_2 {
		.product-content {
		  	padding-bottom: 0 !important;
		}
		.product-desc h3 a {
		  font-size: 22px;
		}
	}
	.single-product .comment-reply-title{
		padding-top:0;
	}
	.single-product .cart{
		margin-#{$right}:0;
	}
	.product-tab {
	    margin-top: 0;
	}
}
@media(max-width:375px){
	.single-product .cart{
		width: 100%;
	}
	.info .summary .add-to-cart, #yith-quick-view-content .summary .add-to-cart{
		width: 100% !important;
		padding-top:15px;
		padding-#{$left}:0 !important;
	}
	.info .summary .add-to:last-child, #yith-quick-view-content .summary .add-to:last-child {
	    float: $right;
	    top: -112px;
	}
}

@media (max-width: 767px) {
	.cate-archive .product-category {
		width: 50%;
	}
}
@media (max-width: 500px) {
	.cate-archive .product-category {
		width: 100%;
	}
}
	.woocommerce-page .wishlist_table .product-add-to-cart .button {
	line-height: 37px;
	font-size: 20px;
}
.woocommerce-page .shop_table.wishlist_table thead .product-price span {
	font-size: 16px;
}
.product-content .variations_form.cart {
	display: inline-block;
}
.product-content .variations {
	position: absolute;
	width: calc(100% - 40px);
	#{$left}: 20px;
	bottom: 65px;
}
.product-content .reset_variations {
	display: none !important;
}
.product-content .variations tr td.label {
	display: none;
}
.product-content .variations tr {
	width: 50%;
	float: #{$left};
}
.product-content .variations tr td.value {
	width: 100%;
	padding: 0 10px;
}
.product-content .variations tr td select {
	margin-bottom: 0;
	height: 40px;
}
.product-content .woocommerce-variation.single_variation,
.product-content .qty,
.product-content .quantity.buttons_added{
	display: none !important;
}
.product-content .single_variation_wrap .single_add_to_cart_button {
	width: 36px;
	height: 36px;
	border: 1px solid #80bb01;
	padding: 0;
	text-indent: -9999em;
	background: #80bb01;
	border-radius: 50%;
	position: relative;
	color: #fff;
}
.product-content .single_variation_wrap .single_add_to_cart_button:hover {
	background-color: transparent;
	border-color: #80bb01;
	color: #80bb01;
}
.product-content .single_variation_wrap .single_add_to_cart_button::before {
	content: "\e66e";
	font-family: 'Pe-icon-7-stroke';
	text-indent: 1px;
	display: block;
	position: absolute;
	font-size: 18px;
	#{$left}: 50%;
	-webkit-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
	transform: translate(-50%);
}
.yith-wcwl-add-to-wishlist .ajax-loading::after, 
.add_to_cart_button.loading::after, 
.single_add_to_cart_button.loading::after {
	#{$left}: 7px;
	top: 7px;
	-moz-transform: none;
	-o-transform: none;
	-ms-transform: none;
	-webkit-transform: none;
	transform: none;
}