/* Header */
#header {
	position: relative;
	z-index: 1030;

	// Body
	.header-body {
		display: flex;
		flex-direction: column;
		background: #FFF;
		transition: min-height 0.3s ease;
		width: 100%;
	    border: 0;
	    box-shadow: none;
		border-bottom: 1px solid transparent;
		z-index: 1001;
	}

	// Container
	.header-container {
		position: relative;
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		transition: ease height 300ms;
	}

	// Grid Container
	.container {
		position: relative;
		@media (max-width: 767px) {
			width: 100%;
		}
	}

	// Row
	.header-row {
		display: flex;
		flex-grow: 1;
		align-items: center;
		align-self: stretch;
		max-height: 100%; // firefox
	}

	// Column
	.header-column {
		display: flex;
		align-self: stretch;
		align-items: center;
		flex-grow: 1;
		flex-direction: column;
		.header-row {
		    justify-content: inherit;
		}
	}

	// Top
	.header-top {
		display: flex;
		align-items: center;
		border-bottom: 1px solid rgba(0,0,0,.06);
		min-height: 47px;
	}

	// Logo
	.header-logo {
		margin: 1rem 0;
		position: relative;
		z-index: 1;
		img {
			transition: all 0.3s ease;
			position: relative;
			top: 0;
		}
	}

	// Header Nav
	.header-nav {
		padding: 1rem 0;
		min-height: 70px;
		display: flex;
		flex-grow: 1;
	}

	// Nav Top
	.header-nav-top {
		display: flex;
		align-self: stretch;
		align-items: center;
		.nav {
			> li {
				> a, > span {
					color: #999;
					font-size: 0.9em;
					padding: 6px 10px;
					display: inline-block;
					[class*="fa-"], .icons {
						margin-#{$right}: 3px;
						font-size: 0.8em;
						position: relative;
					}
				}
				> a {
					text-decoration: none;
					&:hover, a:focus {
						background: transparent;
					}
				}
				&.open {
					> .dropdown-menu-toggle {
						border-radius: 4px 4px 0 0;
					}
				}
				& + .nav-item-left-border {
					margin-#{$left}: 10px;
					padding-#{$left}: 10px;
					position: relative;
					&:after {
						background: rgba(0,0,0,0.08);
						content: "";
						width: 1px;
						height: 16px;
						position: absolute;
						display: block;
						top: 50%;
						transform: translate3d(0, -50%, 0);
						#{$left}: 0;
					}
				}
				@media(max-width: 575px) {
					&:not(.d-none) {
						margin-#{$left}: 0;
						padding-#{$left}: 0;
					}
				}

				&.nav-item.dropdown.show {
					.nav-link {
						background: transparent;
					}
				}
				&.nav-item:not(.dropdown) {
					> a {
						[class*="fa-"], .icons {
							#{$left}: -1px;
							top: -1px;
						}
					}
				}
				&.nav-item-anim-icon {
					> a {
						&:hover {
							[class*="fa-"], .icons {
								animation: navItemArrow 600ms ease;
								animation-iteration-count: infinite;
							}
						}
					}
				}
			}
		}
		.dropdown {
			.dropdown-item {
				font-size: 0.75em;
			}
		}
		.dropdown-menu {
			border: 0;
			margin-top: -2px;
			margin-#{$left}: -2px;
			padding: 0;
			box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
			background: #FFF;
			padding: 3px;
			min-width: 180px;
			z-index: 10000;
			margin-#{$right}: 0;
			margin-top: 1px;
			transition: opacity .2s ease-out;
			border-radius: 0;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				#{$right}: 5px;
				width: 0;
				height: 0;
				border-#{$left}: 7px solid transparent;
				border-#{$right}: 7px solid transparent;
				border-bottom: 7px solid white;
				transform: translate3d(-7px, -6px, 0);
			}
			a {
				color: #999;
				padding: 5px 12px;
				font-size: 0.9em;
				&:active {
					color: #FFF;
				}
			}
		}
	}

	// Nav Top Features
	.header-nav-features {
		position: relative;
		margin-#{$left}: 10px;
		display: inline-flex !important;
		&:before,
		&:after {
			background: rgba(0,0,0,0.03);
			content: none;
			width: 1px;
			height: 16px;
			position: absolute;
			display: block;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			#{$left}: 0;
		}


		.header-nav-top-icon,
		.header-nav-top-icon-img {
			font-size: 0.8rem;
			position: relative;
			top: -1px;
			color: #444;
		}

		.header-nav-top-icon-img {
			top: -2px;
		}

		.header-nav-feature {
			position: relative;
		}

		.header-nav-features-dropdown {
			opacity: 0;
			top: -10000px;
			position: absolute;
			box-shadow: 0 10px 30px 10px rgba(0, 0, 0, 0.05);
			background: #FFF;
			padding: 17px;
			min-width: 300px;
			z-index: 10000;
			#{$right}: 100%;
			margin-#{$right}: -25px;
			margin-top: 30px;
			transition: opacity .2s ease-out;
			pointer-events: none;
			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				#{$right}: if-ltr(5px, 17px);
				width: 0;
				height: 0;
				border-#{$left}: 7px solid transparent;
				border-#{$right}: 7px solid transparent;
				border-bottom: 7px solid white;
				transform: translate3d(-7px, -6px, 0);
			}
			&.show {
				opacity: 1;
				top: auto;
				pointer-events: all;
			}


		}
	}


	// Search
	.header-search {
		margin-#{$left}: 1rem;
		.form-control {
			border-radius: 20px;
			font-size: 0.9em;
			height: 34px;
			margin: 0;
			padding: 6px 12px;
			transition: width 0.3s ease;
			@include performance();
			width: 170px;
		}
	}

	// Header Social Icons
	.header-social-icons {
		margin-#{$left}: 1rem;
	}

	// Collapse Nav
	.header-btn-collapse-nav {
		background: #CCC;
		color: #FFF;
		display: none;
		float: $right;
		margin: side-values(0 0 0 1rem);
	}
}

// Navigations
#header{
	.header-nav-bar{
		background-color: #f7f7f7;
	}
}

/* Responsive */
@media (min-width: 992px) {
	#header {
		// Prevent wrong header body height
		// when resize window with mobile menu opened
		.header-body:not(.h-100) {
			height: auto !important;
		}
	}
}

@media (max-width: 991px) {
	#header {

		.header-logo {
			img {
				z-index: 1;
			}
		}

		.header-nav {
			display: flex;
			align-items: center;
		}

	}
}

// RTL
html[dir="rtl"] {
	#header {
		.header-search {
			.btn-light {
				right: -35px;
			}
		}
	}
}

// IE
html.ie {
	#header {
		.header-column {
			.header-extra-info {
				.feature-box {
					.feature-box-info {
						flex: none;
					}
				}
			}
		}
	}
}

// Safari
@media(max-width: 991px) {
	html.safari #header .header-body {
		overflow: visible !important;
	}
}
