/* Header Nav Main */
@media (min-width: 992px) {
	#header {

		.header-nav-main {
			display: flex !important;
			height: auto !important;
			nav {
				display: flex !important;
				> ul {
					> li {
						height: 100%;
						align-self: stretch;
						margin-#{$left}: 2px;
						// Chrome Bug Fix
						@include if-rtl {
							direction: ltr;
						}
						> a {
							display: inline-flex;
							align-items: center;
							white-space: normal;
							border-radius: 4px;
							color: #CCC;
							font-size: 12px;
							font-style: normal;
							font-weight: 700;
							padding: 0.5rem 1rem;
							letter-spacing: -0.5px;
							text-transform: uppercase;

							&:after {
								display: none;
							}

							&:active {
								background-color: transparent;
								text-decoration: none;
								color: #CCC;
							}

							&.dropdown-toggle {
								.fa-chevron-down {
									display: none;
								}
							}

							&.active {
								background-color: transparent;
							}

						}
						&.open, &:hover {
							> a {
								background: #CCC;
								color: #FFF;
							}
						}
						&.dropdown {
							.dropdown-menu {
								top: -10000px;
								display: block;
								opacity: 0;
								left: auto;
								// Chrome Bug Fix
								@include if-rtl {
									right: 0;
									direction: rtl;
								}
								border-radius: corner-values(0 4px 4px);
								border: 0;
								border-top: 3px solid #CCC;
								box-shadow: 0 15px 30px -5px rgba(0,0,0,.07);
								margin: 0;
								min-width: 200px;
								padding: 5px 0;
								text-align: $left;
								li {
									a {
										border-bottom: 1px solid #f7f7f7;
										color: #777;
										font-size: 0.8em;
										font-weight: 400;
										padding: side-values(6px 18px 6px 18px);
										position: relative;
										text-transform: none;
										letter-spacing: -0.5px;
										&:hover, &:focus, &.active, &:active {
											background-color: transparent;
										}
									}
									&:hover, &:focus, &.active, &:active {
										> a {
											background-color: #f8f9fa;
										}
									}
									&.dropdown-submenu {
										position: relative;
										> a {
											.fa-chevron-down {
												display: none;
											}
											&:after {
												font-family: 'Font Awesome 5 Free';
												content: "\f054";
												font-weight: 900;
												position: absolute;
												top: 50%;
												font-size: 0.5rem;
												opacity: 0.7;
												#{$right}: 20px;
												transform: translateY(-50%);
												transition: all .2s ease-out;
												@include if-rtl {
													content: "\f053";
												}
											}
										}
										> .dropdown-menu {
											#{$left}: 100%;
											display: block;
											margin-top: -8px;
											margin-#{$left}: -1px;
											border-radius: 4px;
											opacity: 0;
										    transform: translate3d(0, 0, 0);
										}
										&.open, &:hover {
											> a {
												&:after {
													opacity: 1;
													#{$right}: 15px;
												}
											}
											> .dropdown-menu {
												top: 0;
												opacity: 1;
											}
										}

									}
									&:last-child {
										a {
											border-bottom: 0;
										}
									}
								}
							}
							&.open, &:hover {
								> a {
									border-radius: 4px 4px 0 0;
									position: relative;
									&:before {
										content: '';
										display: block;
										position: absolute;
										left: 0;
										right: 0;
										bottom: -3px;
										border-bottom: 5px solid #CCC;
									}
								}
								> .dropdown-menu {
									top: auto;
									display: block;
									opacity: 1;
								}
							}
						}

						// Mega Menu
						&.dropdown-mega {
							position: static;
							> .dropdown-menu {
								border-radius: 4px;
								left: 15px;
								right: 15px;
								width: auto;
							}
							.dropdown-mega-content {
								padding: 1.6rem;
							}
							.dropdown-mega-sub-title {
								color: #333333;
								display: block;
								font-size: 0.85em;
								font-weight: 600;
								margin-top: 20px;
								padding-bottom: 10px;
								text-transform: uppercase;
								letter-spacing: -0.5px;
								&:first-child {
									margin-top: 0;
								}
							}
							.dropdown-mega-sub-nav {
								list-style: none;
								padding: 0;
								margin: 0;
								> li {
									> a {
										border: 0 none;
										border-radius: 4px;
										color: #777;
										display: block;
										font-size: 0.8em;
										font-weight: normal;
										margin: side-values(0 0 3px -8px);
										padding: 3px 8px;
										text-shadow: none;
										text-transform: none;
										text-decoration: none;
									}
									&:hover {
										> a {
											background: #f7f7f7;
										}
									}
								}
							}

						}

						.wrapper-items-cloned {
							i {
								display: none;
							}
						}
					}
				}
			}

		}

		// Header Navbar
		.header-nav-bar {
			z-index: 1;
			&.header-nav-bar-top-border {
				border-top: 1px solid #EDEDED;
			}
			.header-container {
				min-height: 0;
				height: auto !important;
			}
			.header-nav {
				min-height: 60px;
			}

		}

		// Header Nav Main Styles
		.header-nav {
			display: flex;
			align-items: center;
			flex-grow: 1;
		    justify-content: flex-end;
		    align-self: stretch;

			// Header Nav Stripe
			&.header-nav-stripe {
				padding: 0;
				.header-nav-main {
					align-self: stretch;
					margin-top: -1px;
					min-height: 0;
				}
				nav {
					display: flex;
					> ul {
						> li {
						    display: inline-flex;
						    align-self: stretch;
							> a {
								background: transparent;
								padding: 0 .9rem;
								margin: 1px 0 0;
								height: 100%;
							}
              &.active > a {
                color: #333;
                background: transparent;
              }
							&:hover, &.open {
								> a, &.active > a {
									color: #FFF;
									padding-bottom: 0;
								}
							}

							&.dropdown {
								&.open, &:hover {
									> a {
										&:before {
											content: none;
										}
									}
									> .dropdown-menu {
										top: 100%;
										#{$left}: 0; // iefix
										margin-top: 1px;
									}
								}

								&.dropdown-reverse {
									> .dropdown-menu {
										#{$left}: auto;
									}
								}
							}
						}
					}
				}

				&.header-nav-main-dark {
					nav {
						> ul {
							> li {
								&:hover {
									> a {
										color: #FFF !important;
									}
								}
							}
						}
					}
				}
			}

			&.header-nav-stripe {
				nav {
					> ul:not(:hover) {
						> li {
              &.active > a {
							    color: #FFF !important;
							}
						}
					}
					> ul {
						> li:hover {
              &.active > a {
									color: #FFF !important;
							}
						}
					}
				}
			}

			// Header Nav Links / Line
			&.header-nav-links,
			&.header-nav-line {
				padding: 0;
				.header-nav-main {
					align-self: stretch;
					min-height: 0;
				    margin-top: 0;
				}
				nav {
					> ul {
						> li, > li:hover {
							> a {
								position: relative;
								background: transparent !important;
								padding: 0 .9rem;
								margin: 1px 0 0;
								min-height: 60px;
								height: 100%;
							}
						}
						> li {
							&:hover, &.open {
								> a {
									&:before {
										opacity: 1;
									}
								}
							}

              &.active > a {
									background: transparent;
									&:before {
										opacity: 1;
									}
							}

							&.dropdown {
								> a {
									&:before {
										border-bottom: 0;
									}
								}
								&.open, &:hover {
									> .dropdown-menu {
										margin-top: 0;
									}
								}
							}
						}
					}
				}

			}

			&.header-nav-links:not(.header-nav-light-text),
			&.header-nav-line:not(.header-nav-light-text) {
				nav {
					> ul {
						> li {
							> a {
								color: #444;
							}
						}
					}
				}
			}

			&.header-nav-links.header-nav-light-text,
			&.header-nav-line.header-nav-light-text {
				nav {
					> ul {
						> li {
							> a {
								color: #FFF;
							}
						}
					}
				}
			}

			&.header-nav-links.header-nav-force-light-text,
			&.header-nav-line.header-nav-force-light-text {
				nav {
					> ul {
						> li {
							> a {
								color: #FFF !important;
							}
              &.active > a {
                color: #FFF !important;
              }
							&:hover, &:focus, &:active {
								> a {
									color: #FFF !important;
								}
							}
						}
					}
				}
			}

			&.header-nav-line {
				nav {
					> ul {
						> li, > li:hover {
							> a {
								&:before {
									content: "";
									position: absolute;
									background: transparent;
									width: auto;
									height: 3px;
									top: -2px;
									left: -1px;
									right: -1px;
									opacity: 0;
								}
							}
						}
						> li:hover {
							> a {
								&:before {
									opacity: 1 !important;
								}
							}
						}
					}
				}

				// Header Nav Top Line
				&.header-nav-top-line {
					nav {
						> ul {
							> li, > li:hover {
								> a {
									&:before {
										content: "";
										position: absolute;
										width: 100%;
										height: 3px;
										top: -2px;
										left: 0;
									}
								}
							}
						}
					}
					&.header-nav-top-line-with-border {
						nav {
							> ul {
								> li, > li:hover {
									> a {
										&:before {
											top: -4px;
										}
									}
								}
							}
						}
					}
				}

				// Header Nav Top Line
				&.header-nav-top-line-animated {
					nav {
						> ul {
							> li {
								> a {
									&:before {
										transition: all .3s ease;
										width: 0%;
										left: 50%;
									}
								}
								&:hover {
									> a {
										&:before {
											left: 0;
											width: 100%;
										}
									}
								}
							}
						}
					}
				}

				// Header Nav Bottom Line
				&.header-nav-bottom-line {
					nav {
						> ul {
							> li, > li:hover {
								> a {
									&:before {
									    content: "";
									    position: absolute;
									    width: auto;
									    height: 3px;
									    top: 50%;
									    left: 15px;
									    right: 15px;
									    margin-top: 15px;
									    transform: translate3d(0, -50%, 0);
									}
								}
							}
						}
					}
					&.header-nav-line-under-text {
						nav {
							> ul {
								> li, > li:hover {
									> a {
										&:before {
											left: 0;
											right: 0;
											height: 7px;
											margin: 6px 10px 15px 10px;
											opacity: 0.3 !important;
										}
									}
								}
							}
						}
					}
					&.header-nav-bottom-line-effect-1 {
						nav {
							> ul {
								> li {
									> a {
										&:before {
											transition: cubic-bezier(.55,0,.1,1) right 300ms;
											right: 100%;
										}
									}
                  &.active > a{
                    &:before {
                      right: 15px;
                    }
                  }
								}
								> li:hover {
									> a {
										&:before {
											right: 15px;
										}
									}
								}
							}
						}
						&.header-nav-line-under-text {
							nav {
								> ul {
									> li {
                    &.active > a {
                      &:before {
                        right: 0;
                      }
                    }
									}
									> li:hover {
										> a {
											&:before {
												right: 0;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			// Header Nav No Space Dropdown
			&.header-nav-no-space-dropdown {
				nav {
					> ul {
						> li {
							&.dropdown {
								&.open, &:hover {
									> .dropdown-menu {
										margin-top: -1px;
									}
								}
							}
						}
					}
				}

			}

			// Header Nav Force Light Text
			&.header-nav-force-light-text {
				.header-nav-main {
					nav {
						> ul {
							> li {
								&, .wrapper-items-cloned {
									> a {
										color: #FFF !important;
									}
								}
							}
						}
					}
				}
			}

		}
	}
}

/* Header Nav Main Colors */
@media (min-width: 992px) {

	html {

		#header {

			// Header Nav Main
			.header-nav-main {
				nav {
					> ul {
						> li {
							&.dropdown-full-color {
								.dropdown-menu {
									border-top: 0;
									li.dropdown-submenu {
										> .dropdown-menu {
											margin-top: -5px;
										}
									}
								}
							}
						}
					}
				}
			}

		}

	}

}

// Header Nav Effect 1
@media (min-width: 992px) {
	#header {

		.header-nav-main-effect-1 {
			nav {
				> ul {
					> li {
						&.dropdown {
							.dropdown-menu, .dropdown-mega-sub-nav {
								li {
									a {
										transition: transform .2s ease-out;
										transform: translate3d(0,-5px,0);
									}
								}
							}
							&:hover {
								> .dropdown-menu, .dropdown-mega-sub-nav {
									li {
										a {
											transform: translate3d(0,0,0);
										}
									}
								}
							}
						}
						&.dropdown {
							.dropdown-menu {
								transition: transform .2s ease-out;
								transform: translate3d(0,-5px,0);
							}
							&:hover {
								> .dropdown-menu {
									transform: translate3d(0,2px,0);
								}
							}
						}
					}
				}
			}
		}

		.header-nav {
			&.header-nav-stripe,
			&.header-nav-links,
			&.header-nav-line,
			&.header-nav-dropdowns-dark {

				.header-nav-main-effect-1 {
					nav {
						> ul {
							> li {
								&.dropdown {
									&:hover {
										> .dropdown-menu {
											transform: translate3d(0,0,0);
										}
									}
								}
							}
						}
					}
				}

			}
		}

	}
}

// Header Nav Sub Effect 1
@media (min-width: 992px) {
	#header {

		.header-nav-main-sub-effect-1 {
			nav {
				> ul {
					> li {
						&.dropdown {
							.dropdown-menu {
								li {
									&.dropdown-submenu {
										> .dropdown-menu {
											transition: transform .2s ease-out, opacity .2s ease-out;
											transform: translate3d(-10px,0,0);
											@include if-rtl {
												transform: translate3d(10px,0,0);
											}
											opacity: 0;
										}
										&:hover {
											> .dropdown-menu {
												transform: translate3d(0,0,0);
												opacity: 1;
											}
										}

										&.dropdown-reverse {
											> .dropdown-menu {
												transition: transform .2s ease-out, opacity .2s ease-out;
												transform: translate3d(10px,0,0);
												left: auto;
												right: 100%;
												opacity: 0;
											}
											&:hover {
												> .dropdown-menu {
													transform: translate3d(0,0,0);
													opacity: 1;
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}

	}
}
