/* #Footer */
#footer {
	background: $color-dark;
	border-top: 4px solid $color-dark;
	font-size: 0.9em;
	margin-top: 50px;
	padding: 0;
	position: relative;
	clear: both;
	color: $color-light;

	// Headings
	h1, h2, h3, h4, h5, h6 {
		color: $color-light;
	}

	// Link
	a:not(.btn) {
		color: #FFF;
		@include transitions(all 0.1s ease-in-out);

		&:hover {
			text-decoration: none;
			color: #e35032;
		}

		&:focus, &:active {
			color: #CCC;
		}

		// Light
		&.text-color-light {
			color: $color-light;

			&:hover {
				color: darken($color-light, 10%);
			}

			&:focus, &:active {
				color: darken($color-light, 20%);
			}
		}

		// Link Style
		&.link-hover {
			position: relative;
			#{$left}: 0px;
			@include transitions(all 0.1s ease-in-out);
			&:hover {
				#{$left}: 3px;
			}
		}
	}

	.footer-copyright{
		background: #1c2023;
		ul{
			padding: 0;	
			& li {
				display: inline-block;
			    line-height: 12px;
			    margin: 0;
			    padding: side-values(0 8px);	
			}
		}
	}
	p{
		color: #FFF;
		 
	}
}
