/**
 * Global
 */

html {
	direction: $dir;
	overflow-x: hidden;
	box-shadow: none !important;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $light-bg;
	color: $color-font-default;
	font-family: $font-primary;
	font-size: $body-font-size + 0px;
	line-height: $body-line-height + 0px;
	margin: 0;
	@include if-rtl() {
		text-align: right;
	}

	a {
		outline: none !important;
	}

}

.body {
	background-color: $light-bg;
}

body #page{
  position: relative;
  #{$left}: 0;
  @include transitions(all 0.3s ease-in-out 0s);
  z-index: 1;
}

html.safari:not(.no-safari-overflow-x-fix) .body {
	overflow-x: hidden;
}

body, html {
  overflow-x: hidden;
  width: 100%;  
}

a{
  color: #000;
}

ins, del {
  text-decoration: none;
}

del {
  padding-#{$right}: 5px;
  span{
    text-decoration: line-through;
    color: #afafaf !important;
  }
}

select::-ms-expand {
    display: none;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  -ms-appearance: textfield;
  appearance: textfield;
}

//remove x button in ie
input[type=text]::-ms-clear {
    display: none;
}

table {
    width: 100%;
}
table, table td {
    padding: side-values(0);
    border: none;
    border-collapse: separate;
}

iframe{max-width: 100%; border: none;}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    padding: side-values(0 0 0 40px);
  }
  li > ul, li > ol {
    margin: side-values(0);
}

ul ul, ol ul, ul ol, ol ol {
	margin-bottom: 0;
}

ul, ol {
	margin-top: 0;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

ol {
  display: block;
  list-style-type: decimal;
  padding: side-values(0 0 0 40px);
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol ul, ol ul ul, ul ol ul, ul ul ul {
  list-style-type: square;
}

li{
	background: transparent;
	border: 0 none;
	font-weight: inherit;
	margin: side-values(0);
	border: 0;
	padding: side-values(auto);
	outline: 0;
	vertical-align: top;
}


li {
	line-height: 24px;
}

a:focus,
a:hover{
	color: $color-primary;
}
a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none !important;
}

h1,h2,h3,h4,h5,h6{
	color:#000;
	margin: side-values(0);
	line-height: 100%;
	font-weight: 400;
  font-family: Poppins;
}
h1{
	font-size:36px;
}
h2{
	font-size:32px;
}
h3{
	font-size:20px;
}
h4{
	font-size:18px;
}
h5{
	font-size:16px;
}
h6{
  font-size:14px;
}
p{
	line-height: 24px;
}
img{
	max-width:100%;
	height: auto;
}
button{
	&:focus,
	&:active,
	&:active:focus, 
	&:focus:active{
		outline: none !important;
	}
}
input, textarea{
  background: #f5f5f5 none repeat scroll 0 0;
  padding: side-values(17px 29px 16px);
  border: medium none;
  color: #707070;
  box-shadow: none;
}
input:focus,
textarea:focus{
	outline: none !important;
}
input{
	line-height: normal;
    border-radius: corner-values(0);
}
figure {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: side-values(0);
}
input,
textarea{
  border-radius: corner-values(0);
}
select {
  	-webkit-appearance: none;
 	-moz-appearance: none;
 	-ms-appearance: none;
  	-o-appearance: none;
  	appearance: none;
  	border-radius: corner-values(0);
  	height: 40px;
 	text-transform: capitalize;
	overflow: hidden;
	padding: side-values(0 0 0 10px);
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
  outline: none;
    background: url(../images/caret-down.png) no-repeat $right 20px;
    border: none;
    padding-#{$left}: 0;
    color: #777;
    font-size: 14px;
    &:focus{
      outline: none;
    }
}

.input-text::-ms-input-placeholder {  
   opacity: 1;
}
.input-text::-moz-placeholder {  
   opacity: 1;
}
.input-text::-o-placeholder {  
   opacity: 1;
}
.input-text::-webkit-input-placeholder { 
   opacity: 1;
}
.textarea::-ms-input-placeholder {  
   opacity: 1;
}
.textarea::-moz-placeholder {  
   opacity: 1;
}
.textarea::-o-placeholder {  
   opacity: 1;
}
.textarea::-webkit-input-placeholder { 
   opacity: 1;
}


// grid
.col-xs-55,
.col-sm-55,
.col-md-55,
.col-lg-55 {
    position: relative;
    min-height: 1px;
    padding-#{$right}: 15px;
    padding-#{$left}: 15px;
}
.col-xs-55 {
    width: 20%;
    float: $left;
}
@media (min-width: 768px) {
 .col-sm-55 {
        width: 20%;
        float: $left;
    }
}
@media (min-width: 992px) {
    .col-md-55 {
        width: 20%;
        float: $left;
    }
}
@media (min-width: 1200px) {
    .col-lg-55 {
        width: 20%;
        float: $left;
    }
}


// styles
.screen-reader-text{display: none;}

.container,.main-sidebar{
	.container{
		width: auto;
		padding-#{$left}: 0;
		padding-#{$right}: 0;
	}
}

.scroll-to-top {
    background: $color-primary none repeat scroll 0 0;
    border: none;
    bottom: -100px;
    cursor: pointer;
    height: 35px;
    line-height: 25px;
    padding: side-values(3px);
    position: fixed;
    #{$right}: 25px;
    text-align: center;
    width: 35px;
    z-index: 99999;
    color: #fff;
    border-radius: corner-values(5px);
    i{
      line-height: 25px;
    }
    &:hover{
      color: #fff;
      background: #000;
    }
}

/* Responsive */
@media (max-width: 575px) {

	body {
		font-size: 13px;
	}

}

/**
 * Block editor color palette utilities
 * @see https://git.io/JeyD6
 */

@each $color-name, $color-value in $theme-colors {
  .has-#{$color-name}-color {
    color: $color-value;
  }

  .has-#{$color-name}-background-color {
    background-color: $color-value;
  }
}
