.mega-menu > li.megamenu .sub-menu li:last-child a {
  border-bottom: medium none;
}
.mega-menu{
	display: inline-block;
	text-align: $left;
	vertical-align: middle;
    padding: side-values(0);
    margin: side-values(0);	
	z-index: 900;
	> li.menu-item{
		display: inline-block;
	    list-style: none;	
		&:not(.megamenu){
			position: relative;
		}
		&.megamenu{
			li{
				display: inline-block;
				float: left;
			}
		}
		&.active {
			> a{
				color: $color-primary;
			}
		}
		> a{
			@media (min-width: 992px){
				padding: side-values(10px 25px);
				display: table-cell;
				vertical-align: middle;
			}
		}
	}
	li{	
		.sub-menu a i {
			margin-#{$right}: 7px;
		}	
		a{

		    align-items: center;
		    white-space: normal;;
		    font-size: 14px;
		    font-style: normal;
		    font-weight: 700;
		    padding: side-values(0.5rem 1rem);
		    letter-spacing: -0.5px;
		    text-transform: uppercase;
		    display: block;
		    position: relative;
		    .open-submenu {
			  	margin-#{$left}: 3px;
			}
		    &:hover, &:focus{
		    	color: $color-primary !important;
		    }
		}
		&:not(.megamenu){
			.sub-menu{
				.sub-menu {
				  #{$left}: 100%;
				  top: 0;
				  @include transform(rotate3d(0, 1, 0, 90deg));
				}
			}
		}
		.sub-menu{
			background: $light-bg none repeat scroll 0 0;
		  	list-style: outside none none;
		  	margin: side-values(0);
		  	padding: side-values(0);
		  	z-index: 99;
		  	li{
		  		position: relative;
		  		background-color: inherit;
		  		a{
		  			color: $color-font-light;
		  			border-bottom: 1px solid #f7f7f7;
		  			font-size: 0.8em;
				    font-weight: 400;
				    padding: 6px 18px 6px 18px;
				    position: relative;
				    text-transform: none;
				    letter-spacing: -0.5px;
		  		}
		  		&:last-child {
			  		> a{
			  			border-bottom: none;
			  		}
			  	}
			  	a{
					&:hover{
						color: $color-primary;
						background-color: #f7f6f6;
					}
				}
		  	}
			
		}
	}
	.megamenu{
		.dropdown-menu > li > a{
			&:hover{
				background: none;
			}
		}
	}
	li ul li ul{
		padding: side-values(0);
		
	}
}
.mega-menu > li.megamenu .sub-menu li:last-child a {
  border-bottom: medium none;
}